.container {
    max-width: 1200px;
  }
  
  .lh-condensed { line-height: 1.25; }
  
  .bg-transparent {
    background-color: transparent !important;
  }
  
  .whitetext {
    color: white;
  }
  
  .card {
    background-color: #960df5;
  }

  .ng5-slider-bubble {
    background-color: darkgoldenrod;
  }
  