
  <body class="bg-light bg-transparent">

    <div class="container" style="padding-left: 0px;">
      <div class="py-5 text-center whitetext">        <!-- HEADER -->
        <h2 style="margin-top: 80px;">CLASS SEARCH</h2>
      </div>

      <div class="row">
        <div class="col-md-9 order-md-2 mb-4" style="padding : 10px">      <!-- Class List -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="whitetext"><b> CLASS LIST </b></span>
            <span class="badge badge-secondary badge-pill">{{data.length}}</span>
          </h4>
          <h3 *ngIf="isEmpty">NO CLASS FOUND..!</h3>
          <ul class="list-group mb-3">
            <li *ngFor="let e of data" class="list-group-item d-flex justify-content-between lh-condensed">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" style="padding: 8px;" [src]="assetsUrl + e.cover_image" alt="Card image cap">
              </div>
              <span class="card-body">
                <h4>{{e.name}}</h4>
                <p class="card-right-text">{{e.body}}</p>
                <p class="card-right-text">Age Group:{{e.age_min}}-{{e.age_max}}</p>
                <p class="card-right-text">Scheduled Date:{{e.scheduled_date}},{{e.schedule_start_time}}</p>
                <p class="card-right-text">Class Size: {{e.max_size}}</p>
                                
              </span>
              <span class="text-muted">${{e.price}}</span>
            </li>
        <!--    <li class="list-group-item d-flex justify-content-between bg-light">
              <div class="text-success">
                <h6 class="my-0">Promo code</h6>
                <small>EXAMPLECODE</small>
              </div>
              <span class="text-success">-$5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (USD)</span>
              <strong>$20</strong>
            </li>   -->
          </ul>
        </div>
        <div class="col-md-3 order-md-1" style="border: #9517eb8c; border-style: solid; border-radius: 15px; background-color: whitesmoke;">           <!-- Apply Filter -->
          <h4 class="mb-3 ">APPLY FILTERS</h4>
          <hr class="mb-5" style="border-top: 2px solid rgba(0,0,0,.1);">

          <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" style="padding: 20px;" novalidate>

            <div formGroupName="country" class="row">
              <h5>Teacher's Country:</h5>

              <ng-multiselect-dropdown
                formControlName="selectedCountry"
                [placeholder]="'custom placeholder'"
                [data]="countryList"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
              >
              </ng-multiselect-dropdown>

            </div>
            
            <hr class="mb-5" style="border-top: 2px solid rgba(0,0,0,.1);">

            <div formGroupName="sub" >
              <h5>Subjects:</h5>
              
              <ng-multiselect-dropdown
                formControlName="selectedSubject"
                [placeholder]="'custom placeholder'"
                [data]="subjectList"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
              >
              </ng-multiselect-dropdown>
            </div>
            
            <hr class="mb-5" style="border-top: 2px solid rgba(0,0,0,.1);">

            <div formGroupName="price" class="row">
              <h6 >PRICE RANGE:</h6>
              <ng5-slider formControlName="val" [(value)]="pricevalue" [(highValue)]="pricehighValue" [options]="priceoptions"></ng5-slider>
            <!--  <div class="col-md-5 mb-2">
                <input type="number" formControlName="lowval" class="form-control" placeholder="Lower Range" >
              </div>
              <div class="col-md-5 mb-2">
                <input type="number" formControlName="highval" class="form-control" placeholder="Higher Range" >
              </div> -->
            </div> 
            <hr class="mb-4" style="color: white !important; width: 5px;">

            <div formGroupName="age" class="row">
              <h6 >AGE RANGE:</h6>
              <ng5-slider formControlName="val" [(value)]="agevalue" [(highValue)]="agehighValue" [options]="ageoptions"></ng5-slider>
            <!--  <div class="col-md-5 mb-2">
                <input type="number" formControlName="lowval" class="form-control" placeholder="Lower Range" >
              </div>
              <div class="col-md-5 mb-2">
                <input type="number" formControlName="highval" class="form-control" placeholder="Higher Range" >
              </div> -->
            </div>
            <hr class="mb-4">

            
<!--
            <h5>Subjects:</h5>
            <div *ngFor="let subject of subjects; let i = index;" class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="{{subject.id}}">
              <label class="custom-control-label" for="same-address">{{subject.name}}</label>
            </div>
            -->
            
            <hr class="mb-4">
            <button style="color: #960df5 !important; background-color: white !important;" class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="filterForm.pristine">APPLY FILTERS</button>
          </form>
        </div>
      </div>
    </div>
  </body>
