<!--
<div class="brite_class">
  <header id="header" class="container">
    <nav class="navbar smart-scroll navbar-expand-lg navbar-light bg-transparent fixed-top">
      <div class="container">
        <a class="navbar-brand" href="https://api.qualwebs.com/brite_bear"><img alt="" src="./assets/images/logo.png"/> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mt-2" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{userFirstName}} {{userLastName}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" routerLink="../profile">Profile</a>
                  <a class="dropdown-item" routerLink="login">Settings</a>
                  <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container container-size">
    <div class="text-center marginTop">
      <h3 class="teachingHeading">PROFILE</h3>
    </div>
    <div class="col-md-12 mt-5 mb-3">
      <div class="card p-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h5>Description</h5>
            </div>
            <div class="col-md-4 text-right pr-0 pt-0">
              <button class="btn btn-primary btnNext" routerLink="../profile">Save</button>
            </div>
            <div class="col-md-12 form-group mt-3">
             <textarea class="form-control" rows="10" placeholder="Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum
Loreum IpsumLoreum Ipsum Loreum Ipsum Loreum Ipsum Loreum IpsumLoreum Ipsum Loreum IpsumLoreum IpsumLoreumLoreum Ipsum Loreum Ipsum Loreum Ipsum Loreum IpsumLoreum Ipsum
Loreum IpsumLoreum Ipsum Loreum IpsumLoreum IpsumLoreum IpsumLoreumLoreum Loreum IpsumLoreumLoreum Loreum IpsumLoreumLoreum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum
Loreum IpsumLoreum Ipsum Loreum Ipsum Loreum Ipsum Loreum IpsumLoreum Ipsum Loreum IpsumLoreum IpsumLoreumLoreum Ipsum Loreum Ipsum Loreum Ipsum Loreum IpsumLoreum Ipsum
Loreum IpsumLoreum Ipsum Loreum IpsumLoreum IpsumLoreum IpsumLoreumLoreum Loreum IpsumLoreumLoreum Loreum IpsumLoreumLoreum"></textarea>
            </div>
            <div class="col-md-8">
              <h5>Willing to Teach</h5>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-12 form-group mt-3">
              <label for="topic">Select Topics</label>
              <select class="form-control" id="topic">
                <option value="">Type to search topic</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-5 mb-3">
      <div class="card p-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h5>Experience</h5>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2 pr-0 mt-3">
              <div class="card p-1 cardBorderExperience">
                <div class="text-center">
                  <img alt="job" src="./assets/images/icon/suitcase.png" width="50">
                </div>
              </div>
            </div>
            <div class="col-md-8 pl-0">
              <h5 class="experienceHeading">RUN FITNESS CENTER</h5>
              <h6 class="text-light experienceHeading">Indore, India</h6>
              <h6 class="text-light experienceHeading">2014-2019</h6>
            </div>
            <div class="col-md-2">
              <div class="row m-0">
                <div class="col">
                  <img src="./assets/images/icon/paper.png" alt="copy" width="20">
                </div>
                <div class="col">
                  <img src="./assets/images/icon/close.png" alt="close" width="20">
                </div>
              </div>
            </div>


            <div class="col-md-10 mt-3 form-group">
              <label for="orgName">Organisation Name</label>
              <input type="text" id="orgName" class="form-control" placeholder="eg: Apple">
            </div>
            <div class="col-md-5 form-group mt-1">
              <label for="role">Role</label>
              <input type="text" class="form-control" id="role" placeholder="Ex: Product Designer">
            </div>
            <div class="col-md-5 form-group mt-1">
              <label for="loc">Location</label>
              <input type="text" class="form-control" id="loc" placeholder="Ex: India">
            </div>
            <div class="col-md-5 form-group mt-1">
              <label for="syear">Starting Year</label>
              <input type="text" class="form-control" id="syear" placeholder="Ex: 2015">
            </div>
            <div class="col-md-5 form-group mt-1">
              <label for="eyear">Ending Year</label>
              <input type="text" class="form-control" id="eyear" placeholder="Ex: 2019">
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2 pr-0 mt-3">
              <div class="card p-1 cardBorderExperience">
                <div class="text-center">
                  <img alt="job" src="./assets/images/icon/suitcase.png" width="50">
                </div>
              </div>
            </div>
            <div class="col-md-8 pl-0">
              <h5 class="experienceHeading">RUN FITNESS CENTER</h5>
              <h6 class="text-light experienceHeading">Indore, India</h6>
              <h6 class="text-light experienceHeading">2014-2019</h6>
            </div>
            <div class="col-md-2">
              <div class="row m-0">
                <div class="col">
                  <img src="./assets/images/icon/edit.png" alt="edit" width="20">
                </div>
                <div class="col">
                  <img src="./assets/images/icon/close.png" alt="edit" width="20">
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-2 text-left">
              <a><h5 class="text-primary"> + Add More</h5></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-5 mb-3">
      <div class="card p-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h5>Education</h5>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2 pr-0 mt-3">
              <div class="card p-1 cardBorderExperience">
                <div class="text-center">
                  <img alt="job" src="./assets/images/icon/graduate.png" width="50">
                </div>
              </div>
            </div>
            <div class="col-md-8 pl-0">
              <h5 class="experienceHeading">NORTH WEST COLLEGE </h5>
              <h6 class="text-light experienceHeading">Bachelors Of Computer Engineering and Application</h6>
              <h6 class="text-light experienceHeading">2014-2019</h6>
            </div>
            <div class="col-md-2">
              <div class="row m-0">
                <div class="col">
                  <img src="./assets/images/icon/paper.png" alt="copy" width="20">
                </div>
                <div class="col">
                  <img src="./assets/images/icon/close.png" alt="close" width="20">
                </div>
              </div>
            </div>
            <div class="col-md-10 mt-3 form-group">
              <label for="schName">School Name</label>
              <input type="text" id="schName" class="form-control" placeholder="eg: Northwest School">
            </div>
            <div class="col-md-5 form-group mt-1">
              <label for="study">Area Of Study</label>
              <input type="text" class="form-control" id="study" placeholder="Ex: Account Analysis">
            </div>
            <div class="col-md-5 form-group mt-1">
              <label for="degree">Degree</label>
              <input type="text" class="form-control" id="degree" placeholder="Ex: Bacholers">
            </div>
            <div class="col-md-5 form-group mt-1">
              <label for="sEdYear">Starting Year</label>
              <input type="text" class="form-control" id="sEdYear" placeholder="Ex: 2015">
            </div>
            <div class="col-md-5 form-group mt-1">
              <label for="eEdYear">Ending Year</label>
              <input type="text" class="form-control" id="eEdYear" placeholder="Ex: 2019">
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2 pr-0 mt-3">
              <div class="card p-1 cardBorderExperience">
                <div class="text-center">
                  <img alt="job" src="./assets/images/icon/graduate.png" width="50">
                </div>
              </div>
            </div>
            <div class="col-md-8 pl-0">
              <h5 class="experienceHeading">NORTH WEST COLLEGE </h5>
              <h6 class="text-light experienceHeading">Bachelors Of Computer Engineering and Application</h6>
              <h6 class="text-light experienceHeading">2014-2019</h6>
            </div>
            <div class="col-md-2">
              <div class="row m-0">
                <div class="col">
                  <img src="./assets/images/icon/edit.png" alt="edit" width="20">
                </div>
                <div class="col">
                  <img src="./assets/images/icon/close.png" alt="edit" width="20">
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-2 text-left">
              <a><h5 class="text-primary"> + Add More</h5></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-5 mb-3">
      <div class="card p-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h5>Certifications</h5>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2 pr-0 mt-3">
              <div class="card p-1 cardBorderExperience">
                <div class="text-center">
                  <img alt="job" src="./assets/images/icon/graduate.png" width="50">
                </div>
              </div>
            </div>
            <div class="col-md-8 pl-0">
              <h5 class="experienceHeading">PIANO CLASSES</h5>
              <h6 class="text-light experienceHeading">Ronaldo Piano Classes</h6>
              <h6 class="text-light experienceHeading">2014-2019</h6>
            </div>
            <div class="col-md-2">
              <div class="row m-0">
                <div class="col">
                  <img src="./assets/images/icon/paper.png" alt="copy" width="20">
                </div>
                <div class="col">
                  <img src="./assets/images/icon/close.png" alt="close" width="20">
                </div>
              </div>
            </div>
            <div class="col-md-10 mt-3 form-group">
              <label for="instName">Institution Name</label>
              <input type="text" id="instName" class="form-control" placeholder="eg: Ronaldo Piano Clases">
            </div>
            <div class="col-md-5 form-group mt-1">
              <label for="title">Certification Title</label>
              <input type="text" class="form-control" id="title" placeholder="Ex: Account Analysis">
            </div>
            <div class="col-md-5 form-group mt-1">
              <label for="guide">Guide Name</label>
              <input type="text" class="form-control" id="guide" placeholder="Ex: Robert Less">
            </div>
            <div class="col-md-5 form-group mt-1">
              <label for="sCertYear">Starting Year</label>
              <input type="text" class="form-control" id="sCertYear" placeholder="Ex: 2015">
            </div>
            <div class="col-md-5 form-group mt-1">
              <label for="eCertYear">Ending Year</label>
              <input type="text" class="form-control" id="eCertYear" placeholder="Ex: 2019">
            </div>
            <div class="col-md-10">
              <label>Valid Until</label>
              <div class="row m-0">
                <div class="col-md-3 p-0 form-group">
                  <input class="form-control ageGroupStart " id="years" name="years" placeholder="Ex: 02">
                </div>
                <div class="col-md-3 p-0 form-group">
                  <select class="form-control ageGroupEnd " id="toAge" name="age">
                    <option value="">Year(s)</option>
                    <option>Month(s)</option>
                    <option>Week(s)</option>
                    <option>Days(s)</option>
                  </select>
                </div>
              </div>
            </div>
          &lt;!&ndash;  <div class="col-md-2"></div>
            <div class="col-md-2 pr-0 mt-3">
              <div class="card p-1 cardBorderExperience">
                <div class="text-center">
                  <img alt="job" src="./assets/images/icon/graduate.png" width="50">
                </div>
              </div>
            </div>
            <div class="col-md-8 pl-0">
              <h5 class="experienceHeading">PIANO CLASSES</h5>
              <h6 class="text-light experienceHeading">Ronaldo Piano Classes</h6>
              <h6 class="text-light experienceHeading">2014-2019</h6>
            </div>
            <div class="col-md-2">
              <div class="row m-0">
                <div class="col">
                  <img src="./assets/images/icon/edit.png" alt="edit" width="20">
                </div>
                <div class="col">
                  <img src="./assets/images/icon/close.png" alt="edit" width="20">
                </div>
              </div>
            </div>&ndash;&gt;
            <div class="col-md-6 mt-2 text-left">
              <a><h5 class="text-primary"> + Add More</h5></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-5 mb-3">
      <div class="card p-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h5>Profile Settings</h5>
            </div>
            <div class="col-md-4"></div>

            <div class="col-md-6 mt-3 form-group">
              <label for="firstName">First Name</label>
              <input type="text" id="firstName" class="form-control" placeholder="eg: Isabella">
            </div>
            <div class="col-md-6 form-group mt-1">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Ex: Gates">
            </div>
            <div class="col-md-6 form-group mt-1">
              <label for="Country">Country</label>
              <input type="text" class="form-control" id="Country" placeholder="Ex: India">
            </div>
            <div class="col-md-6 form-group mt-1">
              <label for="State">State</label>
              <input type="text" class="form-control" id="State" placeholder="Ex: MP">
            </div>
            <div class="col-md-6 form-group mt-1">
              <label for="City">City </label>
              <input type="text" class="form-control" id="City" placeholder="Ex: Indore">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-5 mb-3">
      <div class="card p-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h5>Account Settings</h5>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-12 mt-3 form-group">
              <label for="firstName">Email Address</label>
              <input type="text" id="email" class="form-control" placeholder="eg: isabella@mailinator.com">
            </div>
            <div class="col-md-12 form-group mt-1">
              <label for="Contact"> Contact Number</label>
              <input type="text" class="form-control" id="Contact" placeholder="Ex: +91 8896565565">
            </div>
            <div class="col-md-12 form-group mt-1">
              <label for="password">Change Password</label>
              <input type="text" class="form-control" id="password" placeholder="Enter Current Password">
            </div>
            <div class="col-md-6 form-group mt-1">
              <input type="text" class="form-control" placeholder="Enter New Password">
            </div>
            <div class="col-md-6 form-group mt-1">
              <input type="text" class="form-control" placeholder="Confirm New Password">
            </div>
            <div class="col-md-6">
              <button class="btn btn-primary btnNext">Change Password</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
