.card {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 10px;

}
.cardTab {
  padding: 10px;
  margin-bottom: 20px;
}
.cardTab.cardTabSelected {
  border: 4px solid #fea800;
}
h5 {
  font-size: 1rem;
  font-weight: 500;
  padding-top: 10px;
}
.teachingHeading {
  color: white;
  font-weight: bold;
  text-align: center;
}
.marginTop {
  margin-top: 10rem;
}
.cardNav {
  border-radius: 15px;
}
.nav-link {
  padding: 1.5rem 4rem!important;
  color: #000000;
  font-weight: 500;
}
a.active {
  /* background-color: #fea800!important;
   color: white;
   border-radius: 15px;*/
  background-color: #fea800!important;
  color: white;
  height: 95px;
  border-radius: 10px;
  padding-top: 32px!important;
  font-size: 20px;
  margin-top: -12px;
  margin-bottom: -12px;
}
a.activeClass {
  /* background-color: #fea800!important;
   color: white;
   border-radius: 15px;*/
  background-color: #7C48C4!important;
  color: white;
  height: 95px;
  border-radius: 10px;
  padding-top: 32px!important;
  font-size: 20px;
  margin-top: -12px;
  margin-bottom: -12px;
}
.container.container-size {
  max-width: 870px!important;
}
.container.container-size .card {
  border-radius: 12px;
}
.container.container-size .card .headerCard {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
}
.container.container-size .card .card-body.head {
  border-top: 1px solid #7C48C4 ;
}

select.form-control {
  border-radius: 20px!important;
}

input.form-control {
  border-radius: 20px!important;
}
textarea.form-control {
  border-radius: 20px!important;
}
label {
  color: #999;
}
.text-light {
  color: #999!important;
}
.cardUpload {
  background-color: #f4f4f4;
  padding: 30px;
  border: unset;
}

.card-footer {
  background-color: white;
  border-top: 1px solid #7C48C4;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.btnNext {
  border-radius: 50px;
  padding: 10px 45px 10px 45px;
  background: #7C48C4;
  border: 1px solid;
}
.italicStyle {
  padding-left: 10px;
  font-size: 12px;
  color: white;
}
.cardBorderExperience {
  border: 3px solid #7C48C4;
  height: 90px;
  width: 110px;
  justify-content: center;
}
select.form-control {
  border-radius: 30px!important;
  height: 50px;
}

input.form-control {
  border-radius: 30px!important;
  height: 50px
}
textarea.form-control {
  border-radius: 20px!important;
}
label {
  color: #999;
}
.text-light {
  color: #999!important;
}
.brite_class {
  height: 4200px!important;
}
.form-control.ageGroupStart {
  border-radius: 50px 0 0 50px!important;
  height: 50px;
}
.form-control.ageGroupEnd {
  border-radius: 0 50px 50px 0!important;
  height: 50px;
}
.form-control.ageGroupCenter {
  border-radius: 0!important;
  height: 50px;
}
