

<div *ngIf="true" class="control-section">
  <div class="content-wrapper">
      <ejs-schedule width='100%' #scheduleObj  height='650px' [selectedDate]="selectedDate" [allowDragAndDrop]="AllowDragAndDrop" [eventSettings]="eventSettings" [(currentView)]="scheduleView"
          (eventRendered)="oneventRendered($event)" (popupOpen)='onPopupOpen($event)'(resizeStop)="onResizeStop($event)" (dataBound)="onDataBound()">  <!---->
          <e-views>
              <e-view option="Day"></e-view>
              <e-view option="Week"></e-view>
              <e-view option="Month"></e-view>
              <e-view option="Agenda"></e-view>
          </e-views>
      </ejs-schedule>
  </div>
  <div class="col-lg-3 property-section">
      <div class="property-panel-section">
          <div class="property-panel-header">Properties</div>
          <div class="property-panel-content">
              <div id="property" class="property-panel-table" title="Properties">
                  <table id="property" title="Properties" style="width: 100%">
                      <tbody>
                          <tr style="height: 50px">
                              <td style="width: 30%">
                                  <div>Current View
                                  </div>
                              </td>
                              <td style="width: 70%;">
                                  <div>
                                      <ejs-dropdownlist id="scheduleview" [dataSource]='datas' [(value)]='scheduleView'></ejs-dropdownlist>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
