<!--footer-->
<footer class="footer-login" *ngIf="activeUrl !== '/teacher/preview'">
  <div class="container ">

    <!--need to help-->
    <div class="help">
      <div class="row pt-md-5 inner_help">
        <div class="col-sm-1"></div>
        <div class="col-sm-1"><h3 class="mt-md-3">Need To Talk?</h3></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8 mt-md-3">
          <h6>Please fill below & we will get in touch with you.</h6>
          <form>
            <div class="form-row">
              <div class="col-sm-3">

                <input type="text" class="form-control noBg" placeholder="Your Name">
              </div>
              <div class="col-sm-3">

                <input type="text" class="form-control noBg" placeholder="Your Mobile Number">
              </div>
              <div class="col-sm-3">

                <input type="text" class="form-control noBg" placeholder="Your Email Address">
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-2">
                <button class="btn btn-primary btn_login1">Submit</button>
              </div>
            </div>
          </form>
          <div class="mt-md-3"><h6>For queries please refer to our <strong>FAQ</strong></h6></div>

        </div>
      </div>
    </div>
  </div>
  <!--/need to help-->
  <div class="container inner_footer">
    <div class="row">
      <div class="col-md-3">
        <ul>
          <li><a>Corporate</a></li>
          <li><a (click)="aboutUs()">About us</a></li>
          <li><a (click)="vision()">Vision</a></li>
          <li><a (click)="ourTeachers()">Our Teachers</a></li>
          <li><a routerLink="../signup">Become a Teacher</a></li>
          <li><a (click)="contactUs()">Contact</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <ul>
          <li><a (click)="faq()">FAQ</a></li>
          <li><a (click)="activity()">Activities</a></li>
          <li><a (click)="gallery()">Gallery</a></li>
          <li><a (click)="news()">News</a></li>
          <li><a (click)="aboutUs()">Us</a></li>
          <li><a (click)="blog()">Blog</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <img src="./assets/images/footer_logo.png" class="footer_logo1">
      </div>
      <div class="col-md-3">
        <a href="" class="site"><img alt="" src="./assets/images/share.png" class=""> Share this site</a>
        <div class="mt-2 facebook">
          <p>Social Media Presence</p>
          <img src="./assets/images/facebook-1.png">
          <img src="./assets/images/facebook-1.png">
          <img src="./assets/images/facebook-1.png">
          <img src="./assets/images/facebook-1.png">
        </div>
        <div class="association mt-md-3">
          <p>In association with</p>
          <img src="./assets/images/visa 1.png">
          <img src="./assets/images/visa 1.png">
          <img src="./assets/images/visa 1.png">
        </div>
      </div>
    </div>
    <div class="border-bottom my-2"></div>
    <div class="text-center my-3 copyright"><p>copyright@2020 Britebear<p></div>
  </div>
</footer>
