.card {
  border: 1px solid rgba(0,0,0,.125);
}
.cardTab {
  padding: 10px;
  margin-bottom: 20px;
}
.cardTab.cardTabSelected {
  border: 4px solid #fea800;
}
h5 {
  font-size: 1rem;
  font-weight: 500;
  padding-top: 10px;
}
.teachingHeading {
  color: white;
  font-weight: bold;
  text-align: center;
}
.marginTop {
  margin-top: 1rem;
}
.cardNav {
  border-radius: 15px;
}
.nav-link {
  padding: 1.5rem 4rem!important;
  color: #000000;
  font-weight: 500;
}
a.active {
 /* background-color: #fea800!important;
  color: white;
  border-radius: 15px;*/
  background-color: #fea800!important;
  color: white;
  height: 95px;
  border-radius: 10px;
  padding-top: 32px!important;
  font-size: 20px;
  margin-top: -12px;
  margin-bottom: -12px;
}
a.activeClass {
  /* background-color: #fea800!important;
   color: white;
   border-radius: 15px;*/
  background-color: #7C48C4!important;
  color: white;
  height: 95px;
  border-radius: 10px;
  padding-top: 32px!important;
  font-size: 20px;
  margin-top: -12px;
  margin-bottom: -12px;
}
.container.container-size {
  max-width: 1000px;
}
.container.container-size .card {
  border-radius: 12px;
}
.container.container-size .card .headerCard {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
}
.container.container-size .card .card-body.head {
  border-top: 1px solid #7C48C4 ;
}

select.form-control {
  border-radius: 20px!important;
}

input.form-control {
  border-radius: 20px!important;
}
textarea.form-control {
  border-radius: 20px!important;
}
label {
  color: #999;
}
.text-light {
  color: #999!important;
}
.cardUpload {
  background-color: #f4f4f4;
  padding: 30px;
  border: unset;
}

.card-footer {
  background-color: white;
  border-top: 1px solid #7C48C4;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.btnNext {
  border-radius: 50px;
  padding: 10px 45px 10px 45px;
  background: #7C48C4;
  border: 1px solid;
}
.italicStyle {
  padding-left: 10px;
  font-size: 12px;
  color: white;
}
.animation-transition-general, .nav-pills .nav-link, .nav-tabs .nav-link, .navbar, .off-canvas-sidebar .logo a.logo-mini, .off-canvas-sidebar .logo a.logo-normal, .off-canvas-sidebar .navbar-minimize, .sidebar .logo a.logo-mini, .sidebar .logo a.logo-normal, .sidebar .nav a, .sidebar .nav a i, .sidebar .navbar-minimize, .tag, .tag [data-role=remove] {
   transition: all .9s ease 0s;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
   color: #fff!important;
  /*background-color: unset!important;*/
   border-color: unset!important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.activeClass {
  color: #fff!important;
  /*background-color: unset!important;*/
  border-color: unset!important;
}
.nav-tabs .nav-link {
  border: unset!important;
}
.nav-tabs {
   border-bottom: unset!important;
}
