  <div class="container">
    <div class="text-center marginTop">
      <h3 class="teachingHeading" >TEACHING</h3>
    </div>
    <div class="col-md-12 mt-5" style="margin-top: 80px !important;">
      <div class="card cardNav">
        <ul class="nav justify-content-center nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" routerLink="/teacher/apply"
               [ngClass]="[activeUrl == '/teacher/apply/' ? 'active' : '']" [routerLinkActiveOptions]="{exact:false}" [routerLinkActive]="['active']">
<!--               [ngClass]="{'active':activeUrl.indexOf('/teacher/class') == -1}"  [routerLinkActiveOptions]="{exact:false}" [routerLinkActive]="'active'">-->
<!--              [ngClass]="{'activeClass':activeUrl.indexOf('/teacher/apply') == -1}" [routerLinkActiveOptions]="{exact:false}" routerLinkActive="activeClass">-->
              APPLY
            </a>
          </li>
          <li class="nav-item">
            <a  class="nav-link" href="javascript:void(0)" routerLink="/teacher/class"
                [ngClass]="[activeUrl == '/teacher/class/' ? 'active' : '']" [routerLinkActiveOptions]="{exact:false}" [routerLinkActive]="['active']">
<!--                [ngClass]="{'activeClass':activeUrl.indexOf('/teacher/apply') == -1}" [routerLinkActiveOptions]="{exact:false}" [routerLinkActive]="'activeClass'">-->
<!--                [ngClass]="{'active':activeUrl.indexOf('/teacher/class') == -1}"  [routerLinkActiveOptions]="{exact:false}" routerLinkActive="active">-->

              CLASS
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/teacher/schedule"
               [ngClass]="[activeUrl == '/teacher/schedule/' ? 'active' : '']" [routerLinkActiveOptions]="{exact:false}" [routerLinkActive]="['active']">
<!--               [ngClass]="{'active':activeUrl.indexOf('/teacher/class') == -1}"  [routerLinkActiveOptions]="{exact:false}" [routerLinkActive]="'active'">-->
              SCHEDULE
            </a>
          </li>
         <!-- <li class="nav-item">
            <a class="nav-link" href="https://api.qualwebs.com/brite_bear">PROFILE</a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link"  href="javascript:void(0)" routerLink="/teacher/availability"
               [ngClass]="[activeUrl == '/teacher/availability/' ? 'active' : '']" [routerLinkActiveOptions]="{exact:false}" [routerLinkActive]="['active']">
<!--               [ngClass]="{'activeClass':activeUrl.indexOf('/teacher/availability') == -1}" [routerLinkActiveOptions]="{exact:false}" [routerLinkActive]="['activeClass']">-->
            <!--               [ngClass]="[activeUrl == '/teacher/teaching/availability' ? 'activeClass' : '']" [routerLinkActiveOptions]="{exact:false}" [routerLinkActive]="['activeClass']">-->
              AVAILABILITY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/teacher/pay"
               [ngClass]="[activeUrl == '/teacher/pay/' ? 'active' : '']" [routerLinkActiveOptions]="{exact:false}" [routerLinkActive]="['active']">
              PAYMENTS
            </a>
          </li>
        </ul>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
