.card {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 15px;
  min-height: 400px;
}
.btnNext {
  border-radius: 50px;
  padding: 10px 45px 10px 45px;
  background: #7C48C4;
  border: 1px solid;
  position: absolute;
  top: 100px;
}
/*/////////////////////// dots*/
.steps {
  width: 100%;
  height: 50px;
  right: 50px;
  top: -25px;
}

.steps .progress-line {
  top: 50%;
  left: 10%;
  position: absolute;
  background-color: #cdcfd3;
  width: 77%;
  height: 6px;
  z-index: 10;
}

.steps .circle {
  width:50px;
  height:50px;
  border-radius:250px;
  border: 0;
  background:#fff;
  text-align: center;
  position: absolute;
  top: -50%;
  z-index: 20;
}

.steps .inner-circle {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  border: 0;
}

.steps .first .step-id {
  color: #000000;
  font-size: 90%;
  font-weight: bold;
  text-align: left;
}
.steps .middle .step-id {
  color: #000000;
  font-size: 90%;
  font-weight: bold;
  text-align: center;
}
.steps .last .step-id {
  color: #000000;
  font-weight: bold;
  font-size: 90%;
  text-align: right;
}

.steps .list-inline li {
  width: 268px;
  position: relative;
  padding: 30px 0 0 0;
  margin: 0;
  display: inline-block;
  float: left;
  cursor: pointer;
}
.inner-text {
  position: absolute;
  top: 10px;
  left: 14px;
  font-size: 20px;
  font-weight: bold;
}

.steps .list-inline { margin: 0; padding: 0; }
.steps .list-inline li.first .circle { left: -5%; }
.steps .list-inline li.middle .circle { left: 110px; }
.steps .list-inline li.last .circle { right: -4%; }
.steps .list-inline li.active { cursor: default; }
.steps .list-inline li.first .step-id { margin-left: -10%; }
.steps .list-inline li.last .step-id { margin-left: 0; margin-right: -20px }
