  <div  class="container mt-5">
    <div class="card p-3">
      <div class="col-md-11">
        <h4>{{'BECOMEATEACHER' | translate}}</h4>
        <h5>{{'Apply to become a teacher with Britebear, it does not require formal teaching credentials. We believe that many adults can offer rewarding classes based on their experience and interests' | translate}}</h5>
      </div>
      <div class="col-md-12 mt-5">
        <div class="steps">
          <div class="progress-line">
            <ul class="list-inline">
              <li class="first active">
                <div class="circle"><div class="circle inner-circle"><span class="inner-text">01</span></div></div>
                <div class="step-id">{{'Application' | translate}}</div>
              </li>
              <li class="middle">
                <div class="circle"><div class="circle inner-circle"><span class="inner-text">02</span></div></div>
                <div class="step-id">{{'BackgroundCheck' | translate}}</div>
              </li>
              <li class="last">
                <div class="circle"><div class="circle inner-circle"><span class="inner-text">03</span></div></div>
                <div class="step-id">{{'Approved' | translate}}</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <button class="btn btn-primary btnNext" *ngIf="isapplied!==1" routerLink="/teacher//apply/introduction">{{'ApplytoTeach' | translate}}</button>
        <button class="btn btn-primary btnNext" *ngIf="isapplied==1" routerLink="/teacher/class">You have Already Applied.Create Classes Now</button>
      </div>
    </div>
  </div>
