.deep{
    background-image: url("../../../assets/images/bg-main.png");
    margin-left: -80px;
    margin-right: -90px;
    
}
.sticky {
    background-color: orange;
    z-index: 5000;
    position: fixed !important;
    top: 0;
    width: 100%;
  }