<div *ngIf="userPresent">
  
  <div class="brite_login">
  <header id="loggedInHeader" class="container">
    <nav class="deep sticky navbar navbar-expand-lg navbar-light bg-transparent">
      <div class="container">
        <a class="navbar-brand" href="/"><img alt="" class="img-fluid" src="./assets/images/logo.png"/> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mt-2" id="navbarResponsive" style="z-index: 1000 !important; margin-top: -40px !important;margin-bottom: -110px !important;">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{userFirstName}} {{userLastName}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" *ngIf="role!=='Learner'" (click)="Dashboard()">Dashboard</a>
                  <a class="dropdown-item" (click)="profile()">Profile</a>
                  <a class="dropdown-item" *ngIf="role!=='Learner'" (click)="getid()">Teacher Profile</a>
                  <a class="dropdown-item" (click)="Settings()">Settings</a>
                  <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <router-outlet></router-outlet>
</div>
</div>
<div *ngIf="!userPresent">
  
<div class="brite_login">
  <nav class="navbar sticky smart-scroll navbar-expand-lg navbar-light bg-transparent fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/"><img alt="" src="./assets/images/logo.png"/> </a>
      <button class="navbar-toggler ml-auto mt-4" type="button" data-toggle="collapse" data-target="#navbarResponsive"
              aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mt-2" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!--
          <li class="nav-item active">
            <a class="nav-link text-white">All Classes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white ml-5" routerLink="about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white ml-5" routerLink="blog">Blog</a>
          </li>
        -->
          <li class="nav-item">
            <a class="nav-link text-white ml-5" routerLink="../login">Login</a>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuSignUpButton"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Signup
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuSignUpButton">
                <a class="dropdown-item" routerLink="../freeClass">Learner</a>
                <a class="dropdown-item" routerLink="../signup">Teacher</a>
                <a class="dropdown-item">School</a>
              </div>
            </div>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
</div>
