<div class="brite_class">
  <div class="container container-size">
    <div class="text-center marginTop">
      <h3 class="teachingHeading text-uppercase"></h3>
    </div>
    <br>
    <br>
    <!--
    <div class="col-md-4 mb-0 mt-5">
      <a routerLink="../teacher/apply" class="text-white-50"><span class="fa fa fa-arrow-circle-left"> Take Me To Dashboard</span></a>
    </div>
  -->
    <div class="col-md-12 m-0 mb-3">
      <div class="card p-3">
        <div class="row">
          <div class="col-md-2">
            <img alt="" class="img-fluid rounded-circle" src="./assets/images/profileplaceholder.png" *ngIf="!profSettingsObj.profile_image">
            <img alt="" class="img-fluid rounded-circle" [src]="assetsUrl + profSettingsObj.profile_image" *ngIf="profSettingsObj.profile_image">
          </div>
          <div class="col-md-7">
            <h4 class="text-capitalize mb-0">{{profSettingsObj.first_name}} {{profSettingsObj.last_name}}</h4>
            <h5 class="text-capitalize">{{profSettingsObj.city}}, {{profSettingsObj.state}} | {{profSettingsObj.country_name}} <span><img src="./assets/images/flags/{{profSettingsObj.country_iso | lowercase}}.png" width="20"></span></h5>
<!--            <p>Here's your profile</p>-->
            <div>
              <img src="./assets/images/icon/star.png" width="20">
              <img src="./assets/images/icon/star.png" width="20">
              <img src="./assets/images/icon/star.png" width="20">
              <img src="./assets/images/icon/star.png" width="20">
              <img src="./assets/images/icon/star.png" width="20">
              <span class="text-primary"> {{profSettingsObj.rating}} <span class="text-muted">({{profSettingsObj.review}} reviews)</span></span>
            </div>
          </div>
          <!--
          <div class="col-md-3 text-center">
            <h5 class="text-primary"> <span class="fa fa-clipboard"> Contact</span></h5>
            <button class="btn btn-primary btnNext">Follow</button>
          </div>
        -->
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-4 mb-2">
      <div class="card p-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h5>Description</h5>
            </div>
            <div class="col-md-4 text-right pr-0 pt-0">
            </div>
            <div class="col-md-12 form-group mt-3">
              <p [innerHTML]="introObj.work_description"></p>
            </div>
            <div class="col-md-8">
              <h5>Teaches</h5>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-12 form-group mt-3">
              <span class="willingToTeach" *ngFor="let addedTopics of addedTeacherTopics">{{addedTopics.topic.topic}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 mt-4 mb-2">
      <div class="card p-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h5>Experience</h5>
            </div>
            <div class="col-md-4"></div>
          </div>
          <div *ngIf="workExperienceAllData[0]">
            <div class="row mt-2" *ngFor="let exp of workExperienceAllData">
              <div class="col-md-2">
                <div class="card p-2 cardBorderExperience">
                  <div class="text-center">
                    <img alt="job" src="./assets/images/icon/suitcase.png" width="50">
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <h5 class="experienceHeading">{{exp.organizationName}}</h5>
                <h6 class="text-light experienceHeading">{{exp.location}}</h6>
                <h6 class="text-light experienceHeading" *ngIf="exp.endYear">{{exp.startYear | date: 'd MMM, yy'}}-{{exp.endYear | date: 'd MMM, yy'}}</h6>
                <h6 class="text-light experienceHeading" *ngIf="!exp.endYear">{{exp.startYear | date: 'd MMM, yy'}} - Current Date</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-4 mb-2">
      <div class="card p-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h5>Education</h5>
            </div>
            <div class="col-md-4"></div>
          </div>
          <div *ngIf="academicsAllData[0]">
            <div class="row mt-2" *ngFor="let aca of academicsAllData">
              <div class="col-md-2">
                <div class="card p-2 cardBorderExperience">
                  <div class="text-center">
                    <img alt="job" src="./assets/images/icon/graduate.png" width="50">
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <h5 class="experienceHeading">{{aca.schoolName}}</h5>
                <h6 class="text-light experienceHeading">{{aca.areaOfStudy}}</h6>
                <h6 class="text-light experienceHeading">{{aca.startYear | date: 'd MMM, yy'}}-{{aca.endYear | date: 'd MMM, yy'}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-4 mb-2">
      <div class="card p-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h5>Certifications</h5>
            </div>
          </div>
          <div *ngIf="certificateAllData[0]">
            <div class="row mt-2" *ngFor="let cert of certificateAllData">
              <div class="col-md-2">
                <div class="card p-2 cardBorderExperience">
                  <div class="text-center">
                    <img alt="job" src="./assets/images/icon/graduate.png" width="50">
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <h5 class="experienceHeading">{{cert.certificateTitle}}</h5>
                <h6 class="text-light experienceHeading">{{cert.instituteName}}</h6>
                <h6 class="text-light experienceHeading">{{cert.startYear | date: 'd MMM, yy'}}-{{cert.endYear | date: 'd MMM, yy'}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
