  <div class="scrollable">
    <div class="container container-size mt-5">
      <div class="row">
        <div class="col-md-2 mt-4">
          <a routerLink="/teacher/apply/introduction"><div class="card text-center cardTab ">
            <div class="text-center">
              <img alt="info" src="./assets/images/icon/info.png" width="40">
            </div>
            <h5>{{'Introduction' | translate}}</h5>
          </div>
          </a>
          <a routerLink="/teacher/apply/experience"><div class="card text-center cardTab cardTabSelected">
            <div class="text-center">
              <img alt="info" src="./assets/images/icon/suitcase.png" width="40">
            </div>
            <h5>{{'Experience' | translate}}</h5>
          </div>
          </a>
          <a routerLink="/teacher/apply/certifications"><div class="card text-center cardTab">
            <div class="text-center">
              <img alt="info" src="./assets/images/icon/medal.png" width="40">
            </div>
            <h5>{{'Certification' | translate}}</h5>
          </div>
          </a>
          <a routerLink="/teacher/apply/academic"><div class="card text-center cardTab">
            <div class="text-center">
              <img alt="info" src="./assets/images/icon/graduate.png" width="40">
            </div>
            <h5>{{'Academics'| translate}}</h5>
          </div>
          </a>
        </div>
        <div class="col-md-10">
          <i class="italicStyle"></i>
          <div class="steps">
            <div class="progress-line">
              <ul class="list-inline">
                <a routerLink="/teacher/apply/introduction"><li class="first active">
                  <div class="circle"><div class="circle inner-circle"></div></div>
                </li></a>
                <a><li class="middle active">
                  <div class="circle"><div class="circle inner-circle"></div></div>
                </li></a>
                <a routerLink="/teacher/apply/certifications"><li class="last">
                  <div class="circle"><div class="circle inner-circle"></div></div>
                </li></a>
                <a routerLink="/teacher/apply/academic"><li class="final">
                  <div class="circle"><div class="circle inner-circle"></div></div>
                </li></a>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="headerCard">
              <div class="row">
                <div class="col-md-6 col-6">
                  <h4>{{'WORKEXPERIENCE' | translate}}</h4>
                </div>
                <div class="col-md-6 text-right">
                  <a (click)="guide()"> <img src="./assets/images/icon/guide.png" width="30"></a>
                </div>
              </div>
            </div>
<!--            <form ngNativeValidate (submit)="saveExperience()">-->
            <div class="card-body head">
              <div *ngIf="workExperienceAllData[0]">
              <div class="row mb-3" *ngFor="let exp of workExperienceAllData">
                <div class="col-md-2">
                  <div class="card p-3 cardBorderExperience">
                    <div class="text-center">
                    <img alt="job" src="./assets/images/icon/suitcase.png" width="35">
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <h5 class="experienceHeading">{{exp.organizationName}}</h5>
                  <h6 class="text-light experienceHeading">{{exp.location}}</h6>
                  <h6 class="text-light experienceHeading" *ngIf="exp.endYear">{{exp.startYear | date: 'd MMM, yy'}} - {{exp.endYear | date: 'd MMM, yy'}}</h6>
                  <h6 class="text-light experienceHeading" *ngIf="!exp.endYear">{{exp.startYear | date: 'd MMM, yy'}} - Current Date</h6>
                </div>
                <div class="col-md-2">
                  <div class="row m-0">
                    <div class="col">
                      <a href="javascript: void(0)" (click)="getSingleExp(exp.id)">
                        <img src="./assets/images/icon/edit.png" alt="edit" width="20">
                      </a>
                    </div>
                    <div class="col">
                      <a href="javascript: void(0)" (click)="deleteExperience(exp.id)">
                        <img src="./assets/images/icon/close.png" alt="delete" width="20">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <form ngNativeValidate (submit)="saveExperience()">
              <div class="row">
              <div class="form-group col-md-6 mt-4">
                <label for="orgName">{{'OrganisationName*' | translate}}</label>
               <input type="text" id="orgName" placeholder="{{'Ex:Apple' | translate}}" name="org" [(ngModel)]="expObj.organization_name" class="form-control" required>
              </div>
              <div class="form-group col-md-6 mt-4">
                <label for="role">{{'Role*' | translate}}</label>
                <input type="text" class="form-control" id="role" name="role" [(ngModel)]="expObj.role" placeholder="{{'ProductDesigner' | translate}}" required>
              </div>
              <!--<div class="form-group col-md-6">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" name="location" [(ngModel)]="expObj.location" placeholder="Ex: India" required>
              </div>-->
               <!-- <div class="form-group col-md-6">
                  <label for="country">Country *</label>
                  <input type="text" class="form-control" id="country" name="country" [(ngModel)]="expObj.country" placeholder="Ex: India" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="state">State *</label>
                  <input type="text" class="form-control" id="state" name="state" [(ngModel)]="expObj.state" placeholder="Ex: Indore" required>
                </div>-->

                <div class="form-group col-md-6">
                  <label for="country">{{'Country*' | translate}}</label>
                  <select class="form-control" id="country" name="country" (change)="getStates()" [(ngModel)]="expObj.country" required>
                    <option value="">{{'SelectCountry' | translate}}</option>
                    <option [value]="country.id" *ngFor="let country of allCountries">{{country.name}}</option>
                  </select>
                </div>

                <div class="form-group col-md-6">
                  <label for="state">{{'State*' | translate}}</label>
                  <select class="form-control" id="state" name="state" [(ngModel)]="expObj.state" required>
                    <option value="">{{'SelectState/Region' | translate}}</option>
                    <option [value]="reg.id" *ngFor="let reg of allStates">{{reg.name}}</option>
                  </select>
                </div>

              <div class="form-group col-md-6">
                <label for="startYear">{{'StartingDate*' | translate}}</label>
                <input type="date" class="form-control" id="startYear" name="start_year" (change)="checkDateFormat()" [max]="maximumDateStart" [(ngModel)]="expObj.start_year" required>
              </div>
              <div class="form-group col-md-6">
                <label for="end">{{'EndingDate*' | translate}}</label>
                <input *ngIf="currentDate == 0" type="date" class="form-control"  id="end" name="end_year"
                       [min]="expObj.start_year" [max]="maximumDateStart" [(ngModel)]="expObj.end_year" required>
                <input *ngIf="currentDate == 1" type="date" class="form-control"  id="end" name="end_year"
                       [min]="expObj.start_year" disabled [max]="maximumDateStart" [(ngModel)]="expObj.end_year" required>
              </div>
                <div class="col-md-12">
                  <mat-checkbox [value]="1" [(ngModel)]="currentDate" name="current" (change)="hideEndingDate()"> Till Current Date</mat-checkbox>
                </div>
                <div class="col-md-6 mt-2">
                  <button class="btn btnNext btn-primary" type="submit">{{'Save' | translate}}</button>
                </div>
              <div class="col-md-6 mt-2 text-right">
                <button class="noBtn" type="submit"><h5 class="text-purple">{{'+AddMore' | translate}}</h5></button>
              </div>
                <div class="col-md-6 mt-2">
                  <a routerLink="/teacher/apply/certifications"><h5 class="text-purple">{{'SkipForNow>' | translate}}</h5></a>
                </div>
            </div>
              </form>
            </div>
<!--            </form>-->
            <div class="col-md-12 text-right p-0">
              <div class="card-footer">
                <button class="btn btn-primary btnNext" type="button" routerLink="/teacher/apply/certifications" *ngIf="loader == false">{{'Next' | translate}}</button>
                <button class="btn btn-primary btnNext" type="button" disabled *ngIf="loader == true"><img alt="" src="./assets/images/loader.gif" width="25"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





