<div class="container mt-5">
  <div class="card p-3">
    <div class="row">
      <div class="col-8 meet">Upcoming Meetings</div>
      <div class="col-4 ">{{curdate}}</div>
    </div>
    
    <div class="row border-1"></div>
    <div class="row">
      <!--  <table class="table">
          <thead class="mt-2">
            <tr>
              <th>Time</th>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saturday</th>
              <th>Sunday</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor=" let avail of availability let i = index">
              <td>{{avail.slot.slot}}</td>
              <td>{{i}}</td>
              <td>{{i}}</td>
              <td>{{i}}</td>
              <td>{{i}}</td>
              <td>{{i}}</td>
              <td>{{i}}</td>
              <td>{{i}}</td>
            </tr>
          </tbody>
        </table> -->
    </div>
  </div>
  <router-outlet></router-outlet>
</div>


