.card {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 15px;
}
.container.container-size {
  max-width: 1000px;
}
.btnNext {
  border-radius: 50px;
  padding: 10px 45px 10px 45px;
  background: #7C48C4;
  border: 1px solid;
}
.form-control.ageGroupStart {
  border-radius: 50px 0 0 50px!important;
  height: 50px;
}
.form-control.ageGroupEnd {
  border-radius: 0 50px 50px 0!important;
  height: 50px;
}
.form-control.ageGroupCenter {
  border-radius: 0!important;
  height: 50px;
}
.size {
  font-size: 22px;
  margin: 12px;
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #7C48C4 !important;
}
/*::ng-deep .mat-checkbox-checkmark-path {
  stroke: #000 !important;
}*/
::ng-deep .mat-checkbox-frame,
::ng-deep .mat-checkbox-background {
  border-radius: 25% !important;
}
