  <div class="container container-size mt-5">
    <div class="card p-3">
      <div class="row">
      <div class="col-md-11">
        <h5>Availability</h5>
        <h6 class="mt-4">Select Available Date and Time</h6>
        <p>If you have a conflict at a time where you are usually available, such as an appointment or a vacation, you can add a specific exception dates below. Parents
        will not be ble to schedule section on those days/times</p>
      </div>
      <div class="col-md-12 mt-4">
        <button class="btn btn-primary btnNext" data-toggle="modal" data-target="#staticBackdrop">Select Availability</button>
      </div>
        <div class="col-md-11 mt-4">
          <h6 class="mt-4">Exception Date / Time</h6>
          <p>If you have a conflict at a time where you are usually available, such as an appointment or a vacation, you can add a specific exception dates below. Parents
            will not be ble to schedule section on those days/times</p>
        </div>
        <div class="col-md-6">
          <h6>Start</h6>
          <div class="row m-0">
            <div class="col-md-6 p-0 form-group">
              <input class="form-control ageGroupStart" id="sDate" name="sDate" type="date">
            </div>
            <div class="col-md-6 p-0 form-group">
              <select class="form-control ageGroupEnd " id="start" name="start">
                <option value="">Time</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h6>End</h6>
          <div class="row m-0">
            <div class="col-md-6 p-0 form-group">
              <input class="form-control ageGroupStart" type="date">
            </div>
            <div class="col-md-6 p-0 form-group">
              <select class="form-control ageGroupEnd " id="end" name="end">
                <option value="">Time</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-2 text-left">
          <a><h5 class="text-primary"> + Add More</h5></a>
        </div>
        <div class="col-md-12 mt-4">
          <a class="btn btn-primary btnNext">Confirm</a>
        </div>
    </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Update Availability</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Select the time when you are available to teach</h5>
        <h6 class="text-primary"><a (click)="SelectAll()">Select All </a> |  <a (click)="DeselectAll()"> Deselect All</a></h6>
      </div>
      <!--<div class="col-md-12 text-right">
        <p>13 - 19 July 2020 <span class="fa fa-angle-left size"> </span>  <span class="fa fa-angle-right size font-weight-bold"></span></p>
      </div>-->
      <form (submit)="sendAvailability()">
      <div class="table-responsive">
        <table class="table-borderless table">
          <thead>
          <tr>
            <th></th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor=" let avail of availability let i = index">
            <td>{{avail.slot.slot}}</td>
            <td><mat-checkbox name="monday_{{i}}" (change)="checkMonday(i, $event)" [(ngModel)]="avail.monday"></mat-checkbox></td>
            <td><mat-checkbox  name="tuesday_{{i}}" (change)="checkTuesday(i, $event)" [(ngModel)]="avail.tuesday"></mat-checkbox></td>
            <td><mat-checkbox  name="wednesday_{{i}}" (change)="checkWednesday(i, $event)" [(ngModel)]="avail.wednesday"></mat-checkbox></td>
            <td><mat-checkbox  name="thursday_{{i}}" (change)="checkThursday(i, $event)"  [(ngModel)]="avail.thursday"></mat-checkbox></td>
            <td><mat-checkbox  name="friday_{{i}}" (change)="checkFriday(i, $event)"  [(ngModel)]="avail.friday"></mat-checkbox></td>
            <td><mat-checkbox  name="saturday_{{i}}" (change)="checkSaturday(i, $event)" [(ngModel)]="avail.saturday"></mat-checkbox></td>
            <td><mat-checkbox  name="sunday_{{i}}" (change)="checkSunday(i, $event)" [(ngModel)]="avail.sunday"></mat-checkbox></td>
          </tr>
          </tbody>
        </table>
       <!-- <div class="col-md-12">
        <input type="checkbox" id="copy">
        <label for="copy" class="ml-3">  Copy Schedule for coming week</label>
        </div>-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary btnNext">Confirm Selection</button>
      </div>
      </form>
    </div>
  </div>
</div>
