  <div class="container container-size mt-5">
    <div class="row">
      <div class="col-md-2 mt-4">
        <a routerLink="/teacher/apply/introduction">
          <div class="card text-center cardTab cardTabSelected">
            <div class="text-center">
              <img alt="info" src="./assets/images/icon/info.png" width="40">
            </div>
            <h5>{{'Introduction' | translate}}</h5>
          </div>
        </a>
        <a routerLink="/teacher/apply/experience">
          <div class="card text-center cardTab">
            <div class="text-center">
              <img alt="info" src="./assets/images/icon/suitcase.png" width="40">
            </div>
            <h5>{{'Experience' | translate}}</h5>
          </div>
        </a>
        <a routerLink="/teacher/apply/certifications">
          <div class="card text-center cardTab">
            <div class="text-center">
              <img alt="info" src="./assets/images/icon/medal.png" width="40">
            </div>
            <h5>{{'Certification' | translate}}</h5>
          </div>
        </a>
        <a routerLink="/teacher/apply/academic">
          <div class="card text-center cardTab">
            <div class="text-center">
              <img alt="info" src="./assets/images/icon/graduate.png" width="40">
            </div>
            <h5>{{'Academics' | translate}}</h5>
          </div>
        </a>
      </div>
      <div class="col-md-10">
        <i class="italicStyle"></i>
        <div class="steps">
          <div class="progress-line">
            <ul class="list-inline">
             <a><li class="first active">
                <div class="circle"><div class="circle inner-circle"></div></div>
             </li></a>
              <a routerLink="/teacher/apply/experience"><li class="middle">
                <div class="circle"><div class="circle inner-circle"></div></div>
              </li></a>
             <a routerLink="/teacher/apply/certifications"><li class="last">
                <div class="circle"><div class="circle inner-circle"></div></div>
             </li></a>
              <a routerLink="/teacher/apply/academic"><li class="final">
                <div class="circle"><div class="circle inner-circle"></div></div>
              </li></a>
            </ul>
          </div>
        </div>
        <div class="card">
          <form ngNativeValidate (submit)="AddIntro()">
          <div class="headerCard">
            <div class="row">
              <div class="col-md-6 col-6">
                <h4>{{'INTRODUCTION' | translate}}</h4>
              </div>
              <div class="col-md-6 text-right">
                <a (click)="guide()"><img alt="" src="./assets/images/icon/guide.png" width="30"></a>
              </div>
            </div>
          </div>
          <div class="card-body head">
            <div>
              <h5>{{'Subjectsyouwouldliketoteach' | translate}}</h5>
            </div>
            <!--<div class="form-group col-md-12">
              <label for="topics">Select topics</label>
              <select class="form-control selectpicker" multiple name="topic" title="Please select" [(ngModel)]="introObj.topics" id="topics" required>
                <option [value]="1">Music</option>
                <option [value]="2">Painting</option>
                <option [value]="3">Dance</option>
                <option [value]="4">English</option>
                <option [value]="5">Physics</option>
                <option [value]="6">Chemistry</option>
                <option [value]="7">Maths</option>
                <option [value]="8">Biology</option>
                <option [value]="9">Information Technology</option>
                <option [value]="10">IOT</option>
              </select>
&lt;!&ndash;              <span *ngIf="introObj.topics">{{introObj.topics}}</span>&ndash;&gt;
            </div>-->
            <div class="form-group col-md-12 mt-3 p-0">
              <label for="topics">{{'Selecttopics*' | translate}}</label>
            <ng-multiselect-dropdown
              [placeholder]="'Select the topics you want to teach'"
              [data]="teacherTopics"
              [settings]="dropdownSettings"
              [(ngModel)]="selectedItems"
              name="topics"
              (onSelect)="onItemSelect($event)"
              (onDeSelect)="onItemDeSelect($event)"
              id="topics">
            </ng-multiselect-dropdown>
              <div class="col-md-12">
                <span class="willingToTeach" *ngFor="let addedTopics of addedTeacherTopics">{{addedTopics.topic.topic}}<a href="javascript: void(0)" (click)="deleteAddedTopic(addedTopics.id)" class="fa fa-times-circle text-white"></a></span>
              </div>
            </div>
            <div class="form-group col-md-12 p-0">
              <label for="describe">{{'Describeyourself*' | translate}}</label>
<!--              <textarea class="form-control" id="describe" name="desc" [(ngModel)]="introObj.work_description" rows="6"-->
<!--                        placeholder="Describe what you can do and how you can help kids..." required></textarea>-->
              <editor [(ngModel)]="introObj.work_description" [init]="{
     height: 200,
     menubar: false,
     plugins: ['lists'],
     toolbar: 'bold italic | bullist numlist'}" id="describe" name="desc" required></editor>
            </div>
            <div class="row m-0">
              <div class="col-md-6">
                <h5>{{'UploadIntroductionvideo*' | translate}}</h5>
                <p class="text-light">{{'Recordavideoof60-90secondstohelpusknowmoreaboutyou' | translate}}</p>
              </div>
              <div class="col-md-6 mb-3">
                <div class="card cardUpload">
                  <div class="row">
                    <div class="col-md-5 text-center">
                      <label class="custom-file-upload file">
<!--                        <input type="file" name="video" (change)="uploadVideo($event)"/>-->
                        <button class="hidden" data-toggle="modal" data-target="#exampleModalCenter" type="button"></button>
                        <img alt="" src="./assets/images/icon/film.png"  width="40">
                        <h5>{{'Record' | translate}}</h5>
                      </label>
<!--                      <p *ngIf="videoChangedEvent">{{videoChangedEvent.name}}-->
                    </div>
<!--                    <img alt="" [src]="assetUrl + '/' + introObj.intro_video">-->
                    <div class="col-md-2 text-center mt-3">
                      <h5>{{'OR' | translate}}</h5>
                    </div>
                    <div class="col-md-5 text-center">
                      <label class="custom-file-upload file">
                        <input type="file" name="image" (change)="uploadVideo($event)"/>
                      <img alt="" src="./assets/images/icon/upload.png"  width="40">
                      <h5>{{'Upload' | translate}}</h5>
                      </label>
                      <p *ngIf="videoChangedEvent">{{videoChangedEvent.name}}
                    </div>
                  </div>
                </div>
                <p *ngIf="videoSuccess">Video Uploaded Successfully.</p>
              </div>
            </div>
          </div>
            <div class="row card-footer m-0">
            <div class="col-md-6">
                <button class="btn btn-primary btnNext" type="submit" *ngIf="loader == false">{{'Save' | translate}}</button>
                <button class="btn btn-primary btnNext" type="button" disabled *ngIf="loader == true"><img alt="" src="./assets/images/loader.gif" width="25"></button>
              </div>
          <div class="col-md-6 text-right ">
              <button class="btn btn-primary btnNext" type="submit" *ngIf="loader == false">{{'Next' | translate}}</button>
              <button class="btn btn-primary btnNext" type="button" disabled *ngIf="loader == true"><img alt="" src="./assets/images/loader.gif" width="25"></button>
          </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Record Your Video Now</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body Centered">
        <video id="myVideo" playsinline class="video-js vjs-default-skin"></video>

        <p class="mt-3 mb-3" *ngIf="videoProgress">{{videoProgressText}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>
