<div class="container container-size mt-5">
  <div class="row">
    <div class="col-md-3">
<!--        <a routerLink="../details">-->
<a routerLink="/teacher/class/class-details/{{classObj.id}}"  >
  <div class="card cardTab">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/info.png" width="25">
      </div>
      <div class="col-md-9 text-left p-0">
        <h5>Details</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../course">-->
<a routerLink="/teacher/class/course/{{classObj.id}}">
  <div class="card cardTab">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/sort.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Format</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../image">-->
<a routerLink="/teacher/class/image/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/photo.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Images and videos</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../description">-->
<a routerLink="/teacher/class/description/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/description.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Description</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../extra">-->
<a routerLink="/teacher/class/extra/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/notebook.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Additional Info</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../resources">-->
<a routerLink="/teacher/class/resources/{{classObj.id}}">
  <div class="card cardTab cardTabSelected">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/connection.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Resources</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../pricing">-->
<a routerLink="/teacher/class/pricing/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/tag.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Pricing</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../welcome">-->
<a routerLink="/teacher/class/welcome/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/welcome.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Welcome Post</h5>
      </div>
    </div>
  </div>
</a>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="headerCard">
          <div class="row">
            <div class="col-md-6 col-6">
              <h4>EXTERNAL RESOURCES</h4>
            </div>
            <div class="col-md-6 text-right">
<!--                <img alt="" src="./assets/images/icon/guide.png" width="25">-->
            </div>
          </div>
        </div>
        <form ngNativeValidate (submit)="SaveClassDetailsAsDraft()">
        <div class="card-body head">
          <div class="row">
            <div class="col-md-12">
              <h6>Other website, apps, or services</h6>
              <label>Please select if there is any website, app, or services you want to recommend learner to take reference from.</label>
            </div>
            <div class="col-md-12">
              <input type="radio" id="noBusiness" [value]="" name="website" [(ngModel)]="business"/>
              <label class="pl-2" for="noBusiness">  No other websites, app, or services</label>
            </div>
            <div class="col-md-12">
            <input type="radio" id="business" name="website" [value]="1" [(ngModel)]="business"/>
            <label class="pl-2" for="business"> Other websites, app, or services</label>
            </div>
            <div class="col-md-12">
              <div *ngIf="classObj.external_resources[0] && business == 1">
                <div class="row m-0" *ngFor="let res of classObj.external_resources let i = index">
                  <div class="col-md-4 p-0 form-group">
                    <input class="form-control ageGroupStart" [name]="res.name" disabled placeholder="Name" [(ngModel)]="res.name">
                  </div>
                  <div class="col-md-8 p-0 form-group">
                    <input class="form-control ageGroupEnd"  [name]="res.url" disabled placeholder="Website or app URL" [(ngModel)]="res.url">
                    <span aria-hidden="true" class="closeFont" (click)="deleteAddedResource(i)">&times;</span>
                  </div>
                </div>
              </div>
              <form ngNativeValidate (submit)="addMoreResource()">
              <div class="row m-0" *ngIf="business == 1">
                <div class="col-md-4 p-0 form-group">
                  <input class="form-control ageGroupStart" type="text" name="newName" placeholder="Name" [(ngModel)]="externalName" required>
                </div>
                <div class="col-md-8 p-0 form-group">
                  <input class="form-control ageGroupEnd" type="url" name="newUrl" placeholder="Website or app URL" [(ngModel)]="externalUrl" required>
<!--                    <span aria-hidden="true" class="closeFont">&times;</span>-->
                </div>
              </div>
              <button *ngIf="business == 1" class="noBtn" type="submit">+ Add More Resources</button>
              </form>
            </div>
            <div></div>
            <div class="col-md-12 mt-3">
              <h6>Class Material (optional)</h6>
              <label for="list">List any material learners will need to complete the class. This may include ingredient of recipe, supplies for a project, book/textbook.
              If the supplies are not commonly around home, include price. If you will supply curriculum or material note that here.</label>
<!--                <textarea class="form-control" rows="1" placeholder="Enter Here" name="material" [(ngModel)]="classObj.class_material_title" id="list"></textarea>-->
              <editor aria-placeholder="Enter Here" name="material" [(ngModel)]="classObj.class_material_title" [init]="{
   height: 100,
   menubar: false,
   plugins: ['lists link image paste help wordcount'],
   toolbar: 'bold italic | bullist numlist'}" id="list" required></editor>
              <div class="card cardUpload text-center mt-2">
                <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                               (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                  <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
<!--                       <span>-->
<!--            <img alt="" class="placeholderPosition" src="./assets/images/placeholderImg.png" width="80"></span>-->
<!--                      <span *ngIf="imageName" class="imageNamePosition">{{imageName}}</span>-->
                  </ng-template>
                </ngx-file-drop>
<!--                  <span class="addMaterial text-secondary">+</span>-->
                <label class="custom-file-upload file" for="image">
                  <span class="addMaterial text-secondary">+</span>
                </label>
                <div>
                  <input type="file" class="hidden" name="image" id="image" (change)="uploadClassMaterial($event)"/>
                <h6 class="text-secondary">Browse / Drag and Drop</h6>
<!--                  <p *ngIf="classObj.class_material_attachments">{{classObj.class_material_attachments[0]}}</p>-->
                </div>
              </div>
            </div>
            <div class="col-md-12" *ngIf="materialImages[0]">
              <div class="row mt-3">
                <div class="col-md-2" *ngFor="let item of materialImages; let i = index">
                  <img alt="" width="50" src="./assets/images/icon/png.png" *ngIf="item.type == 'image/png'">
                  <img alt="" width="50" src="./assets/images/icon/jpg.png" *ngIf="item.type == 'image/jpeg'">
                  <img alt="" width="50" src="./assets/images/icon/pdf.png" *ngIf="item.type == 'application/pdf'">
                  <img alt="" width="50" src="./assets/images/icon/doc.png" *ngIf="item.type == 'application/doc'">
                  <img alt="" width="50" src="./assets/images/icon/doc.png" *ngIf="item.type == 'application/msword'">
                  <img alt="" width="50" src="./assets/images/icon/video-file.png" *ngIf="item.type == 'video/quicktime'">
                  <img alt="" width="50" src="./assets/images/icon/video-file.png" *ngIf="item.type == 'video/mp4'">
                  <img alt="" width="50" src="./assets/images/icon/video-file.png" *ngIf="item.type == 'video/mkv'">
                  <img alt="" width="50" src="./assets/images/icon/video-file.png" *ngIf="item.type == 'video/x-matroska'">
                  <p class="text-muted small">{{item.name}}</p>
                  <span class="fa fa-times-circle deleteMaterial" (click)="deleteAddedMaterial(i)"></span>
                </div>
              </div>
            </div>
            <div class="col-md-12" *ngIf="this.classObj.class_material_attachments[0]">
              <div class="row mt-3">
                <div class="col-md-12">
                <h6>Saved Attachments</h6>
                </div>
                <div class="col-md-2" *ngFor="let item of classObj.class_material_attachments; let i = index">
                  <img alt="" [src]="assetsUrl + item.attachmentPath" width="50">
                  <span class="fa fa-times-circle deleteMaterial" (click)="deleteAddedAssessments(i)"></span>
                </div>
              </div>
            </div>
        <!--    <div class="modal fade" id="cropImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Crop and Upload</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div>
                      <image-cropper
                        [imageChangedEvent]="imageChangedEvent"
                        [aspectRatio]="2 / 2"
                        format="png, jpg"
                        (imageCropped)="imageCropped($event)"
                        (imageLoaded)="imageLoaded()"
                        (cropperReady)="cropperReady()"
                        (loadImageFailed)="loadImageFailed()"
                      ></image-cropper>
                    </div>
                    &lt;!&ndash;                      <img [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'" />&ndash;&gt;
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="uploadClassMaterial()">Upload</button>
                  </div>
                </div>
              </div>
            </div>-->
            <div class="col-md-12 mt-3">
              <h6>Assignments (optional)</h6>
              <label for="material">Any material that you want to provide students for this class.</label>
<!--                <textarea class="form-control" rows="1" placeholder="Enter Here" name="assignment" [(ngModel)]="classObj.assignment_title" id="material"></textarea>-->
              <editor aria-placeholder="Enter Here" name="assignment" [(ngModel)]="classObj.assignment_title" [init]="{
   height: 100,
   menubar: false,
   plugins: ['lists link image paste help wordcount'],
   toolbar: 'bold italic | bullist numlist'}" id="material" required></editor>
              <div class="card cardUpload text-center mt-2">
                <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="drop($event)"
                               (onFileOver)="fileOverAssess($event)" (onFileLeave)="fileLeaveAssess($event)">
                  <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
<!--                       <span>-->
<!--            <img alt="" class="placeholderPosition" src="./assets/images/placeholderImg.png" width="80"></span>-->
                    <!--                      <span *ngIf="imageName" class="imageNamePosition">{{imageName}}</span>-->
                  </ng-template>
                </ngx-file-drop>
<!--                  <span class="addMaterial text-secondary">+</span>-->
                <label class="custom-file-upload file">
                  <span class="addMaterial text-secondary">+</span>
                </label>
                <div>
                <input type="file" class="hidden" name="image" (change)="uploadClassAssessments($event)">
                <h6 class="text-secondary">Browse / Drag and Drop</h6>
<!--                  <p *ngIf="classObj.assignment_attachments">{{classObj.assignment_attachments[0]}}</p>-->
              </div>
              </div>
              <div class="col-md-12" *ngIf="assessmentImages[0]">
                <div class="row mt-3">
                  <div class="col-md-2" *ngFor="let item of assessmentImages; let i = index">
                    <img alt="" width="50" src="./assets/images/icon/png.png" *ngIf="item.type == 'image/png'">
                    <img alt="" width="50" src="./assets/images/icon/jpg.png" *ngIf="item.type == 'image/jpeg'">
                    <img alt="" width="50" src="./assets/images/icon/pdf.png" *ngIf="item.type == 'application/pdf'">
                    <img alt="" width="50" src="./assets/images/icon/doc.png" *ngIf="item.type == 'application/doc'">
                    <img alt="" width="50" src="./assets/images/icon/doc.png" *ngIf="item.type == 'application/msword'">
                    <img alt="" width="50" src="./assets/images/icon/video-file.png" *ngIf="item.type == 'video/quicktime'">
                    <img alt="" width="50" src="./assets/images/icon/video-file.png" *ngIf="item.type == 'video/mp4'">
                    <img alt="" width="50" src="./assets/images/icon/video-file.png" *ngIf="item.type == 'video/mkv'">
                    <img alt="" width="50" src="./assets/images/icon/video-file.png" *ngIf="item.type == 'video/x-matroska'">
<!--                      <p class="text-muted small">{{item.name}}</p>-->
                    <p class="text-muted small">{{item.name}}</p>
                    <span class="fa fa-times-circle deleteMaterial" (click)="deleteAddedAssessments(i)"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-12" *ngIf="this.classObj.assignment_attachments[0]">
                <div class="row mt-3">
                  <div class="col-md-12">
                    <h6>Saved Attachments</h6>
                  </div>
                  <div class="col-md-2" *ngFor="let item of classObj.assignment_attachments; let i = index">
                    <img alt="" [src]="assetsUrl + item.attachmentPath" width="50">
                    <span class="fa fa-times-circle deleteMaterial" (click)="deleteAddedAssessments(i)"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 p-0">
          <div class="card-footer">
            <div class="row">
              <div class="col-md-6 text-left">
                <button type="submit" class="noBtn" >Save as Draft</button>
              </div>
              <div class="col-md-6 text-right">
                <button class="btn btn-primary btnNext" type="button" (click)="nextAndSave()">Next</button>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
