<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    
    <div class="arrows prev leftArrow"></div>
    <div class="arrows next rightArrow"></div>
    
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-6 text-left home-international">
              <h1>First-rate <br/> International <br> Education</h1>
              <button class="rounded-pill w-100 btn-class" routerLink="../freeClass">Get your FREE trial class now!</button>
              <i class="fa fa-angle-right"></i>
            </div>
            <div class="col-md-6 text-right">
              <img src="./assets/images/banner.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-6 text-left home-international">
              <h1>First-rate <br/> International <br> Education</h1>
              <button class="rounded-pill w-100 btn-class" routerLink="../freeClass">Get your FREE trial class now!</button>
              <i class="fa fa-angle-right"></i>

            </div>
            <div class="col-12 col-md-12 col-lg-6 text-right">
              <img src="./assets/images/banner.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-6 text-left home-international">
              <h1>First-rate <br/>International <br> Education</h1>
              <button class="rounded-pill w-100 btn-class" routerLink="../freeClass">Get your FREE trial class now!</button>
              <i class="fa fa-angle-right"></i>
            </div>
            <div class="col-12 col-md-12 col-lg-6 text-right">
              <img src="./assets/images/banner.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      <!-- Slide Four - Set the background image for this slide in the line below -->
      <div class="carousel-item">
        <div class="carousel-caption">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-6 text-left home-international">
              <h1>First-rate <br/>International <br> Education</h1>
              <button class="rounded-pill w-100 btn-class" routerLink="../freeClass">Get your FREE trial class now!</button>
              <i class="fa fa-angle-right"></i>
            </div>
            <div class="col-md-6 text-right">
              <img src="./assets/images/banner.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="kindergarten">
  <div class="container" style="margin-top: 50px;">
    <div class="row kg-section">
      <div class="col">
        <div class="text-center kids">
          <img alt="" src="./assets/images/img1.png">
          <h6>For 3-5yrs <br>of kids</h6>
        </div>
      </div>
      <div class="col">
        <div class="text-center kids">
          <img alt="" src="./assets/images/img1.png">
          <h6>For 6-9yrs <br>of kids</h6>
        </div>
      </div>
      <div class="col">
        <div class="text-center kids">
          <img alt="" src="./assets/images/img1.png">
          <h6>For 10-13yrs <br>of kids</h6>
        </div>
      </div>
      <div class="col">
        <div class="text-center kids">
          <img alt="" src="./assets/images/img1.png">
          <h6>For 14-18yrs <br>of kids</h6>
        </div>
      </div>
      
      <div (click)="classsearch()" class="col">
        <div  class="text-center kids orange-bg">
          
            <a><h6 class="text-white">Explore<br/>All<br/>Classes</h6></a>
          
        </div>
      </div>
    </div>
    
  </div>
</section>
<section *ngIf="isActive" class="select_classes">
  <div class="text-center my-5 classes">
    <h2>Choose from a vast selection of classes</h2>
    <p>Explore the list of classes based on your areas of interest</p>
  </div>
  <div class="container-fluid upcoming">
    <h4>Our Popular Classes</h4>
    <a href="" class="float-right" style="text-decoration: none;">See all</a>
    <div class="row">
      <div class="col-md-12 leftSlide">
    <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel"
                        [config]="slideConfig"
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
                        <div ngxSlickItem *ngFor="let i of classObj.data" class="slide">
                          <div>
                          <a>  
                          <div class="slider_content">
                              <div (click)="previewClass(i.id)" class="card">
                              <img [src]="assetsUrl + i.cover_image"  alt="Cover-Image" width="198px" height="150px">
                              <div class="card-body class_1">
                                <div class="home-ratings-one">
                                  <span class="text-white">{{i.rating}}</span>
                                  <span class="fa fa-star"></span>
                                  <span class="fa fa-star"></span>
                                  <span class="fa fa-star"></span>
                                  <span class="fa fa-star"></span>
                                  <span class="fa fa-star" style="width: 10%;"></span>
                                </div>
                                <h5 class="card-title">{{ i.title }}</h5>
                                <div class="d-flex justify-content-between">
                                  
                                  <div *ngIf="i.class_duration_type==1">
                                    <div><p>45mins</p></div>
                                  </div>
                                  <div *ngIf="i.class_duration_type==2">
                                    <div><p>30mins</p></div>
                                  </div>
                                  
                                  <div><p><span>&#8377;</span> {{i.price_per_student}}</p></div>
                                  <div><p>Ages {{i.from_age}}-{{i.to_age}}<p></div>
                                </div>
                                
                                <div class="border-bottom"></div>
                                <div class="d-flex justify-content-between mt-2">
                                  <div class="d-flex flex-row">
                                    <div> 
                                      <img alt="" style="border-radius:50%" width="30px" src="./assets/images/profileplaceholder.png" *ngIf="!i.image">
                                      <img alt="" style="border-radius:50%" width="30px" [src]="assetsUrl + i.image" *ngIf="i.image">
                                    </div>
                                    <div class="mt-md-2 ml-2"><p>{{i.first_name}} {{i.last_name}} </p></div>
                                  </div>
                                  <div class="mt-md-1"><img width="30px" src="./assets/images/flags/{{i.iso2 | lowercase}}.png"></div>
                                </div>
                              </div>
                            </div>
                            </div>
                            </a>
                          </div>
                        </div>
    </ngx-slick-carousel>
      </div>
    </div>
  </div>
  <div class="container-fluid upcoming">
    <h4>Classes Coming this week</h4>
    <a href="" class="float-right" style="text-decoration: none;">See all</a>
    <div class="row">
      <div class="col-md-12 leftSlide">
        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="slideConfig"
                            (init)="slickInit($event)"
                            (breakpoint)="breakpoint($event)"
                            (afterChange)="afterChange($event)"
                            (beforeChange)="beforeChange($event)">
            
            <div ngxSlickItem *ngFor="let i of classObj.data" class="slide">
              <div>
              <div class="slider_content">
                  <a>
                  <div (click)="previewClass(i.id)" class="card">
                  <img [src]="assetsUrl + i.cover_image"  alt="Cover-Image" width="198px" height="150px">
                  <div class="card-body class_1">
                    <div class="home-ratings-one">
                      <span class="text-white">{{i.rating}}</span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                      <span class="fa fa-star"></span>
                    </div>
                    <h5 class="card-title">{{ i.title }}</h5>
                    <div class="d-flex justify-content-between">
                      
                      <div *ngIf="i.class_duration_type==1">
                        <div><p>45mins</p></div>
                      </div>
                      <div *ngIf="i.class_duration_type==2">
                        <div><p>30mins</p></div>
                      </div>
                      
                      <div><p><span>&#8377;</span> {{i.price_per_student}}</p></div>
                      <div><p>Ages {{i.from_age}}-{{i.to_age}}<p></div>
                    </div>
                    
                    <div class="border-bottom"></div>
                    <div class="d-flex justify-content-between mt-2">
                      <div class="d-flex flex-row">
                        <div> 
                          <img alt="" style="border-radius:50%" width="30px" src="./assets/images/profileplaceholder.png" *ngIf="!i.image">
                          <img alt="" style="border-radius:50%" width="30px" [src]="assetsUrl + i.image" *ngIf="i.image">
                        </div>
                        <div class="mt-md-2 ml-2"><p>{{i.first_name}} {{i.last_name}} </p></div>
                      </div>
                      <div class="mt-md-1"><img width="30px" src="./assets/images/flags/{{i.iso2 | lowercase}}.png"></div>
                    </div>
                  </div>
                </div>
                </a>
                </div>
              </div>
            </div>
          </ngx-slick-carousel>
      </div>
    </div>
  </div>
  <div class="container-fluid upcoming">
    <h4>Classes below $800</h4>
    <a href="" class="float-right" style="text-decoration: none;">See all</a>
    <div class="row">
      <div class="col-md-12 leftSlide">
        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="slideConfig"
                            (init)="slickInit($event)"
                            (breakpoint)="breakpoint($event)"
                            (afterChange)="afterChange($event)"
                            (beforeChange)="beforeChange($event)">
                            <div ngxSlickItem *ngFor="let i of classObj.data" class="slide">
                              <div>
                              <div class="slider_content">
                                  <a>
                                  <div (click)="previewClass(i.id)" class="card">
                                  <img [src]="assetsUrl + i.cover_image"  alt="Cover-Image" width="198px" height="150px">
                                  <div class="card-body class_1">
                                    <div class="home-ratings-one">
                                      <span class="text-white">{{i.rating}}</span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                      <span class="fa fa-star"></span>
                                    </div>
                                    <h5 class="card-title">{{ i.title }}</h5>
                                    <div class="d-flex justify-content-between">
                                      
                                      <div *ngIf="i.class_duration_type==1">
                                        <div><p>45mins</p></div>
                                      </div>
                                      <div *ngIf="i.class_duration_type==2">
                                        <div><p>30mins</p></div>
                                      </div>
                                      
                                      <div><p><span>&#8377;</span> {{i.price_per_student}}</p></div>
                                      <div><p>Ages {{i.from_age}}-{{i.to_age}}<p></div>
                                    </div>
                                    
                                    <div class="border-bottom"></div>
                                    <div class="d-flex justify-content-between mt-2">
                                      <div class="d-flex flex-row">
                                        <div> 
                                          <img alt="" style="border-radius:50%" width="30px" src="./assets/images/profileplaceholder.png" *ngIf="!i.image">
                                          <img alt="" style="border-radius:50%" width="30px" [src]="assetsUrl + i.image" *ngIf="i.image">
                                        </div>
                                        <div class="mt-md-2 ml-2"><p>{{i.first_name}} {{i.last_name}} </p></div>
                                      </div>
                                      <div class="mt-md-1"><img width="30px" src="./assets/images/flags/{{i.iso2 | lowercase}}.png"></div>
                                    </div>
                                  </div>
                                </div>
                                </a>
                                </div>
                              </div>
                            </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</section>
<section class="serve">
  <div class="container mt-md-5 pt-md-3">
    <div class="row">
      <div class="col-md-6">
        <img alt="" src="./assets/images/img6.png" class="w-100">
      </div>
      <div class="col-md-6">
        <h2>We are here to serve</h2>
        <h5>What BriteBear offers:</h5>
        <div class="d-flex qualified_teacher">
          <div><!--main inside 3 coloumn-->
            <div class="">
              <div class="d-flex flex-row">
                <div><img alt="" src="./assets/images/icon1.png"></div>
                <div><p>Qualified Teachers</p></div>
              </div>
            </div>
            <div class="">
              <div class="d-flex flex-row">
                <div><img alt="" src="./assets/images/icon2.png"></div>
                <div><p>Free Trial Lesson</p></div>
              </div>
            </div>
            <div class="">
              <div class="d-flex flex-row">
                <div><img alt="" src="./assets/images/icon3.png"></div>
                <div><p>Monitored & Safe Content</p></div>
              </div>
            </div>
          </div>
          <div class="mt-md-5"><!--main inside 3 coloumn-->

            <div class="">
              <div class="d-flex flex-row">
                <div><img alt="" src="./assets/images/icon5.png"></div>
                <div><p>One-on-One Lessons</p></div>
              </div>
            </div>
            
            <div class="">
              <div class="d-flex flex-row">
                <div><img alt="" src="./assets/images/globe.png"></div>
                <div><p><a (click)="aboutUs()" style="text-decoration: none;">More About us</a></p></div>
              </div>
            </div>
          
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="counselling">
  <div class="container">
    <div class="row mt-5">
      <div class="col-sm-12">
        <div class="text-center success">
          <h2>Begin your journey with BriteBear. Get your FREE lesson here!</h2>
          <button class="btn btn-primary mt-4 btn_book" routerLink="../freeClass">Book free online class</button>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="teachers">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 approved">
        <a href="/others-profile/1"><img class="landscape" style="border-radius: 25px; border-top-left-radius: 75px;" alt="" src="./assets/images/ourteachers/TylerManzon.jpg"></a>
      </div>
      <div class="col-sm-3 approved">
        <a href="/others-profile/1"><img class="landscape" style="border-radius: 25px; border-top-left-radius: 75px;" alt="" src="./assets/images/ourteachers/JenHamelin.jpg"></a>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3 teach">
        <h2>Our <br> Teachers</h2>
        <p>All teachers on our platform are qualified & approved</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 approved">
        <a href="/others-profile/1"><img class="landscape" style="border-radius: 25px; border-top-left-radius: 75px;" alt="" src="./assets/images/ourteachers/JenniferWeissHeadShot.jpg"></a>
      </div>
      <div class="col-sm-3 approved">
        <a href="/others-profile/1"><img class="landscape" style="border-radius: 25px; border-top-left-radius: 75px;" alt="" src="./assets/images/ourteachers/LaurenJamieson.jpg"></a>
      </div>
      <div class="col-sm-3 approved">
        <a href="/others-profile/1"><img class="landscape" style="border-radius: 25px; border-top-left-radius: 75px;" alt="" src="./assets/images/ourteachers/SandroManzon.jpg"></a>
      </div>
    </div>
  </div>
</section>
<section class="parents">
  <div class="container my-5 py-4">
    <div class="text-center">
      <h2>What parents are saying about BriteBear</h2>
      <h5 class="mt-md-3">BriteBear provides platform to connect parents with foreign class education with professional
        education teachers, using its world-class features suitable for different purposes.</h5>
    </div>
    <div class="row mt-md-4">
      <div class="col-lg-12">
        <div class="slider-parents">
          <ngx-slick-carousel class="carousel"
                              #slickModal="slick-carousel"
                              [config]="slideParentConfig"
                              (init)="slickInit($event)"
                              (breakpoint)="breakpoint($event)"
                              (afterChange)="afterChange($event)"
                              (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let slide of slidesParents" class="slide">
          <div class="parents-content">
            <div>
<!--              <img alt="" src="./assets/images/video.png">-->
              <img src="{{ slide.img }}" alt="" width="100%">
            </div>
            <div class="ml-md-4 pl-md-2">
              <h4>Bharmari</h4>
              <h6>Mother</h6>
              <h5>“I really admire this platform to provide an opportunity to my kids that I missed.”</h5>
              <h4 class="mt-2">Hyderabad</h4>
            </div>
          </div>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="subject">
  <div class="container my-md-3">
    <div class="text-center">
      <h2>Classes by Subject</h2>
    </div>

    <div class="row my-5 photography">
      <div class="col">
        <h5>Arts</h5>
        <p>drawing| photography| dancel theatrel film|sewing| all Arts classes</p>
      </div>
      <div class="col">
        <h5>Math</h5>
        <p>drawing| photography| dancel theatrel film|sewing| all Arts classes</p>
      </div>
      <div class="col">
        <h5>History</h5>
        <p>drawing| photography| dancel theatrel film|sewing| all Arts classes</p>
      </div>
      <div class="col">
        <h5>Arts</h5>
        <p>drawing| photography| dancel theatrel film|sewing| all Arts classes</p>
      </div>
      <div class="col">
        <h5>Dance</h5>
        <p>drawing| photography| dancel theatrel film|sewing| all Arts classes</p>
      </div>
    </div>
    <div class="row my-5 photography">
      <div class="col">
        <h5>Music</h5>
        <p>drawing| photography| dancel theatrel film|sewing| all Arts classes</p>
      </div>
      <div class="col">
        <h5>Kindergarten</h5>
        <p>drawing| photography| dancel theatrel film|sewing| all Arts classes</p>
      </div>
      <div class="col">
        <h5>Hobbies and Manners</h5>
        <p>drawing| photography| dancel theatrel film|sewing| all Arts classes</p>
      </div>
      <div class="col">
        <h5>Human Body</h5>
        <p>drawing| photography| dancel theatrel film|sewing| all Arts classes</p>
      </div>
      <div class="col">
        <h5>Animals</h5>
        <p>drawing| photography| dancel theatrel film|sewing| all Arts classes</p>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
	
	var scrollContainer = function(container, direction) {
		var amount = direction * container.clientWidth;
		container.scrollLeft+=amount; 
	}

	var sliderContainer = document.getElementById('slider');

	var leftArrow = document.querySelector(".leftArrow");
	leftArrow.addEventListener('click', function(){
		scrollContainer(sliderContainer, -1);
	});
	
	var rightArrow = document.querySelector(".rightArrow");
	rightArrow.addEventListener('click', function(){
		scrollContainer(sliderContainer, 1);
	});
	
</script>