.leftSlide {
  left: 20px;
}

.arrows{
   width: 24px;
   height: 24px;
   border-color: #ff913b;
   color: #7C48C4;
   position: absolute;
   top: 50%;
   margin-top: -31px;
   z-index: 2000;
}

.prev{
   border-bottom: 6px solid;
   border-left: 6px solid;
   transform: rotate(45deg);
   left: 10px;
}
   
.next{
   border-bottom: 6px solid;
   border-left: 6px solid;
   transform: rotate(-135deg);
   right: 10px;
}

.circular--square {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.circular--portrait {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}

.landscape {
  display: inline-block;
  position: relative;
  width: 255px;
  height: 245px;
  overflow: hidden;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}