    <div class="container container-size mt-5">
      <div class="row">
        <div class="col-md-2 mt-4">
          <a routerLink="/teacher/apply/introduction"><div class="card text-center cardTab ">
            <div class="text-center">
              <img alt="info" src="./assets/images/icon/info.png" width="40">
            </div>
            <h5>{{'Introduction' | translate}}</h5>
          </div>
          </a>
          <a routerLink="/teacher/apply/experience"><div class="card text-center cardTab ">
            <div class="text-center">
              <img alt="info" src="./assets/images/icon/suitcase.png" width="40">
            </div>
            <h5>{{'Experience' | translate}}</h5>
          </div>
          </a>
          <a routerLink="/teacher/apply/certifications"><div class="card text-center cardTab">
            <div class="text-center">
              <img alt="info" src="./assets/images/icon/medal.png" width="40">
            </div>
            <h5>{{'Certification' | translate}}</h5>
          </div>
          </a>
          <a routerLink="/teacher/apply/academic"><div class="card text-center cardTab cardTabSelected">
            <div class="text-center">
              <img alt="info" src="./assets/images/icon/graduate.png" width="40">
            </div>
            <h5>{{'Academics' | translate}}</h5>
          </div>
          </a>
        </div>
        <div class="col-md-10">
          <i class="italicStyle"></i>
          <div class="steps">
            <div class="progress-line">
              <ul class="list-inline">
                <a routerLink="/teacher/apply/introduction"><li class="first active">
                  <div class="circle"><div class="circle inner-circle"></div></div>
                </li></a>
                <a routerLink="/teacher/apply/experience"><li class="middle active">
                  <div class="circle"><div class="circle inner-circle"></div></div>
                </li></a>
                <a routerLink="/teacher/apply/certifications"><li class="last active">
                  <div class="circle"><div class="circle inner-circle"></div></div>
                </li></a>
                <a><li class="final active">
                  <div class="circle"><div class="circle inner-circle"></div></div>
                </li></a>
              </ul>
            </div>
          </div>
          <div class="card">
            <form ngNativeValidate (ngSubmit)="addAcademic()">
            <div class="headerCard">
              <div class="row">
                <div class="col-md-6 col-6">
                  <h4>{{'ACADEMICDETAILS' | translate}}</h4>
                </div>
                <div class="col-md-6 text-right">
                  <a  (click)="guide()"> <img alt="" src="./assets/images/icon/guide.png" width="30"></a>
                </div>
              </div>
            </div>
            <div class="card-body head">
              <div *ngIf="academicsAllData[0]">
              <div class="row mb-3" *ngFor="let aca of academicsAllData">
                <div class="col-md-2">
                  <div class="card p-3 cardBorderExperience">
                    <div class="text-center">
                      <img alt="job" src="./assets/images/icon/graduate.png" width="35">
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <h5 class="experienceHeading">{{aca.schoolName}}</h5>
                  <h6 class="text-light experienceHeading">{{aca.areaOfStudy}}</h6>
                  <h6 class="text-light experienceHeading">{{aca.startYear | date: 'd MMM, yy'}} - {{aca.endYear | date: 'd MMM, yy'}}</h6>
                </div>
                <div class="col-md-2">
                  <div class="row m-0">
                    <div class="col">
                      <a href="javascript: void(0)" (click)="getSingleAcademics(aca.id)"> <img src="./assets/images/icon/edit.png" alt="edit" width="20"></a>
                    </div>
                    <div class="col">
                      <a href="javascript: void(0)" (click)="deleteAcademics(aca.id)"><img src="./assets/images/icon/close.png" alt="edit" width="20"></a>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12 mt-4">
                  <label for="schoolName">{{'SchoolName*' | translate}}</label>
                  <input type="text" id="schoolName" placeholder="{{'Ex:VelloreInstituteOfTechnology,Vellore' | translate}}"
                         name="school" [(ngModel)]="academicObj.school_name" required class="form-control">
                </div>
                <div class="form-group col-md-6">
                  <label for="study">{{'AreaOfStudy*' | translate}}</label>
                  <input type="text" class="form-control" id="study" name="study" [(ngModel)]="academicObj.area_of_study"
                         placeholder="{{'Ex:BachelorsOfComputerScienceAndTechnology' | translate}}" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="degree">{{'Degree*' | translate}}</label>
                  <input type="text" class="form-control" id="degree" name="degree"  required
                         [(ngModel)]="academicObj.degree" placeholder="{{'Ex:Btech(AI)' | translate}}">
                </div>
                <div class="form-group col-md-6">
                  <label for="start_year">{{'StartingYear*' | translate}}</label>
                  <input class="form-control" type="date" id="start_year" name="start_year" [max]="maximumDateStart" [(ngModel)]="academicObj.start_year" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="end_year">{{'EndingYear*' | translate}}</label>
                  <input type="date" id="end_year" class="form-control" name="end_year" [min]="academicObj.start_year" [max]="maximumDateStart" [(ngModel)]="academicObj.end_year" required>
                </div>
                <div class="col-md-6 mt-2">
                  <button class="btn btn-primary btnFinal" type="submit">{{'Save' | translate}}</button>
                </div>
                <div class="col-md-6 mt-2 text-right">
                  <button class="noBtn" type="submit"><h5 class="text-purple"> {{'+Add More' | translate}}</h5></button>
                </div>
              </div>
            </div>
            <div class="col-md-12 text-right p-0">
              <div class="card-footer">
                <div class="row">
                  <div class="col-md-7 text-left">
                      <mat-checkbox id="terms" name="terms" value="true" [(ngModel)]="academicObj.terms_accepted">
                        {{'Byinitiatingapplicationyouagree' | translate}} <br><a target="_blank" href="http://159.65.142.31/brite_bear/guidebook.html">
                        {{'terms&condition' | translate}}</a> {{'oftheusageofbritebear' | translate}}.</mat-checkbox>
                  </div>
                  <div class="col-md-5 text-right">
                <button class="btn btn-primary btnFinal" type="button" (click)="CheckDetailsAndInitiate()" *ngIf="loader == false">{{'Initiatetheapplicationprocess' | translate}}</button>
                    <button class="btn btn-primary btnNext" type="button" disabled *ngIf="loader == true"><img alt="" src="./assets/images/loader.gif" width="25"></button>
                  </div>
                </div>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
