  <div class="container mt-5">
    <div class="col-md-12">
    <div class="card p-3">
        <h4>CREATE NEW CLASS</h4>
        <h5>Create class for subject you want to teach to kids on BriteBear</h5>
      <div class="col-md-12 mt-4">
        <button class="btn btn-primary btnNext" routerLink="/teacher/class/class-details">Create Class</button>
      </div>
    </div>
    </div>
    <div class="col-md-12" *ngIf="classList[0]">
    <div class="card p-3 mt-3  scrollable contacts_body">
        <div class="row" *ngFor="let classes of classList">
          <div class="col-md-3">
            <img src="./assets/images/video-img.png" alt="" class="img-fluid" *ngIf="!classes.cover_image">
            <img [src]="assetsUrl + classes.cover_image" alt="" class="img-fluid" *ngIf="classes.cover_image">
          </div>
          <div class="col-md-9">
            <span class="heading">{{classes.title}}</span>
            <span class="text-primary" *ngIf="classes.status_id == 1"> Saved As Draft</span>
            <span class="text-primary" *ngIf="classes.status_id == 2"> Pending For Review</span>
            <span class="text-primary" *ngIf="classes.status_id == 3"> Published</span>
            <span class="text-primary" *ngIf="classes.status_id == 4"> Rejected</span>
            <div class="row m-0">
              <div class="col-md-3 m-0 p-0">
                <p class="m-0 text-muted">{{classes.subject}}</p>
              </div>
            <!--  <div class="col-md-3 m-0 p-0">
                <img class="" alt="" src="./assets/images/icon/star.png" width="20">
                <img class="" alt="" src="./assets/images/icon/star.png" width="20">
                <img class="" alt="" src="./assets/images/icon/star.png" width="20">
                <img class="" alt="" src="./assets/images/icon/star.png" width="20">
                <img class="" alt="" src="./assets/images/icon/star.png" width="20">
              </div>
              <div class="col-md-3 m-0 p-0">
                <span class="text-primary">5.0 </span><span class="text-muted small">(23 reviews)</span>
              </div>-->
              <div class="col-md-12 m-0 p-0">
                <p class="m-0" [innerHTML]="classes.summary"></p>
              </div>
              <div class="col-md-12 m-0 p-0">
                <p class="m-0">
                  <img class="" alt="" src="./assets/images/icon/sharedIcons/clock.png" width="30"/>&nbsp; &nbsp; <span>{{classes.class_duration_time}} minutes &nbsp; &nbsp;</span>
                  <img alt="" src="./assets/images/icon/sharedIcons/group1.png" width="30"/>&nbsp; &nbsp; <span>04- 08 years  &nbsp; &nbsp; &nbsp; &nbsp;</span>
                  <b>Class Size : {{classes.size_max}} Students</b>
                </p>
              </div>
              <div class="col-md-4 mt-2 p-0">
                <button class="btn btn-outline-primary schedule" [routerLink]="'/teacher/class/class-details/' + classes.id" *ngIf="classes.status_id == 1">Complete Your Listing</button>
                <button class="btn btn-outline-primary schedule" *ngIf="classes.status_id == 2" (click)="previewClass(classes.id)">Preview Class</button>
                <button class="btn btn-outline-primary schedule" *ngIf="classes.status_id == 3" (click)="previewClass(classes.id)">Schedule Class</button>
              </div>
              <div class="col-md-4 mt-2 p-0">
                <button class="btn btn-outline-primary schedule" (click)="sendId(classes.id)" data-toggle="modal" data-target="#staticBackdrop">Schedule Class</button>
              </div>
              <div class="col-md-4 mt-2 p-0">
                <p class="text-primary" *ngIf="classes.class_type_id == 2">[ 2 Times a Week ]&nbsp; <span class="f22">&nbsp;$ {{classes.price_per_student}}</span></p>
                <p class="text-primary" *ngIf="classes.class_type_id == 1">[ For 1 Week ]&nbsp; <span class="f22">&nbsp;$ {{classes.price_per_student}}</span></p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
<!--
<div class="modal fade" id="staticBackdrop" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Update Availability</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Select the time when you are available to teach</h5>
        <h6 class="text-primary"><a (click)="SelectAll()">Select All </a> |  <a (click)="DeselectAll()"> Deselect All</a></h6>
      </div>
      <form (submit)="sendAvailability()">
        <div class="table-responsive">
          <table class="table-borderless table">
            <thead>
              <tr>
                <th></th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
                <th>Sun</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor=" let avail of availability let i = index">
                <td>{{avail.slot.slot}}</td>
                <td><mat-checkbox name="monday_{{i}}" (change)="checkMonday(i, $event)" [(ngModel)]="avail.monday"></mat-checkbox></td>
                <td><mat-checkbox  name="tuesday_{{i}}" (change)="checkTuesday(i, $event)" [(ngModel)]="avail.tuesday"></mat-checkbox></td>
                <td><mat-checkbox  name="wednesday_{{i}}" (change)="checkWednesday(i, $event)" [(ngModel)]="avail.wednesday"></mat-checkbox></td>
                <td><mat-checkbox  name="thursday_{{i}}" (change)="checkThursday(i, $event)"  [(ngModel)]="avail.thursday"></mat-checkbox></td>
                <td><mat-checkbox  name="friday_{{i}}" (change)="checkFriday(i, $event)"  [(ngModel)]="avail.friday"></mat-checkbox></td>
                <td><mat-checkbox  name="saturday_{{i}}" (change)="checkSaturday(i, $event)" [(ngModel)]="avail.saturday"></mat-checkbox></td>
                <td><mat-checkbox  name="sunday_{{i}}" (change)="checkSunday(i, $event)" [(ngModel)]="avail.sunday"></mat-checkbox></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary btnNext">Confirm Selection</button>
        </div>
      </form>
    </div>
  </div>
</div>
-->

<div class="modal fade" id="staticBackdrop" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Update Availability</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Select the time when you are available to teach</h5>
      </div>
      <form (submit)="sendAvailability()">
        <div class="table-responsive" style="height: 200px;">
          
          <ejs-datetimepicker [(value)]='value' #datepickerObj depthLevel="month" placeholder="     select date and time"  ></ejs-datetimepicker>  <!--(focus)="onFocus($event)" (renderTimeCell)="onRenderCell($event)"-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary btnNext">Confirm Selection</button>
        </div>
      </form>
    </div>
  </div>
</div>
