.card {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 15px;
}
.btnNext {
  border-radius: 50px;
  padding: 10px 45px 10px 45px;
  background: #7C48C4;
  border: 1px solid;
}
.heading {
  font-size: 20px;
  font-weight: 600;
}
.schedule {
  background-color: white;
  border: 2px solid #7c48c4;
  border-radius: 30px;
  color: #7c48c4;
  padding: 8px 28px;
}
.f22 {
  font-size: 22px;
}
.brite_class {
  min-height: 2000px!important;
}
.scrollable {
  overflow-y: auto!important;
  overflow-x: hidden!important;
  min-height: 420px!important;
  max-height: 1400px!important;
}
.contacts_body::-webkit-scrollbar {
  height: 12px;
  width: 8px;
  background-color: #cccccc;
  border-radius: 50px;
}
.contacts_body::-webkit-scrollbar-thumb {
  background: #7c48c4;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0px 1px 2px rgba(255, 255, 255, .6);
}
.contacts_body::-webkit-scrollbar-corner {
  background: #cccccc;
}
.contacts_body {
  scrollbar-width:auto
}
