<div class="container container-size mt-5">
  <div class="row">
    <div class="col-md-3">
<!--        <a routerLink="../details">-->
<a routerLink="/teacher/class/class-details/{{classObj.id}}"  >
  <div class="card cardTab">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/info.png" width="25">
      </div>
      <div class="col-md-9 text-left p-0">
        <h5>Details</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../course">-->
<a routerLink="/teacher/class/course/{{classObj.id}}">
  <div class="card cardTab">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/sort.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Format</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../image">-->
<a routerLink="/teacher/class/image/{{classObj.id}}">
  <div class="card cardTab cardTabSelected">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/photo.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Images and videos</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../description">-->
<a routerLink="/teacher/class/description/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/description.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Description</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../extra">-->
<a routerLink="/teacher/class/extra/{{classObj.id}}">
  <div class="card cardTab">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/notebook.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Additional Info</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../resources">-->
<a routerLink="/teacher/class/resources/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/connection.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Resources</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../pricing">-->
<a routerLink="/teacher/class/pricing/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/tag.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Pricing</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../welcome">-->
<a routerLink="/teacher/class/welcome/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/welcome.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Welcome Post</h5>
      </div>
    </div>
  </div>
</a>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="headerCard">
          <div class="row">
            <div class="col-md-6 col-6">
              <h4>COVER IMAGE AND VIDEO</h4>
            </div>
            <div class="col-md-6 text-right">
<!--                <img alt="" src="./assets/images/icon/guide.png" width="25">-->
            </div>
          </div>
        </div>
        <form ngNativeValidate (submit)="nextAndSave()">
        <div class="card-body head">
          <div class="row">
            <div class="col-md-6">
              <div class="card cardUpload text-center">
                <label class="custom-file-upload file">
                  <input type="file" class="hidden" name="image" (change)="uploadImage($event)" *ngIf="loaderImage == false"/>
                  <img src="./assets/images/icon/sharedIcons/photo.png" alt="" width="50" *ngIf="!classObj.cover_image && loaderImage == false">
                  <img *ngIf="classObj.cover_image && loaderImage == false" alt="" [src]="assetsUrl + classObj.cover_image" width="300">
                  <img alt="" src="./assets/images/icon/loader.gif" *ngIf="loaderImage == true" width="200">
                </label>
<!--                  <p *ngIf="classObj.cover_image">{{classObj.cover_image}}</p>-->
<!--                  <img src="./assets/images/icon/film.png" alt="" width="50">-->
              </div>
              <div class="modal fade" id="cropImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Crop and Upload</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div>
                        <image-cropper
                          [imageChangedEvent]="imageChangedEvent"
                          [aspectRatio]="2 / 2"
                          format="png,jpg"
                          (imageCropped)="imageCropped($event)"
                          (imageLoaded)="imageLoaded($event)"
                          (cropperReady)="cropperReady($event)"
                          (loadImageFailed)="loadImageFailed()"
                        ></image-cropper>
                      </div>
                      <!--                      <img [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'" />-->
                    </div>
                    <div class="modal-footer">
                      <button type="button" *ngIf="loaderImage == false" class="btn btn-primary" (click)="uploadImage($event)">Upload</button>
                      <button type="button" disabled *ngIf="loaderImage == true" class="btn btn-primary"><img alt="" src="./assets/images/loader.gif" width="25"></button>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <h5>Cover Image</h5>
                <label>Choose an image that will explain your class better, at-least of 700pixels and with no copyright issues</label>
              </div>
            </div>
            
            
            <div class="col-md-6">
              <div class="card cardUpload text-center">
                <label class="custom-file-upload file">
                  <input type="file" class="hidden" name="image" accept="video/*" *ngIf="loaderVideo == false" (change)="uploadVideoDescription($event)"/>
<!--                    <img src="./assets/images/icon/film.png" alt="" width="50" *ngIf="!classObj.cover_video">-->
                  <img src="./assets/images/icon/film.png" alt="" width="50" *ngIf="loaderVideo == false">
                  <img src="./assets/images/icon/loader.gif" *ngIf="loaderVideo == true" width="200">
                  <p class="text-muted small" *ngIf="loaderVideo == false && classObj.cover_video">{{VideoName}}</p>
                  <p class="text-muted" *ngIf="loaderVideo == false && classObj.cover_video">Uploaded Successfully</p>
                  <!--                    <img *ngIf="classObj.cover_image" alt="" [src]="assetsUrl + classObj.cover_video" width="300">-->
                 <!-- <video width="200" *ngIf="classObj.cover_image" controls class="myvideo" style="height:100%">
                    <source [src]="assetsUrl + classObj.cover_video" id="video_here">
                  </video>-->
                </label>
<!--                  <p *ngIf="classObj.cover_image">{{classObj.cover_video}}</p>-->
              </div>
              <div>
                <h5>Video Description</h5>
                <label>Show and tell learners that what to expect from your class. Recommended length 30-90 minutes</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 p-0">
          <div class="card-footer">
            <div class="row">
              <div class="col-md-6 text-left">
                <button type="button" class="noBtn" *ngIf="loaderDraft == false" (click)="SaveClassDetailsAsDraft()">{{'SaveasDraft' | translate}}</button>
                <button class="noBtn" disabled *ngIf="loaderDraft == true" type="button"><img alt="" src="./assets/images/loader.gif" width="25"></button>
              </div>
              <div class="col-md-6 text-right">
                <button class="btn btn-primary btnNext" type="submit" *ngIf="loaderImage == false && loaderVideo == false" >{{'Next' | translate}}</button>
                <button class="btn btn-primary btnNext" disabled *ngIf="loaderImage == true || loaderVideo == true" type="button"><img alt="" src="./assets/images/loader.gif" width="25"></button>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
