<div class="container vision">
  <div class="col-md-12 text-center mt-5">
    <h2 class="text-white">Vision</h2>
    <div class="card text-center p-5">
      <h5>Coming SOon!</h5>
    </div>
  </div>
</div>
