<div>
<section class="login_form">
  <div class="container text-center mt-md-5">
    <div class="log_form1">
      <h4 class="my-md-4">LOGIN</h4>
      <form ngNativeValidate (submit)="Login()">
      <div>
          
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text form_user2" id="basic-addon1"><img alt="" src="./assets/images/user.png" class="user"></span>
          </div>
          <input type="text" class="form-control form_user" [(ngModel)]="loginbj.username" name="email" placeholder="Enter username or email"
                 aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text form_user2" id="basic-addon2"><img alt="" src="./assets/images/password.png" class="user"></span>
          </div>
          <input type="password" class="form-control form_user" name="password" [(ngModel)]="loginbj.password" placeholder="Enter your password here"
                 aria-label="Username" aria-describedby="basic-addon2">
        </div>
      </div>

      <div class=" mt-md-4 d-flex justify-content-between password">
        <div class="account_1"><p  class="mt-md-3 cursor" data-toggle="modal" data-target="#forgetPassword">Forgot your password ?</p></div>
        <div class="col-md-6 text-right">
          <button class="btn btn-primary btn_login" type="submit">Login</button></div>
      </div>
      </form>
      <div class="or"><h6>OR</h6></div>
      <div class="mt-md-5">
        <button class="btn btn-outline-primary w-100 btn_login" (click)="signInWithGoogle()"><img alt="" src="./assets/images/google.png" class="mr-2">Sign in with Google</button>
      </div>
      <div class="mt-md-3">
        <button class="btn btn-outline-primary w-100 btn_login" (click)="signInWithFB()"><img alt="" src="./assets/images/facebook.png" class="mr-2">Sign in with Facebook</button>
      </div>
      <div class="mt-md-4 account_1">
        <p>Don’t have an account ? <a routerLink="../signup"> Signup</a> </p>
      </div>
    </div>
  </div>
</section>
</div>
<div class="modal fade" id="forgetPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Forget Password?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form ngNativeValidate (submit)="forgotPassword()">
      <div class="modal-body Centered">
        <div class="col-md-12 form-group">
          <input type="email" class="form-control" placeholder="Enter Your Email Here" name="forget" [(ngModel)]="forgetPassword.email" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="resetPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reset">Reset Your Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form ngNativeValidate (submit)="resetPassword()">
        <div class="modal-body Centered">
          <div class="col-md-12 form-group">
            <input type="email" class="form-control" placeholder="Enter Your Email Here" name="email" disabled [(ngModel)]="resetPasswordObj.email" required>
          </div>
          <div class="col-md-12 form-group">
            <input type="password" class="form-control" placeholder="Enter Your New Password Here" name="password" [(ngModel)]="resetPasswordObj.password" required>
          </div>
          <div class="col-md-12 form-group">
            <input type="password" class="form-control" placeholder="Confirm Your Password Again" name="confPassword" [(ngModel)]="resetPasswordObj.confirm_password" required>
          </div>
          <div class="col-md-12 form-group">
            <input type="text" appDigitOnly class="form-control" placeholder="Enter your OTP, sent on your email" name="otp" [(ngModel)]="resetPasswordObj.otp" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Reset</button>
          <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
