<div class="container container-size mt-5">
  <div class="row">
    <div class="col-md-3">
<!--        <a routerLink="../details">-->
<a routerLink="/teacher/class/class-details/{{classObj.id}}"  >
  <div class="card cardTab">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/info.png" width="25">
      </div>
      <div class="col-md-9 text-left p-0">
        <h5>Details</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../course">-->
<a routerLink="/teacher/class/course/{{classObj.id}}">
  <div class="card cardTab">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/sort.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Format</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../image">-->
<a routerLink="/teacher/class/image/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/photo.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Images and videos</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../description">-->
<a routerLink="/teacher/class/description/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/description.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Description</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../extra">-->
<a routerLink="/teacher/class/extra/{{classObj.id}}">
  <div class="card cardTab">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/notebook.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Additional Info</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../resources">-->
<a routerLink="/teacher/class/resources/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/connection.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Resources</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../pricing">-->
<a routerLink="/teacher/class/pricing/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/tag.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Pricing</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../welcome">-->
<a routerLink="/teacher/class/welcome/{{classObj.id}}">
  <div class="card cardTab cardTabSelected">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/welcome.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Welcome Post</h5>
      </div>
    </div>
  </div>
</a>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="headerCard">
          <div class="row">
            <div class="col-md-6 col-6">
              <h4>WELCOME POST</h4>
            </div>
            <div class="col-md-6 text-right">
<!--                <img alt="" src="./assets/images/icon/guide.png" width="25">-->
            </div>
          </div>
        </div>
        <form ngNativeValidate (submit)="nextAndSave()">
        <div class="card-body head">
          <div class="row">
            <div class="col-md-12">
              <h5>Background Cover</h5>
              <label>Please share any background cover you have in this topic area.</label>
            </div>
            <div class="col-md-12 ">
              <div class="card cardUpload text-center">
                <label class="custom-file-upload file">
                  <input type="file" class="hidden" name="image" (change)="uploadWelcomePost($event)" required/>
                  <img src="./assets/images/icon/sharedIcons/add.png" alt="" width="60" *ngIf="!classObj.welcome_cover_path">
                  <img [src]="assetsUrl + classObj.welcome_cover_path" alt="" width="250" *ngIf="classObj.welcome_cover_path">
                </label>
              </div>
            </div>
            <div class="modal fade" id="cropImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Crop and Upload</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div>
                      <image-cropper
                        [imageChangedEvent]="imageChangedEvent"
                        [aspectRatio]="18 / 9"
                        format="png, jpg"
                        (imageCropped)="imageCropped($event)"
                        (imageLoaded)="imageLoaded()"
                        (cropperReady)="cropperReady()"
                        (loadImageFailed)="loadImageFailed()"
                      ></image-cropper>
                    </div>
<!--                      <img [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'" />-->
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="uploadWelcomePost($event)">Upload</button>
                  </div>
                </div>
              </div>
            </div>
              <div class="col-md-12 mt-3">
                <label for="welcomeMessage">This message will be displayed as the first post on the classroom page,
                  and is included in the welcome email each enrolled family receives before class.
                  Please include anything needed for the first class in this message. Changes will only
                  affect newly-created sections, not existing ones.</label>
<!--                  <textarea class="form-control" name="welcomeNote" [(ngModel)]="classObj.welcome_note" rows="4" placeholder="Welcome! I'm excited that you joined this class. Would you please introduce yourself to me and the other learners?" id="welcomeMessage"></textarea>-->
                <editor initialValue="Welcome! I'm excited that you joined this class. Would you please introduce yourself to me and the other learners?" name="welcomeNote" [(ngModel)]="classObj.welcome_note" [init]="{
   height: 100,
   menubar: false,
   plugins: ['lists link image paste help wordcount'],
   toolbar: 'bold italic | bullist numlist'}" id="welcomeMessage" required></editor>
              </div>
          </div>
          <div class="col-md-6 text-left mt-2">
            <a href="javascript: void(0)" class="text-secondary" (click)="showWelcomePreview()"><span><img alt="" src="./assets/images/icon/sharedIcons/eye.png" width="20"></span> Preview welcome post</a>
          </div>
        </div>
<!--//////////////// Modal For Preview Welcome Post ////////////////////-->
          <div class="modal fade" id="welcomePost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="col-md-12 p-0">
                  <div class="blurryWhiteness"></div>
                  <img alt="" class="img-fluid bannerFilter" [src]="assetsUrl + classObj.welcome_cover_path">
                  <div class="centered">
                    <h6 [innerHTML]="classObj.welcome_note"></h6></div>
                </div>
              </div>
            </div>
          </div>
        <div class="col-md-12 p-0">
          <div class="card-footer">
            <div class="row">
              <div class="col-md-4 text-left">
                <button type="button" class="noBtn" (click)="SaveClassDetailsAsDraft()">Save as Draft</button>
              </div>
              <div class="col-md-4 text-right">
                <button type="button" class="btn btn-outline-primary" (click)="previewClass()">Preview Class</button>
              </div>
              <div class="col-md-4 text-right">
                <button class="btn btn-primary btnNext" type="submit">Request Listing</button>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
