<div>
  <div class="container container-size">
    <div class="text-center marginTop">
      <h3 class="teachingHeading">PROFILE</h3>
    </div>
    <!--<div class="col-md-4 mb-0 mt-5">
      <a routerLink="../teacher/apply" class="text-white-50"><span class="fa fa fa-arrow-circle-left"> Take Me To Dashboard</span></a>
    </div>-->
    <div class="scrollable contacts_body">
    <div class="col-md-12 m-0 mb-3">
    <div class="card p-3">
    <div class="row">
    <div class="col-md-2">
<!--      <img alt="" class="img-fluid rounded-circle" src="./assets/images/15.jpg" *ngIf="!profSettingsObj.profile_image">-->
      <img alt="" class="img-fluid rounded-circle" src="./assets/images/profileplaceholder.png" *ngIf="!profSettingsObj.profile_image">
      <img alt="" class="img-fluid rounded-circle" [src]="assetsUrl + profSettingsObj.profile_image" *ngIf="profSettingsObj.profile_image">
      <span class="fa fa-pencil-square-o editImage">
      </span>
      <input type="file" class="hideChooseFile" (change)="uploadProfileImage($event)">
    </div>
      <div class="modal fade" id="cropImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Crop and Upload</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div>
                <image-cropper
                  [imageChangedEvent]="imageChangedEvent"
                  [aspectRatio]="2/2"
                  format="png, jpg"
                  (imageCropped)="imageCropped($event)"
                  (imageLoaded)="imageLoaded()"
                  (cropperReady)="cropperReady()"
                  (loadImageFailed)="loadImageFailed()"
                ></image-cropper>
              </div>
              <!--                      <img [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'" />-->
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="uploadProfileImage($event)">Upload</button>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-6">
      <h6>Hi {{profSettingsObj.first_name}}</h6>
      <p>Here's your profile</p>
    </div>
    </div>
    </div>
    </div>
    <div class="col-md-12 mt-4 mb-2" *ngIf="profView == 0">
      <div class="card p-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h5>Profile Settings</h5>
            </div>
            <div class="col-md-4 text-right">
              <button type="button" class="btn btn-primary btnNext" (click)="editProfileSettings()">Edit</button>
            </div>
            <div class="col-md-6 mt-3 form-group">
              <label for="firstName">First Name</label>
              <input type="text" id="firstName" class="form-control" name="firstName"
                     [(ngModel)]="profSettingsObj.first_name" disabled placeholder="eg: Isabella">
            </div>
            <div class="col-md-6 form-group mt-3">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" name="lastName"
                     [(ngModel)]="profSettingsObj.last_name" disabled placeholder="Ex: Gates">
            </div>
            <div class="col-md-6 mt-3 form-group">
              <label for="email">Email Address</label>
              <input type="text" id="email" class="form-control" name="email" [(ngModel)]="profSettingsObj.email" disabled placeholder="eg: isabella@mailinator.com">
            </div>
            <div class="col-md-6 form-group mt-3">
              <label for="Contact"> Contact Number</label>
              <input type="text" class="form-control" id="Contact" name="phone" [(ngModel)]="profSettingsObj.phone" disabled placeholder="Ex: +91 8896565565">
            </div>
            <div class="col-md-6 form-group mt-3">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" name="username"
                     [(ngModel)]="profSettingsObj.username" disabled placeholder="Ex: gatePates2002">
            </div>
            <div class="col-md-6 form-group mt-3">
              <label for="Country">Country</label>
              <!--              <input type="text" class="form-control" id="Country" name="country"-->
              <!--                     [(ngModel)]="profSettingsObj.country_name" disabled placeholder="Ex: India">-->
              <select class="form-control" name="countryName" id="Country" disabled  [(ngModel)]="profSettingsObj.country_id" required>
                <option value="">Select Country</option>
                <option [value]="country.id" *ngFor="let country of allCountries">{{country.name}}</option>
              </select>
            </div>
            <div class="col-md-6 form-group mt-3">
              <label for="State">State</label>
              <!--              <input type="text" class="form-control" id="State" name="state" [(ngModel)]="profSettingsObj.state"-->
              <!--                     disabled placeholder="Ex: MP">-->
              <select class="form-control" name="stateName" id="State" disabled [(ngModel)]="profSettingsObj.region_id" required>
                <option value="">Select State / Region</option>
                <option [value]="reg.id" *ngFor="let reg of allStates">{{reg.name}}</option>
              </select>
            </div>
            <div class="col-md-6 form-group mt-3">
              <label for="City">City </label>
              <!--              <input type="text" class="form-control" id="City" name="city" [(ngModel)]="profSettingsObj.city" disabled-->
              <!--                     placeholder="Ex: Indore">-->
              <select class="form-control" name="cityName" id="City" disabled [(ngModel)]="profSettingsObj.city_id" required>
                <option value="">Select City</option>
                <option [value]="city.id" *ngFor="let city of allCities">{{city.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-4 mb-2" *ngIf="profView == 1">
      <div class="card p-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h5>Profile Settings</h5>
            </div>
            <div class="col-md-4 text-right">
              <button type="button" class="btn btn-primary btnNext" (click)="updateProfileSettings()">Save</button>
            </div>

            <div class="col-md-6 mt-3 form-group">
              <label for="editFirstName">First Name</label>
              <input type="text" id="editFirstName" name="editFirstName"
                     [(ngModel)]="profSettingsObj.first_name"
                     class="form-control" placeholder="eg: Isabella">
            </div>
            <div class="col-md-6 form-group mt-3">
              <label for="editLastName">Last Name</label>
              <input type="text" class="form-control" id="editLastName" name="editLastName"
                     [(ngModel)]="profSettingsObj.last_name"
                     placeholder="Ex: Gates">
            </div>
            <div class="col-md-6 mt-3 form-group">
              <label for="email">Email Address</label>
              <input type="text" id="editEmail" class="form-control" name="email" [(ngModel)]="profSettingsObj.email"  placeholder="eg: isabella@mailinator.com">
            </div>
            <div class="col-md-6 form-group mt-3">
              <label for="Contact"> Contact Number</label>
              <input type="number" [max]="11" maxlength="11" [min]="10" class="form-control" id="editContact" name="phone" [(ngModel)]="profSettingsObj.phone" placeholder="Ex: +91 8896565565">
            </div>
            <div class="col-md-6 form-group mt-3">
              <label for="editUsername">Username</label>
              <input type="text" class="form-control" id="editUsername" name="editUsername"
                     [(ngModel)]="profSettingsObj.username" disabled placeholder="Ex: gatePates2002">
            </div>
            <div class="col-md-6 form-group mt-3">
              <label for="editCountry">Country</label>
              <select class="form-control" name="country" id="editCountry" (change)="getStates()"  [(ngModel)]="profSettingsObj.country_id" required>
                <option value="">Select Country</option>
                <option [value]="country.id" *ngFor="let country of allCountries">{{country.name}}</option>
              </select>
            </div>

            <div class="col-md-6 form-group mt-3">
              <label for="editState">State</label>
              <select class="form-control" name="state" id="editState" (change)="getCities()" [(ngModel)]="profSettingsObj.region_id" required>
                <option value="">Select State / Region</option>
                <option [value]="reg.id" *ngFor="let reg of allStates">{{reg.name}}</option>
              </select>
            </div>
            <div class="col-md-6 form-group mt-3">
              <label for="editCity">City </label>
              <select class="form-control" name="city" id="editCity" [(ngModel)]="profSettingsObj.city_id" required>
                <option value="">Select City</option>
                <option [value]="city.id" *ngFor="let city of allCities">{{city.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-4 mb-2" *ngIf="editView == 0">
      <div class="card p-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h5>Description</h5>
            </div>
            <div class="col-md-4 text-right pr-0 pt-0">
              <button class="btn btn-primary btnNext" (click)="EditIntro()">Edit</button>
            </div>
            <div class="col-md-12 form-group mt-3">
              <p [innerHTML]="introObj.work_description"></p>
            </div>
            <div class="col-md-8">
              <h5>Teaches</h5>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-12 form-group mt-3">
              <span class="willingToTeach" *ngFor="let addedTopics of addedTeacherTopics">{{addedTopics.topic.topic}}</span>
              <!--   <a class="willingToTeach">Art & Craft </a>
                 <a class="willingToTeach">Sketching </a>
                 <a class="willingToTeach">Music</a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-4 mb-2" *ngIf="editView == 1">
      <div class="card p-2">
        <div class="card-body">
          <form ngNativeValidate (submit)="SaveIntro()">
            <div class="row">
              <div class="col-md-8">
                <h5>Description</h5>
              </div>
              <div class="col-md-4 text-right pr-0 pt-0">
                <button class="btn btn-primary btnNext" type="submit">Save</button>
              </div>
              <div class="col-md-12 form-group mt-3">
            <!-- <textarea class="form-control" rows="10" placeholder="Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum Loreum Ipsum
Loreum IpsumLoreum Ipsum Loreum Ipsum Loreum Ipsum Loreum IpsumLoreum Ipsum" name="desc"
                       [(ngModel)]="introObj.work_description" required></textarea>-->
<!--                <editor [(ngModel)]="introObj.work_description"  id="describe" name="desc" required></editor>-->
                <editor aria-placeholder="Type Here" [(ngModel)]="introObj.work_description"  id="describe" name="desc" [init]="{
     height: 120,
     menubar: false,
     plugins: ['lists'],
     toolbar: 'bold italic | bullist numlist'}" required></editor>
              </div>
              <div class="col-md-8">
                <h5>Teaches</h5>
              </div>
              <div class="col-md-4"></div>
              <!-- <div class="col-md-12 form-group mt-3">
                 <label for="topic">Select Topics</label>
                 <select class="form-control" id="topic">
                   <option value="">Type to search topic</option>
                 </select>
               </div>-->
              <div class="form-group col-md-12">
                <label for="topics">Select topics</label>
                <ng-multiselect-dropdown
                  [placeholder]="'Select the topics you want to teach'"
                  [data]="teacherTopics"
                  [settings]="dropdownSettings"
                  [(ngModel)]="selectedItems"
                  name="topics"
                  (onSelect)="onItemSelect($event)"
                  (onDeSelect)="onItemDeSelect($event)"
                  id="topics">
                </ng-multiselect-dropdown>
              </div>
              <div class="col-md-12">
              <span class="willingToTeach" *ngFor="let addedTopics of addedTeacherTopics">{{addedTopics.topic.topic}}
                <a href="javascript: void(0)" (click)="deleteAddedTopic(addedTopics.id)" class="fa fa-times-circle text-white"></a></span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-12 mt-4 mb-2" *ngIf="expView == 0">
      <div class="card p-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h5>Experience</h5>
            </div>
            <div class="col-md-4"></div>
          </div>
          <div *ngIf="workExperienceAllData[0]">
            <div class="row mt-2" *ngFor="let exp of workExperienceAllData">
              <div class="col-md-2">
                <div class="card p-2 cardBorderExperience">
                  <div class="text-center">
                    <img alt="job" src="./assets/images/icon/suitcase.png" width="50">
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <!--              <h5 class="experienceHeading">RUN FITNESS CENTER</h5>-->
                <!--              <h6 class="text-light experienceHeading">Indore, India</h6>-->
                <!--              <h6 class="text-light experienceHeading">2014-2019</h6>-->
                <h5 class="experienceHeading">{{exp.organizationName}}</h5>
                <h6 class="text-light experienceHeading">{{exp.location}}</h6>
                <h6 class="text-light experienceHeading" *ngIf="exp.endYear">{{exp.startYear | date: 'd MMM, yy'}}-{{exp.endYear | date: 'd MMM, yy'}}</h6>
                <h6 class="text-light experienceHeading" *ngIf="!exp.endYear">{{exp.startYear | date: 'd MMM, yy'}} - Current Date</h6>
              </div>
              <div class="col-md-2">
                <div class="row">
                  <div class="col">
                    <a href="javascript: void(0)" (click)="getSingleExp(exp.id)">
                      <img src="./assets/images/icon/edit.png" alt="edit" width="20">
                    </a>
                  </div>
                  <div class="col">
                    <a href="javascript: void(0)" (click)="deleteExperience(exp.id)">
                      <img src="./assets/images/icon/close.png" alt="delete" width="20">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mt-2 text-left">
              <button type="button" class="noBtn" (click)="getNewExpView()"><h5 class="text-primary"> + Add More</h5>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-4 mb-2" *ngIf="expView == 1">
      <div class="card p-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h5>Experience</h5>
            </div>
            <div class="col-md-4"></div>
          </div>
          <div *ngIf="workExperienceAllData[0]">
            <div class="row mt-2" *ngFor="let exp of workExperienceAllData">
              <div class="col-md-2">
                <div class="card p-2 cardBorderExperience">
                  <div class="text-center">
                    <img alt="job" src="./assets/images/icon/suitcase.png" width="50">
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <h5 class="experienceHeading">{{exp.organizationName}}</h5>
                <h6 class="text-light experienceHeading">{{exp.location}}</h6>
                <h6 class="text-light experienceHeading" *ngIf="exp.endYear">{{exp.startYear | date: 'd MMM, yy'}}-{{exp.endYear | date: 'd MMM, yy'}}</h6>
                <h6 class="text-light experienceHeading" *ngIf="!exp.endYear">{{exp.startYear | date: 'd MMM, yy'}} - Current Date</h6>
              </div>
              <div class="col-md-2">
                <div class="row">
                  <div class="col">
                    <a>
<!--                      <img src="./assets/images/icon/paper.png" alt="copy" width="20">-->
                    </a>
                  </div>
                  <div class="col" (click)="experienceEditViewClose()">
                    <img src="./assets/images/icon/close.png" alt="close" width="20">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <form ngNativeValidate (submit)="saveExperience()">
            <div class="row">
              <div class="col-md-10 mt-3 form-group">
                <label for="orgName">Organisation Name</label>
                <input type="text" id="orgName" class="form-control" name="orgName"
                       [(ngModel)]="expObj.organization_name" placeholder="eg: Apple">
              </div>
              <div class="col-md-5 form-group mt-1">
                <label for="role">Role</label>
                <input type="text" class="form-control" id="role" name="role" [(ngModel)]="expObj.role"
                       placeholder="Ex: Product Designer">
              </div>
              <div class="col-md-5 form-group mt-1">
                <label for="loc">Location</label>
                <input type="text" class="form-control" id="loc" name="loc" [(ngModel)]="expObj.location"
                       placeholder="Ex: India">
              </div>
              <div class="col-md-5 form-group mt-1">
                <label for="syear">Starting Year</label>
                <input type="text" class="form-control" id="syear" name="start_year" [(ngModel)]="expObj.start_year"
                       placeholder="Ex: 2015">
              </div>
              <div class="col-md-5 form-group mt-1">
                <label for="eyear">Ending Year</label>
                <input type="text" class="form-control" id="eyear" name="end_year" [(ngModel)]="expObj.end_year"
                       placeholder="Ex: 2019">
              </div>
              <div class="col-md-2"></div>
              <!-- <div class="col-md-2 pr-0 mt-3">
                 <div class="card p-1 cardBorderExperience">
                   <div class="text-center">
                     <img alt="job" src="./assets/images/icon/suitcase.png" width="50">
                   </div>
                 </div>
               </div>
               <div class="col-md-8 pl-0">
                 <h5 class="experienceHeading">RUN FITNESS CENTER</h5>
                 <h6 class="text-light experienceHeading">Indore, India</h6>
                 <h6 class="text-light experienceHeading">2014-2019</h6>
               </div>
               <div class="col-md-2">
                 <div class="row m-0">
                   <div class="col">
                     <img src="./assets/images/icon/edit.png" alt="edit" width="20">
                   </div>
                   <div class="col">
                     <img src="./assets/images/icon/close.png" alt="edit" width="20">
                   </div>
                 </div>
               </div>-->
              <div class="col-md-6 mt-2 text-left">
                <button type="submit" class="noBtn"><h5 class="text-primary">Save & Add More</h5></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-4 mb-2" *ngIf="educationView == 0">
      <div class="card p-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h5>Education</h5>
            </div>
            <div class="col-md-4"></div>
          </div>
          <div *ngIf="academicsAllData[0]">
            <div class="row mt-2" *ngFor="let aca of academicsAllData">
              <div class="col-md-2">
                <div class="card p-2 cardBorderExperience">
                  <div class="text-center">
                    <img alt="job" src="./assets/images/icon/graduate.png" width="50">
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <h5 class="experienceHeading">{{aca.schoolName}}</h5>
                <h6 class="text-light experienceHeading">{{aca.areaOfStudy}}</h6>
                <h6 class="text-light experienceHeading">{{aca.startYear | date: 'd MMM, yy'}}-{{aca.endYear | date: 'd MMM, yy'}}</h6>
              </div>
              <div class="col-md-2">
                <div class="row">
                  <div class="col">
                    <a href="javascript: void(0)" (click)="getSingleAcademics(aca.id)"> <img
                      src="./assets/images/icon/edit.png" alt="edit" width="20"></a>
                  </div>
                  <div class="col">
                    <a href="javascript: void(0)" (click)="deleteAcademics(aca.id)"><img
                      src="./assets/images/icon/close.png" alt="edit" width="20"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-2 text-left">
            <button type="button" class="noBtn" (click)="getNewEducationView()"><h5 class="text-primary"> + Add
              More</h5></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-4 mb-2" *ngIf="educationView == 1">
      <div class="card p-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h5>Education</h5>
            </div>
          </div>
          <div *ngIf="academicsAllData[0]">
            <div class="row mt-2" *ngFor="let aca of academicsAllData">
              <div class="col-md-2">
                <div class="card p-2 cardBorderExperience">
                  <div class="text-center">
                    <img alt="job" src="./assets/images/icon/graduate.png" width="50">
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <h5 class="experienceHeading">{{aca.schoolName}}</h5>
                <h6 class="text-light experienceHeading">{{aca.areaOfStudy}}</h6>
                <h6 class="text-light experienceHeading">{{aca.startYear | date: 'd MMM, yy'}}-{{aca.endYear | date: 'd MMM, yy'}}</h6>
              </div>
              <div class="col-md-2">
                <div class="row">
                  <div class="col">
<!--                    <img src="./assets/images/icon/paper.png" alt="copy" width="20">-->
                  </div>
                  <div class="col"  (click)="educationEditViewClose()">
                    <img src="./assets/images/icon/close.png" alt="close" width="20">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <form ngNativeValidate (submit)="addAcademic()">
            <div class="row">
              <div class="form-group col-md-12 mt-4">
                <label for="schoolName">School Name</label>
                <input type="text" id="schoolName" placeholder="Ex: Vellore Institute Of Technology, Vellore"
                       name="school" [(ngModel)]="academicObj.school_name" required class="form-control">
              </div>
              <div class="form-group col-md-6">
                <label for="study">Area Of Study</label>
                <input type="text" class="form-control" id="study" name="study" [(ngModel)]="academicObj.area_of_study"
                       placeholder="Ex: Bachelors of Computer Science and Technology" required>
              </div>
              <div class="form-group col-md-6">
                <label for="degree">Degree</label>
                <input type="text" class="form-control" id="degree" name="degree" required
                       [(ngModel)]="academicObj.degree" placeholder="Ex: Btech(AI)">
              </div>
              <div class="form-group col-md-6">
                <label for="start_year_aca">Starting Year</label>
                <select class="form-control" id="start_year_aca"
                        name="start_year_aca" [(ngModel)]="academicObj.start_year" required="">
                  <option value="">Select Year</option>
                  <option [value]="1990">1990</option>
                  <option [value]="1991">1991</option>
                  <option [value]="1992">1992</option>
                  <option [value]="1993">1993</option>
                  <option [value]="1994">1994</option>
                  <option [value]="1995">1995</option>
                  <option [value]="1996">1996</option>
                  <option [value]="1997">1997</option>
                  <option [value]="1998">1998</option>
                  <option [value]="1999">1999</option>
                  <option [value]="2000">2000</option>
                  <option [value]="2001">2001</option>
                  <option [value]="2002">2002</option>
                  <option [value]="2003">2003</option>
                  <option [value]="2004">2004</option>
                  <option [value]="2005">2005</option>
                  <option [value]="2006">2006</option>
                  <option [value]="2007">2007</option>
                  <option [value]="2008">2008</option>
                  <option [value]="2009">2009</option>
                  <option [value]="2010">2010</option>
                  <option [value]="2011">2011</option>
                  <option [value]="2012">2012</option>
                  <option [value]="2013">2013</option>
                  <option [value]="2014">2014</option>
                  <option [value]="2015">2015</option>
                  <option [value]="2016">2016</option>
                  <option [value]="2017">2017</option>
                  <option [value]="2018">2018</option>
                  <option [value]="2019">2019</option>
                  <option [value]="2020">2020</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="end_year_aca">End Year</label>
                <select id="end_year_aca" class="form-control" name="end_year_aca" [(ngModel)]="academicObj.end_year"
                        required>
                  <option value="">Select Year</option>
                  <option [value]="1990">1990</option>
                  <option [value]="1991">1991</option>
                  <option [value]="1992">1992</option>
                  <option [value]="1993">1993</option>
                  <option [value]="1994">1994</option>
                  <option [value]="1995">1995</option>
                  <option [value]="1996">1996</option>
                  <option [value]="1997">1997</option>
                  <option [value]="1998">1998</option>
                  <option [value]="1999">1999</option>
                  <option [value]="2000">2000</option>
                  <option [value]="2001">2001</option>
                  <option [value]="2002">2002</option>
                  <option [value]="2003">2003</option>
                  <option [value]="2004">2004</option>
                  <option [value]="2005">2005</option>
                  <option [value]="2006">2006</option>
                  <option [value]="2007">2007</option>
                  <option [value]="2008">2008</option>
                  <option [value]="2009">2009</option>
                  <option [value]="2010">2010</option>
                  <option [value]="2011">2011</option>
                  <option [value]="2012">2012</option>
                  <option [value]="2013">2013</option>
                  <option [value]="2014">2014</option>
                  <option [value]="2015">2015</option>
                  <option [value]="2016">2016</option>
                  <option [value]="2017">2017</option>
                  <option [value]="2018">2018</option>
                  <option [value]="2019">2019</option>
                  <option [value]="2020">2020</option>
                </select>
              </div>
              <div class="col-md-6 mt-2 text-left">
                <button type="submit" class="noBtn"><h5 class="text-primary">Save & Add More</h5></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-4 mb-2" *ngIf="certView == 0">
      <div class="card p-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h5>Certifications</h5>
            </div>
          </div>
          <div *ngIf="certificateAllData[0]">
            <div class="row mt-2" *ngFor="let cert of certificateAllData">
              <div class="col-md-2">
                <div class="card p-2 cardBorderExperience">
                  <div class="text-center">
                    <img alt="job" src="./assets/images/icon/graduate.png" width="50">
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <h5 class="experienceHeading">{{cert.certificateTitle}}</h5>
                <h6 class="text-light experienceHeading">{{cert.instituteName}}</h6>
                <h6 class="text-light experienceHeading">{{cert.startYear | date: 'd MMM, yy'}}-{{cert.endYear | date: 'd MMM, yy'}}</h6>
              </div>
              <div class="col-md-2">
                <div class="row">
                  <div class="col">
                    <a href="javascript: void(0)" (click)="getSingleCertificate(cert.id)"><img
                      src="./assets/images/icon/edit.png" alt="edit" width="20"></a>
                  </div>
                  <div class="col">
                    <a href="javascript: void(0)" (click)="deleteCertificate(cert.id)"><img
                      src="./assets/images/icon/close.png" alt="delete" width="20"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-2 text-left">
            <button type="button" class="noBtn" (click)="getNewCertificateView()"><h5 class="text-primary"> + Add
              More</h5></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-4 mb-2" *ngIf="certView == 1">
      <div class="card p-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h5>Certifications</h5>
            </div>
          </div>
          <div *ngIf="certificateAllData[0]">
            <div class="row mt-2" *ngFor="let cert of certificateAllData">
              <div class="col-md-2">
                <div class="card p-2 cardBorderExperience">
                  <div class="text-center">
                    <img alt="job" src="./assets/images/icon/graduate.png" width="50">
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <h5 class="experienceHeading">{{cert.certificateTitle}}</h5>
                <h6 class="text-light experienceHeading">{{cert.instituteName}}</h6>
                <h6 class="text-light experienceHeading">{{cert.startYear | date: 'd MMM, yy'}}-{{cert.endYear | date: 'd MMM, yy'}}</h6>
              </div>
              <div class="col-md-2">
                <div class="row">
                  <div class="col">
<!--                    <img src="./assets/images/icon/paper.png" alt="copy" width="20">-->
                  </div>
                  <div class="col" (click)="certificateEditViewClose()">
                    <img src="./assets/images/icon/close.png" alt="close" width="20">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <form ngNativeValidate (submit)="addCertifications()">
            <div class="row">
              <div class="form-group col-md-12 mt-4">
                <label for="instName">Institution Name</label>
                <input type="text" id="instName" name="instName" [(ngModel)]="certObj.institute_name"
                       placeholder="Ex: Ronaldo Piano Classes" class="form-control" required>
              </div>
              <div class="form-group col-md-6">
                <label for="title">Certification Title</label>
                <input type="text" class="form-control" name="title" [(ngModel)]="certObj.certificate_title" id="title"
                       placeholder="Ex: Piano Lessons" required>
              </div>
              <div class="form-group col-md-6">
                <label for="guide">Guide Name</label>
                <input type="text" class="form-control" name="guide" [(ngModel)]="certObj.guide_name" id="guide"
                       placeholder="Ex: Robert Wadra" required>
              </div>
              <div class="form-group col-md-6">
                <label for="start">Starting Year</label>
                <select id="start" class="form-control " name="start_year" [(ngModel)]="certObj.start_year" required>
                  <option value="">Select Year</option>
                  <option [value]="1990">1990</option>
                  <option [value]="1991">1991</option>
                  <option [value]="1992">1992</option>
                  <option [value]="1993">1993</option>
                  <option [value]="1994">1994</option>
                  <option [value]="1995">1995</option>
                  <option [value]="1996">1996</option>
                  <option [value]="1997">1997</option>
                  <option [value]="1998">1998</option>
                  <option [value]="1999">1999</option>
                  <option [value]="2000">2000</option>
                  <option [value]="2001">2001</option>
                  <option [value]="2002">2002</option>
                  <option [value]="2003">2003</option>
                  <option [value]="2004">2004</option>
                  <option [value]="2005">2005</option>
                  <option [value]="2006">2006</option>
                  <option [value]="2007">2007</option>
                  <option [value]="2008">2008</option>
                  <option [value]="2009">2009</option>
                  <option [value]="2010">2010</option>
                  <option [value]="2011">2011</option>
                  <option [value]="2012">2012</option>
                  <option [value]="2013">2013</option>
                  <option [value]="2014">2014</option>
                  <option [value]="2015">2015</option>
                  <option [value]="2016">2016</option>
                  <option [value]="2017">2017</option>
                  <option [value]="2018">2018</option>
                  <option [value]="2019">2019</option>
                  <option [value]="2020">2020</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="end">End Year</label>
                <select id="end" class="form-control " name="end_year" [(ngModel)]="certObj.end_year" required>
                  <option value="">Select Year</option>
                  <option [value]="1990">1990</option>
                  <option [value]="1991">1991</option>
                  <option [value]="1992">1992</option>
                  <option [value]="1993">1993</option>
                  <option [value]="1994">1994</option>
                  <option [value]="1995">1995</option>
                  <option [value]="1996">1996</option>
                  <option [value]="1997">1997</option>
                  <option [value]="1998">1998</option>
                  <option [value]="1999">1999</option>
                  <option [value]="2000">2000</option>
                  <option [value]="2001">2001</option>
                  <option [value]="2002">2002</option>
                  <option [value]="2003">2003</option>
                  <option [value]="2004">2004</option>
                  <option [value]="2005">2005</option>
                  <option [value]="2006">2006</option>
                  <option [value]="2007">2007</option>
                  <option [value]="2008">2008</option>
                  <option [value]="2009">2009</option>
                  <option [value]="2010">2010</option>
                  <option [value]="2011">2011</option>
                  <option [value]="2012">2012</option>
                  <option [value]="2013">2013</option>
                  <option [value]="2014">2014</option>
                  <option [value]="2015">2015</option>
                  <option [value]="2016">2016</option>
                  <option [value]="2017">2017</option>
                  <option [value]="2018">2018</option>
                  <option [value]="2019">2019</option>
                  <option [value]="2020">2020</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="years">Valid Until</label>
                <div class="row m-0">
                  <div class="col-md-6 p-0 form-group">
                    <select class="form-control ageGroupStart" [(ngModel)]="certObj.valid_year" id="years" name="years"
                            required>
                      <option value="">Year(s)</option>
                      <option [value]="0">0 Year</option>
                      <option [value]="1">1 Year</option>
                      <option [value]="2">2 Years</option>
                      <option [value]="3">3 Years</option>
                      <option [value]="4">4 Years</option>
                      <option [value]="5">5 Years</option>
                      <option [value]="6">6 Years</option>
                      <option [value]="7">7 Years</option>
                      <option [value]="8">8 Years</option>
                      <option [value]="9">9 Years</option>
                      <option [value]="10">10 Years</option>
                      <option [value]="11">11 Years</option>
                      <option [value]="12">12 Years</option>
                      <option [value]="13">13 Years</option>
                      <option [value]="14">14 Years</option>
                      <option [value]="15">15 Years</option>
                      <option [value]="16">16 Years</option>
                      <option [value]="17">17 Years</option>
                      <option [value]="18">18 Years</option>
                      <option [value]="19">19 Years</option>
                      <option [value]="20">20 Years</option>
                      <option [value]="21">21 Years</option>
                      <option [value]="22">22 Years</option>
                      <option [value]="23">23 Years</option>
                      <option [value]="24">24 Years</option>
                      <option [value]="25">25 Years</option>
                    </select>
                  </div>
                  <div class="col-md-6 p-0 form-group">
                    <select class="form-control ageGroupEnd " id="months" [(ngModel)]="certObj.valid_month"
                            name="months" required="">
                      <option value="">Month(s)</option>
                      <option [value]="0">0 Month</option>
                      <option [value]="1">1 Month</option>
                      <option [value]="2">2 Months</option>
                      <option [value]="3">3 Months</option>
                      <option [value]="4">4 Months</option>
                      <option [value]="5">5 Months</option>
                      <option [value]="6">6 Months</option>
                      <option [value]="7">7 Months</option>
                      <option [value]="8">8 Months</option>
                      <option [value]="9">9 Months</option>
                      <option [value]="10">10 Months</option>
                      <option [value]="11">11 Months</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-12 mt-2 text-left">
                <button type="submit" class="noBtn"><h5 class="text-primary"> Save & Add More</h5></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-4 mb-2">
      <div class="card p-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <h5>Change Password</h5>
            </div>
            <div class="col-md-4"></div>
          </div>
          <form ngNativeValidate (submit)="updatePassword()">
            <div class="row">
              <div class="col-md-12 form-group mt-1">
<!--                <label for="password">Change Password</label>-->
                <input type="password" class="form-control" id="password" name="current"
                       [(ngModel)]="passwordObj.old_password" placeholder="Enter Current Password" required>
              </div>
              <div class="col-md-6 form-group mt-1">
                <input type="password" class="form-control" placeholder="Enter New Password" name="new"
                       [(ngModel)]="passwordObj.new_password" required>
              </div>
              <div class="col-md-6 form-group mt-1">
                <input type="password" class="form-control" placeholder="Confirm New Password" name="confirm"
                       [(ngModel)]="passwordObj.confirm_password" required>
              </div>
              <div class="col-md-6">
                <button class="btn btn-primary btnNext" type="submit">Change Password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
