.card {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 10px;

}
.cardTab {
  padding: 10px;
  margin-bottom: 20px;
}
.cardTab.cardTabSelected {
  border: 4px solid #fea800;
}
.editImage {
  position: absolute;
  right: 0;
  top: 0;
}
.hideChooseFile{
  opacity: 0;
  position: absolute;
  width: 140px;
  height: 100px;
}
.rounded-circle {
  border-radius: 50% !important;
  border: 2px solid #7C48C4;
  padding: 0;
  width: 100px;
  height: 100px;
  object-fit: contain;
}
h5 {
  font-size: 1rem;
  font-weight: 500;
  padding-top: 10px;
}
.teachingHeading {
  color: white;
  font-weight: bold;
  text-align: center;
}
.marginTop {
  margin-top: 10rem;
}
.cardNav {
  border-radius: 15px;
}
.nav-link {
  padding: 1.5rem 4rem!important;
  color: #000000;
  font-weight: 500;
}
a.active {
  /* background-color: #fea800!important;
   color: white;
   border-radius: 15px;*/
  background-color: #fea800!important;
  color: white;
  height: 95px;
  border-radius: 10px;
  padding-top: 32px!important;
  font-size: 20px;
  margin-top: -12px;
  margin-bottom: -12px;
}
a.activeClass {
  /* background-color: #fea800!important;
   color: white;
   border-radius: 15px;*/
  background-color: #7C48C4!important;
  color: white;
  height: 95px;
  border-radius: 10px;
  padding-top: 32px!important;
  font-size: 20px;
  margin-top: -12px;
  margin-bottom: -12px;
}
.container.container-size {
  max-width: 870px!important;
}
.container.container-size .card {
  border-radius: 12px;
}
.container.container-size .card .headerCard {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
}
.container.container-size .card .card-body.head {
  border-top: 1px solid #7C48C4 ;
}

select.form-control {
  border-radius: 20px!important;
}

input.form-control {
  border-radius: 20px!important;
}
textarea.form-control {
  border-radius: 20px!important;
}
label {
  color: #999;
}
.text-light {
  color: #999!important;
}
.cardUpload {
  background-color: #f4f4f4;
  padding: 30px;
  border: unset;
}

.card-footer {
  background-color: white;
  border-top: 1px solid #7C48C4;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.btnNext {
  border-radius: 50px;
  padding: 10px 45px 10px 45px;
  background: #7C48C4;
  border: 1px solid;
}
.italicStyle {
  padding-left: 10px;
  font-size: 12px;
  color: white;
}
.cardBorderExperience {
  border: 3px solid #7C48C4;
  height: 90px;
  width: 110px;
  justify-content: center;
}
select.form-control {
  border-radius: 30px!important;
  height: 50px;
}

input.form-control {
  border-radius: 30px!important;
  height: 50px
}
textarea.form-control {
  border-radius: 20px!important;
}
label {
  color: #999;
}
.text-light {
  color: #999!important;
}
.brite_class {
  height: auto !important;
}
.form-control.ageGroupStart {
  border-radius: 50px 0 0 50px!important;
  height: 50px;
}
.form-control.ageGroupEnd {
  border-radius: 0 50px 50px 0!important;
  height: 50px;
}
.form-control.ageGroupCenter {
  border-radius: 0!important;
  height: 50px;
}
.willingToTeach {
  border-radius: 8px;
  border: 1px solid #7C48C4;
  background-color: #7C48C4;
  color: #FFFFFF;
  padding: 10px 30px 10px 30px;
  margin-right: 10px;
}
.noBtn {
  border: unset;
  border-radius: unset;
  margin: unset;
  background-color: unset;
  color: #7C48C4;
}
input:disabled {
  cursor: not-allowed;
}
select:disabled {
  cursor: not-allowed;
}
.scrollable {
  overflow-y: auto!important;
  overflow-x: hidden!important;
  min-height: 1200px!important;
  max-height: 1800px!important;
}
.contacts_body::-webkit-scrollbar {
  height: 12px;
  width: 8px;
  background-color: #cccccc;
  border-radius: 50px;
}
.contacts_body::-webkit-scrollbar-thumb {
  background: #7c48c4;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0px 1px 2px rgba(255, 255, 255, .6);
}
.contacts_body::-webkit-scrollbar-corner {
  background: #cccccc;
}
.contacts_body {
  scrollbar-width:auto
}
