nav.fixed-top{
  position: absolute;
}
.navbar-brand {
   position: unset!important;
   top: unset!important;
   left: unset!important;
}
.navbar-brand img{
  width: unset;
}
.nav-link.preview {
  padding: 10px 20px!important;
  color: #7C48C4!important;
}
.text-white {
  padding: unset!important;
}
.rounded-circle {
  margin-top: 7px;
  border-radius: 20% !important;
  padding: 0;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.icon-a {
  color:white;
} 

.icon-b {
  color:violet;
} 
/* === Home page css ===*/


.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  color: orange;
  background-color: transparent;
  border:none;
}
/*media query*/
@media screen and (max-width: 767px){
  .logo-width {
    width: 70%;
  }
  /*homepage*/

  .kids img {
    width: 45%;
  }
  .kids {
    padding: 1.5rem 0;
    width: 145px;
    height: 145px;
    margin-left: 1.1rem!important;
    margin-bottom: 0.5rem;
  }
  .serve .qualified_teacher img {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .slider-blog .slick-prev:before {
    top: unset;
    right: 7rem;
  }
  .slider-blog .slick-next:before {
    top: unset;
    left: 7rem;
  }

  .kids h6 {
    font-size: 12px;
  }
  .home-ratings-one span {
    font-size: 12px;
  }
  .home-international h1 {
    font-size: 25px;
  }
  .carousel-caption {
    top: 40%;
  }
  .btn-class {
    font-size: 12px;
  }
  .home-international i {
    right: 7%;
    margin-top: 5px;
  }
  .select-heading {
    font-size: 18px;
    text-align: center;
  }
  .kids.orange-bg h6 {
    padding: 12px 0!important;
  }
  .teach p {
    font-size: 12px;
  }
  .teach {
    padding-left: 2rem;
    padding-top: 1rem;
  }
  .select_classes p {
    font-size: 12px;
    margin-top: 5px;
  }
  .upcoming h4 {
    font-size: 16px;
  }

  .home-top-nav {
    background: white;
  }
  .home-top-nav li a {
    color: orange!important;
    margin-left: 1rem;
    font-size: 13px;
  }
  .home-btn-signup {
    color: orange;
    font-size: 12px;
    margin-left: 3px;
  }
  .class_1 h5 {
    font-size: 14px;
    margin-top: 5px;
  }
  .serve h5 {
    font-size: 14px;
    text-align: center;
  }
  .parents h5 {
    font-size: 14px;
  }
  button.btn.btn-primary.btn_login1 {
    margin: 1rem 0;
    font-size: 14px;
  }
  .inner_footer {
    margin-top: 2rem;
  }
  .counselling h2 {
    font-size: 16px;
  }
  .counselling .success {

    padding: 1rem 0;
    margin-top: 2rem;
  }
  .counselling button.btn.btn-primary.btn_book {
    font-size: 14px;
    margin-top: 1rem;
  }
  section.parents {
    margin-top: 0;
  }
  .home-admire h4 {
    font-size: 14px;
  }
  .home-admire h6 {
    font-size: 12px;
  }
  .home-admire h5 {
    text-align: left;
  }
  .home-admire {
    margin-left: 1rem;
  }
  section.teachers {
    background-image: url(../../../../../assets/images/mobile-teacher_720.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 3rem;
    height: 573px;
  }
  section.select_classes {
    margin-top: 2.5rem;
  }
  .slider-blog-one {
    margin-bottom: 3rem;
  }
  .slider-blog-two {
    margin-bottom: 3.5rem!important;
  }
  .slider-blog-three {
    margin-bottom: 3.5rem!important;
  }
  .qualified_teacher p {
    font-size: 12px;
  }
  .home-qualified-one {
    margin-top: 4rem;
  }
  .qualified_teacher p {
    margin-left: 10px;
    margin-top: 14px;
  }
  .qualified_teacher a {
    font-size: 14px;
  }

  button#dropdownMenuButton {
    width: 98%;
    background:#7C48C4;
    color: white;
  }
  .slider-parents .slick-next:before {
    content: url(../../../../../assets/images/arrow1.png);
    position: relative;
    top: unset;
    left: -9rem;
    margin-right: 0;
  }
  .slider-parents .slick-prev:after {
    content: url(../../../../../assets/images/arrow2.png);
    position: relative;
    top: unset;
    right: unset;
    margin-left: 11rem;
  }

  .brite_login {
    background-image: url(../../../../../assets/images/orange-mob.png)!important;
  }
  .class-list .class-kids h1 {
    font-size: 23px;
    margin: 0.4rem 0;
  }
  .navbar-light .navbar-toggler {
    border-color: white!important;
  }
  .class-art .class-main-heading {
    text-align: center;
    font-size: 18px;
  }
  .class-duration h4 {
    font-size: 12px;
    margin-bottom: 0;
  }
  .class-art .class-duration p {
    font-size: 10px;
  }
  .class-art .class-duration {
    padding: 1.1rem 0;
    border-radius: 15px;
  }
  .class-art .class-duration i {
    font-size: 20px!important;
  }
  .class-next {
    font-size: 18px;
  }
  .class-art .class-rebeca h5 {
    font-size: 18px;
  }
  .class-art {
    margin-top: 0;
  }
  .class-craft h4 {
    font-size: 15px;
    margin: 0.2rem 0;
  }
  .class-art .user-ratings span {
    font-size: 12px;
  }
  .heading h6 {
    font-size: 12px;
  }
  .class-profile-one h5 {
    font-size: 16px;
  }
  .profile-img-one {
    width: 50px;
  }
  .class-profile-one p {
    font-size: 12px;
  }
  .class-profile-one {
    margin-top: 0;
    margin-left: 0;
    padding: 0.5rem;
  }

  .class-craft p {
    font-size: 14px;
  }
  .class-craft h2 {
    font-size: 20px;
  }
  .class-art .class-craft p {
    margin-bottom: 0.2rem;
    font-size: 10px;
  }

  .class-art .class-btn-enroll {
    text-align: center;
  }
  .class-art .class-certificate img {
    width: 100%;
  }
  .class-art .class-experience {
    padding: 0 1rem;
  }
  .class-art .class-rebeca {
    margin-top: 0.4rem;
    margin-bottom: 1rem;
  }
  .class-art .user-ratings-star span {
    margin-right: 0;
    font-size: 14px;
    font-weight: 500;
  }
  .class-art .user-ratings-star {
    margin-top: 7px;
  }
  .class-art .accordion-section .panel-default .panel-title a {
    font-size: 18px;
  }
  .class-main-heading {
    padding-bottom: 0.5rem!important;
  }
  .class-art .btn-enroll-now {
    padding: 0.5rem 1rem;
    font-size: 14px;
    margin: 6px 0 8px;
  }
  .class-art .class-questions .class-look p {
    margin-top: 0;
  }
  .class-learning h6 {
    font-size: 14px;
  }
  button.btn.btn-primary.btn-feature {
    margin: 0.5rem 0;
  }
  .class-art .class-kids p {
    margin: 0.4rem 0!important;
    font-size: 13px;
  }
  .class-art .class-meet-once h5 {
    font-size: 16px;
  }
  .class-art .class-meet-once p {
    font-size: 12px;
  }
  .class-art .class-meet-once h6 {
    margin: 5px 0;
    font-size: 13px;
  }
  .class-pagination {
    margin-top: 0.5rem;
  }
  .class-art .has-search .form-control {
    padding: 1.5rem 0.75rem;
  }
  .class-art .has-search .form-control-feedback {
    right: 8%;
  }
  .class-art .class-report span {
    margin-left: 16px;
  }
  .class-art-right {
    margin-top: 1rem;
  }
  .card {
    width: inherit!important;
  }
  .class-art-one .class-barnet h4 {
    text-align: center;
  }
  .class-art-one .slick-next:before {
    top: unset;
    left: unset;
    position: relative;
  }
  .class-art-one .slick-prev:before {
    top: unset;
    left: unset;
    position: relative;
    margin-left: 6rem;
  }
  .class-date-time {
    padding: 0 0.5rem;
  }
  /*list page*/
  .form-group.has-search {
    margin-bottom: 0.3rem;
  }
  .list-times {
    display: block;
  }
  .list-next-class {
    display: block;
  }
  .list-next-class p {
    margin-bottom: 5px;
    font-size: 12px;
  }

  .list-animal h5 {
    font-size: 16px;
    margin-top: 1rem;
  }
  .class-subject .list-animal i {
    font-size: 1.2rem;
    top: 1rem;
  }
  .class-subject .class-list-ratings span {
    margin-right: 0.2rem;
    font-size: 14px;
  }
  .class-subject .class-craft {
    font-size: 12px;
    margin-bottom: 10px!important;
    margin-top: 1px!important;
  }
  .list-times h6 {
    font-size: 14px;
  }
  .class-subject .class-barnet {
    margin-top: 3px;
    margin-left: 0.8rem;
  }

  button.btn.btn-primary.btn-feature {
    padding: .375rem 0.5rem;
    font-size: 14px;
  }
  .class-art .class-review-helpful span {
    margin-right: 2px;
    font-size: 12px;
  }
  .class-art .class-review-helpful a {
    padding: 0 10px;
  }
  .class-art .class-learning p {
    font-size: 13px;
  }
  .class-art .class-border {
    margin-bottom:1rem!important;
  }
  .class-art .class-answer a {
    font-size: 12px;
  }
  .class-art-one .class-barnet h4 {
    font-size: 20px;
  }
  .class-barnet.learner-all a {
    float: right;
    font-size: 12px;
    margin-left: 4px;
    margin-top: 0;
  }
  .learner-all {
    margin: 1.5rem 0;
  }
  .class-view {
    padding-bottom: 10px;
  }
  .class-view a {
    font-size: 14px;
  }
  .class-enroll span i {
    margin-left: 2.8rem;
  }
  .class-art .class-rebeca p {
    font-size: 12px;
    margin-bottom: 0.4rem;
  }
  .arts {
    width: 100%;
    padding: 0 2rem;
  }
  .class-art .class-questions .class-look {
    text-align: center;
  }
  .class-art-one .card .card-title {
    font-size: 16px;
  }
  .class-art-one .card .class-mins span {
    font-size: 13px;
    margin-right: 1.3rem;
  }
  .class-art-one .card .class-ratings-one span {
    font-size: 15px;
  }
  .class-art-heading {
    margin: 2rem 0 1rem;
  }
  .class-art .accordion-section .panel-default .panel-title a {
    padding: 1rem 1rem 0;
  }
  .class-art .accordion-section .one-time {
    padding: 0 1rem;
    font-size: 14px;
  }
  .class-art .accordion-section .panel-body.content {
    padding: 0 1rem 1rem!important;
  }
  .class-art .class-art-fun i {
    font-size: 18px;
  }
  .class-art .accordion-section .class-art-fun h6 {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
  }
  .class-art .class-icon {
    font-size: 10px;
  }
  .panel-body.content p {
    font-size: 12px;
    margin-bottom: 0.3rem;
    font-weight: 400;
  }
  .profile-img-two {
    width: 50px;
  }
  .class-art .user-ratings-star p {
    font-size: 10px;
  }
  footer li a {
    font-size: 14px;
  }
  img.footer_logo1 {
    width: 25%;
  }
  .class-details-request {
    background: url(../../../../../assets/images/15.jpg) no-repeat;
    background-size: 100%;
    height: auto;
    border-radius: 15px;
    margin-top: 2rem;
  }
  .class-art .upcoming-class {
    border-radius: 15px;
  }
  .class-talk-content {
    padding: 1rem;
  }
  .upcoming a {
    font-size: 0;
  }
  .facebook p {
    margin-bottom: 0;
    font-size: 12px;
  }
  .class-association p {
    font-size: 12px;
  }
  .class-art-one button.slick-prev {
    margin-top: 1rem;
  }
  .facebook img {
    width: 20px;
  }
  a.site {
    margin-left: 0;
  }
  ul.footer-list-content {
    margin: 0.3rem 0;
    text-align: center;
  }
  ul.footer-list-content li {
    display: contents;
  }
  ul.footer-list-content li a {
    margin-right: 0.5rem;
  }
  .footer-social-media {
    text-align: center;
    margin-top: 1rem;
  }
  .footer-logo {
    text-align: center;
    margin-bottom: 1rem;
  }
  .class-details-request h3 {
    font-size: 18px;
  }
  .class-details-request h6 {
    font-size: 14px;
  }
  footer input.form-control, footer input.form-control:focus {
    font-size: 12px;
  }
  .card-one {
    padding-right: 5px;
  }
  .card-two {
    padding-left: 5px;
    padding-right: 5px;
  }
  .card-three {
    padding-left: 5px;
  }
  .class-week {
    display: block;
    margin-top: -4px;
  }
  .class-subject .class-week h6 {
    margin-left: 0;
    margin-top: 0;
  }
  .class-barnet h6 {
    font-size: 15px;
  }
  .search-field {
    padding: 0 0.4rem;
  }
  .trasaction-table {
    padding: 0 1rem;
  }
}




@media screen and (min-width: 768px) and (max-width: 991px){
  .class-art .class-report span {
    margin-left: 16px;
  }
  .class-art-right {
    margin-top: 1rem;
  }
  .list-times h6 {
    padding: 3px;
    font-size: 14px;
  }
  .class-subject .list-times i {
    font-size: 20px;
  }
  .list-times div {
    margin-right: 0.5rem;
  }
  .list-next-class p {
    font-size: 12px;
    margin-right: 0.3rem;
  }
  .class-subject .list-animal i {
    right: 1.4rem;
  }
  .list-animal h5 {
    font-size: 15px;
  }
  .class-subject .class-list-ratings span {
    font-size: 12px;
  }

  .class-art {
    margin-top: 0rem!important;
  }
  .class-craft h2 {
    font-size: 22px;
    margin-bottom: 0;
  }
  .sedona-time h4 {
    font-size: 15px;
  }
  .class-profile-one h5 {
    font-size: 16px;
  }
  .class-profile-one p {
    font-size: 12px;
  }

  .class-craft h4 {
    font-size: 16px;
    margin: 3px 0;
  }
  .class-art .user-ratings span {
    font-size: 14px;
  }
  .class-art .class-craft p {
    font-size: 14px;
  }
  .arts {
    width: 50%;
  }
  .logo-width {
    width: 70%;
  }
  .kids {
    width: 20%;
  }
  .class-art .class-craft p {
    font-size: 12px;
  }
}
@media screen and (min-device-width: 992px) and (max-device-width: 1200px) {
  .class-art {
    margin-top: 0!important;
  }
  .class-craft h2 {
    font-size: 24px;
  }
  .class-craft h4 {
    font-size: 18px;
  }
  .class-art .class-craft p {
    font-size: 14px;
  }
  .logo-width {
    width: 70%;
  }
  .class-art .btn-enroll-now {
    padding: 0.5rem 1rem;
  }
}
