<div>
  <section>
    <div class="container class-art">
      <div class="deep">
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-8">
          <div class="class-craft">
            <h2 class="text-white">{{classObj.title}}</h2>
            <h4 class="text-white">{{localSubject}}</h4>
            <p class="text-white" [innerHTML]="classObj.summary"></p>
          </div>
          
          <div class="row">
            <div class="col-12 col-md-5 col-lg-5">
              <div class="user-ratings">
                <i class="fa fa-star icon-b"></i>
                <i class="fa fa-star icon-b"></i>
                <i class="fa fa-star icon-b"></i>
                <i class="fa fa-star icon-b"></i>
                <i class="fa fa-star icon-b"></i>
                
                <span class="text-white"> {{classObj.rating}} ( {{classObj.review}} reviews)</span>
              </div>
            </div>
            <!--
            <div class="col-12 col-md-7 col-lg-7">
              <div class="heading text-white">
                <h6 *ngIf="classObj.class_type_id == 1">[ONE-TIME Class]
                  <span>Students Enrolled: 00</span>
                </h6>
                <h6 *ngIf="classObj.class_type_id == 2">[MULTI-DAY Class]
                  <span>Students Enrolled: 00</span>
                </h6>
                <h6 *ngIf="classObj.class_type_id == 3">[ONGOING Class]
                  <span>Students Enrolled: 00</span>
                </h6>
                <h6 *ngIf="classObj.class_type_id == 4">[RECORDED Class]
                  <span>Students Enrolled: 00</span>
                </h6>
              </div>
            </div>
          -->
          </div>
          <br>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12 class-profile">
              <div class="profile-img-one text-center">
  <!--              <img src="assets/images/img5.png" class="img-fluid">-->
                <img alt=""  class="img-fluid rounded-circle" src="./assets/images/profileplaceholder.png" width="100px" *ngIf="!profSettingsObj.profile_image">
                <img alt=""  class="img-fluid rounded-circle" [src]="assetsUrl + profSettingsObj.profile_image" width="100px" *ngIf="profSettingsObj.profile_image">
              </div>
              <div class="text-white class-profile-one">
                <!--<h5>{{userFirstName}} {{userLastName}}</h5>-->
                <h5>{{profSettingsObj.first_name}} {{profSettingsObj.last_name}}</h5>
                <p class="text-capitalize">{{profSettingsObj.city}}, {{profSettingsObj.state}} | {{profSettingsObj.country_name}} <span><img src="./assets/images/flags/{{profSettingsObj.country_iso | lowercase}}.png" width="20"></span></p>
              </div>
              
            </div>
          </div>
          
          
          <div class="sedona-time" style="margin-top: 15%;">
  <!--          <h4 class="text-white py-1 class-next">Next Class : 12:30PM / 08-07-2020 (Sedona Time)</h4>-->
            <!--
            <div class="row">
              <div class="col-12 col-md-12 col-lg-12 card-one">
                <div class="text-center class-duration">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <h4>Next Class</h4>
                  <p>Yet to be Scheduled</p>
                </div>
              </div>
            </div>
            -->
            <div class="row">
              
              <div class="col-12 col-md-4 col-lg-4 card-one">
                <div class="text-center class-duration">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <h4>{{localDurationTime}} Minutes</h4>
                  <p>Duration</p>
                </div>
              </div>
              <div class="col-12 col-md-4 col-lg-4 card-three">
                <div class="text-center class-duration">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <h4>12</h4>
                  <p>Total Number of Sessions</p>
                </div>
              </div>
              <div class="col-12 col-md-4 col-lg-4 card-two">
                <div class="text-center class-duration">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <h4>{{classObj.from_age}} - {{classObj.to_age}} years</h4>
                  <p>Age Group</p>
                </div>
              </div>
              
            </div>
          </div>
  
          <!--meet once section

          <div class="upcoming-class mb-3">
            <div class="accordion-section" aria-label="Question Accordions">
              <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading mb-3" role="tab" id="heading-meetonce">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion1" href="#collapse-meetonce" aria-expanded="true" aria-controls="collapse-meetonce">
                        Meet Once
                      </a>
                    </h3>
                    <p class="one-time">{{localClassType}} Class</p>
                  </div>
                  <div id="collapse-meetonce" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-meetonce">
                    <div class="panel-body content">
                      <div class="row">
                        <div class="col-12 col-md-6 col-lg-6">
                          <p>How does a “{{localClassType}}” class work?</p>
  
                          <p> Meets once at a scheduled time.</p>
  
                          <p> Live video chat, recorded and monitored for safety and quality.</p>
  
                          <p> Great for exploring new interests and different styles of teachers.</p>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 text-center">
                          <div  style="color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 60px;">
                            <span class="fa fa-play-circle-o"></span>
                          </div>
                          <img class="card-img-top video-img" [src]="assetsUrl + classObj.cover_image" alt="Card image cap">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        -->
          <!--/meet once section-->
  
          <!--upcoming class section-->
  <!--        <div class="upcoming-class my-1">-->
  <!--          <h4 class="class-main-heading">Upcoming Classes</h4>-->
  <!--          <div class="row class-date-time">-->
  <!--            <div class="col-6 col-md-4 col-lg-4">-->
  <!--              <div class="text-center class-meet-once">-->
  <!--                <h5>FRI | JUL 18</h5>-->
  <!--                <p>Meet Once <br> 01:00pm - 02:00pm <br>Sedona Time</p>-->
  <!--                <h6>02 Learners Enrolled</h6>-->
  <!--                <button class="btn btn-primary rounded-pill btn-enroll-now">Enroll Now</button>-->
  <!--              </div>-->
  <!--            </div>-->
  <!--            <div class="col-6 col-md-4 col-lg-4">-->
  <!--              <div class="text-center class-meet-once">-->
  <!--                <h5>FRI | JUL 18</h5>-->
  <!--                <p>Meet Once <br> 01:00pm - 02:00pm <br>Sedona Time</p>-->
  <!--                <h6>02 Learners Enrolled</h6>-->
  <!--                <button class="btn btn-primary rounded-pill btn-enroll-now">Enroll Now</button>-->
  <!--              </div>-->
  <!--            </div>-->
  <!--            <div class="col-12 col-md-4 col-lg-4 mt-md-5 class-btn-enroll">-->
  <!--              <button class="btn btn-primary rounded-pill btn-enroll-now">Another time slot</button>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
          <!--upcoming class section-->
  
          <!--accordion-->

          <div class="upcoming-class my-3" style="text-decoration: none;">
            <div class="accordion-section" aria-label="Question Accordions">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <!--
                <div class="panel panel-default" *ngIf="classObj.goal">
                  <div class="panel-heading mb-3" role="tab" id="heading1">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                        Upcoming Classes
                      </a>
                    </h3>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                    <div class="panel-body content">
                      <div class="row class-art-fun">
                        <div class="col-12 col-md-6 col-lg-6">
                          <h6>Yet to be Scheduled</h6>
                         <!-- <i class="fa fa-caret-right"></i><h6> Mental growth with fun</h6>
                          <i class="fa fa-caret-right"></i><h6> Making animals with paper</h6>
                          <i class="fa fa-caret-right"></i><h6> Learn Oragimi</h6>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 ">
                          <i class="fa fa-caret-right"></i><h6> Mental growth with fun</h6>
                          <i class="fa fa-caret-right"></i><h6> Making animals with paper</h6>
                          <i class="fa fa-caret-right"></i><h6> Learn Oragimi</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              -->
                <div class="panel panel-default" *ngIf="classObj.description">
                  <div class="panel-heading mb-3" role="tab" id="heading0">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                        Description
                      </a>
                    </h3>
                  </div>
                  <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                    <div class="panel-body content">
                      <p [innerHTML]="classObj.description"></p>
  <!--                    <p><i class="fa fa-circle class-icon"></i> There will be 4 breakes of 2 mins each during this class</p>-->
                    </div>
                  </div>
                </div>
                <!--Description-->
  
                <!--class Goal-->
                <div class="panel panel-default" *ngIf="classObj.goal">
                  <div class="panel-heading mb-3" role="tab" id="heading1">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                        Class Goal
                      </a>
                    </h3>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                    <div class="panel-body content">
                      <div class="row class-art-fun">
                        <div class="col-12 col-md-6 col-lg-6">
                          <h6 [innerHTML]="classObj.goal"></h6>
                         <!-- <i class="fa fa-caret-right"></i><h6> Mental growth with fun</h6>
                          <i class="fa fa-caret-right"></i><h6> Making animals with paper</h6>
                          <i class="fa fa-caret-right"></i><h6> Learn Oragimi</h6>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 ">
                          <i class="fa fa-caret-right"></i><h6> Mental growth with fun</h6>
                          <i class="fa fa-caret-right"></i><h6> Making animals with paper</h6>
                          <i class="fa fa-caret-right"></i><h6> Learn Oragimi</h6>-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/class Goal-->
  
                <!--sources-->
                <div class="panel panel-default" *ngIf="classObj.sources">
                  <div class="panel-heading mb-3" role="tab" id="heading2">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                        Sources
                      </a>
                    </h3>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                    <div class="panel-body content">
                      <p>For getting more help on this class you can view supporting material from</p>
                      <p [innerHTML]="classObj.sources"> </p>
                    </div>
                  </div>
                </div>
                <!--/Sources-->
                <!--Teacher expertise-->
                <div class="panel panel-default" *ngIf="classObj.teacher_expertise">
                  <div class="panel-heading mb-3" role="tab" id="heading3">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                        Teacher Expertise
                      </a>
                    </h3>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                    <div class="panel-body content">
                      <p [innerHTML]="classObj.teacher_expertise"></p>
  <!--                    <p>I own a mobile and online art school. We have taught hundreds of art workshops in public libraries, and teach afterschool enrichment in two public school districts.</p>-->
  <!--                    <p>I'm also the Art Specialist for a small private school South of Boston where I teach grades-->
  <!--                      K2 to 8. </p>-->
  <!--                    <p>I have a BFA in Ceramics from the Massachusetts College of Art and Design and I'm certified-->
  <!--                      in the state of Massachusetts to teach Visual Arts.</p>-->
                    </div>
                  </div>
                </div>
                <!--/Teacher expertise-->
  
                <!--External Resources-->
                <div class="panel panel-default" *ngIf="classObj.external_resources[0]">
                  <div class="panel-heading mb-3" role="tab" id="heading4">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                        External Resources
                      </a>
                    </h3>
                  </div>
                  <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                    <div class="panel-body content">
                      <div class="class-art-fun" *ngFor="let res of classObj.external_resources">
                        <i class="fa fa-caret-right"></i> <p>{{res.name}} : <a [href]="res.url">{{res.url}}</a></p>
  <!--                      <i class="fa fa-caret-right"></i> <p> Papper Folding : <a href="">www.papperfolding .com/video=7649823</a></p>-->
                      </div>
                    </div>
                  </div>
                </div>
                <!--/External resources-->
  
                <!--class material-->
                <div class="panel panel-default" *ngIf="classObj.class_material_attachments[0]">
                  <div class="panel-heading mb-3" role="tab" id="heading5">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
                        Class Material
                      </a>
                    </h3>
                  </div>
                  <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                    <div class="panel-body content" *ngFor="let title of classObj.class_material_title">
                      <p [innerHTML]="title.information">You can use 6" x 6" origami paper OR any paper that's easy to fold such as printer paper, magazine pages, junk mail, lined paper, etc.. You should have five pre-cut pieces of origami paper for each class.</p>
                      <div class="row">
                        <div class="col-md-2" *ngFor="let attach of classObj.class_material_attachments">
                          <img alt="" [src]="assetsUrl + attach.attachmentPath" width="50">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/class material-->
  
                <!--Assignment-->
                <div class="panel panel-default">
                  <div class="panel-heading mb-3" role="tab" id="heading6" *ngIf="classObj.assignment_attachments[0]">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6">
                        Assignment
                      </a>
                    </h3>
                  </div>
                  <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6" *ngIf="classObj.assignment_attachments[0]">
                    <div class="panel-body content">
                      <p>After the meeting can practise on provided material for improving your skills</p>
                      <div class="row">
                        <div class="col-md-2" *ngFor="let attach of classObj.assignment_attachments">
                          <img [src]="assetsUrl + attach.attachmentPath" width="50">
                        </div>
                      </div>
  <!--                    <img src="assets/images/class-img2.png" class="img-fluid">-->
  <!--                    <img src="assets/images/class-img2.png" class="img-fluid">-->
  <!--                    <img src="assets/images/class-img2.png" class="img-fluid">-->
                    </div>
                  </div>
                  <!--/Assignment-->
  
                  <!--Time Commitment-->
                  <div class="panel panel-default" *ngIf="classObj.hours_per_week">
                    <div class="panel-heading mb-3" role="tab" id="heading7">
                      <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="true" aria-controls="collapse7">
                          Time Commitment
                        </a>
                      </h3>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                      <div class="panel-body content">
                        <p>{{classObj.hours_per_week}} hours per week in class, and an estimated {{classObj.hours_per_week}} hours per week outside of class.</p>
                      </div>
                    </div>
                  </div>
                  <!--/Time Commitment-->
  
                  <!--Parent Guidance-->
                  <div class="panel panel-default" *ngIf="classObj.parent_guidance">
                    <div class="panel-heading mb-3" role="tab" id="heading8">
                      <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="true" aria-controls="collapse8">
                          Parent Guidance
                        </a>
                      </h3>
                    </div>
                    <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                      <div class="panel-body content">
                        <p [innerHTML]="classObj.parent_guidance"></p>
                      </div>
                    </div>
                  </div>
                  <!--/Parent Guidance-->
  
                  <!--Assessment-->
                  <div class="panel panel-default" *ngIf="classObj.assessment">
                    <div class="panel-heading mb-3" role="tab" id="heading9">
                      <h3 class="panel-title">
                        <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="true" aria-controls="collapse9">
                          Assessment
                        </a>
                      </h3>
                    </div>
                    <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                      <div class="panel-body content">
                        <p [innerHTML]="classObj.assessment"></p>
                      </div>
                    </div>
                  </div>
                  <!--/Assessment-->
                </div>
              </div>
            </div>
          </div>
          <!--/accordion-->
          <div class="upcoming-class my-2">
            <h4 class="class-main-heading">About this teacher</h4>
            <div class="row class-experience">
              <div class="col-12 col-md-5 col-lg-5">
                <div class="class-certificate text-center">
                  <img alt="" class="img-fluid rounded-circle" src="./assets/images/profileplaceholder.png" *ngIf="!profSettingsObj.profile_image">
                  <img alt="" class="img-fluid rounded-circle" [src]="assetsUrl + profSettingsObj.profile_image" *ngIf="profSettingsObj.profile_image">
                  <p class="text-capitalize">{{profSettingsObj.city}}, {{profSettingsObj.state}} | {{profSettingsObj.country_name}} <span><img src="./assets/images/flags/{{profSettingsObj.country_iso | lowercase}}.png" width="20"></span></p>
                </div>
                <!--
                <div class="class-ratings">
                  <i class="fa fa-star"></i>
                  <p> 07 Certifications </p>
                </div>
                <div class="class-ratings">
                  <i class="fa fa-star"></i>
                  <p> 5 Years Experience</p>
                </div>
              -->
                <div class="class-ratings">
                  <i class="fa fa-star"></i>
                  <p> {{profSettingsObj.rating}} Overall Rating </p>
                </div>
                <!--
                <div class="class-ratings">
                  <i class="fa fa-star"></i>
                  <p> 130 Uploaded Classes </p>
                </div>-->
              </div>
            
  
              <div class="col-12 col-md-7 col-lg-7">
                <div class="class-rebeca">
                  <a href="/others-profile/1" style="text-decoration: none;"><h5>{{profSettingsObj.first_name}} {{profSettingsObj.last_name}}</h5></a>
                  <p>{{localSubject}}</p>
                  <p [innerHTML]="profSettingsObj.about"></p>
                  
                </div>
              </div>
            </div>
          </div>
          <!--
          <div class="upcoming-class my-2">
            <h4 class="class-main-heading">Session Review and ratings</h4>
              <div class="col-12 col-md-5 col-lg-5">
                <div class="class-review">
                  <p> No Reviews Yet </p>
                </div>
              </div>
            </div>
          -->  
        </div><!--main-col-->
        <div class="col-12 col-md-4 col-lg-4 class-art-right"><!--main col2-->
          <div class="card" style="width: 18rem;">
            <div class="text-center class-video">
              <a *ngIf="classObj.cover_video!==''" (click)="playVideo()">
              <div   style="color: white;
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 60px;">
              <span  class="fa fa-play-circle-o"></span>
              </div>
            </a>
              <img class="card-img-top video-img" [src]="assetsUrl + classObj.cover_image" alt="Card image cap">
              
  
              <p class="text-white"><span>&#8377;</span> {{classObj.price_per_student}} <small>  per learner</small></p>
            </div>
            <div class="card-body">
              <div class="class-enroll">
                <span><button class="btn btn-primary btn-enroll-now btn-enroll">Enroll yourself now</button></span>
                <!--
                <span><i class="fa fa-heart"></i></span>
                <span><i class="fa fa-share-alt"></i></span>
                -->
              </div>
              <div class="class-list">
                <div class="course-length">
                  <p>Class Type
                    <span> {{localClassType}}</span>
                  </p>
                </div>
                <div class="course-length">
                  <p>Course Length
                    <span *ngIf="localClassTypeID == '1' || localClassTypeID == '2'"> Short Course</span>
                    <span *ngIf="localClassTypeID == '3' || localClassTypeID == '4'"> Long Course</span>
                  </p>
                </div>
                <div class="course-length">
                  <p>Class Mode
                    <span> Online</span>
                  </p>
                </div>
                <!--
                <div class="course-length">
                  <p>Classes till now
                    <span> 0</span>
                  </p>
                </div>
                <div class="course-length">
                  <p>Total Attendance
                    <span> 0</span>
                  </p>
                </div>
              -->
              </div>
            </div>
  
          </div>
        </div><!--main col2-->
      </div><!--main-row-->
    </div>
  </section>
  </div>
  <div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Video Preview</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <video id="myVideo" [src]="assetsUrl + classObj.cover_video" width="450" controls="true"></video>
        </div>
      </div>
    </div>
  </div>