<div class="container container-size mt-5">
  <div class="row">
    <div class="col-md-3">
<!--        <a routerLink="../details">-->
<a routerLink="/teacher/class/class-details/{{classObj.id}}"  >
  <div class="card cardTab">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/info.png" width="25">
      </div>
      <div class="col-md-9 text-left p-0">
        <h5>Details</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../course">-->
<a routerLink="/teacher/class/course/{{classObj.id}}">
  <div class="card cardTab">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/sort.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Format</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../image">-->
<a routerLink="/teacher/class/image/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/photo.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Images and videos</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../description">-->
<a routerLink="/teacher/class/description/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/description.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Description</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../extra">-->
<a routerLink="/teacher/class/extra/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/notebook.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Additional Info</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../resources">-->
<a routerLink="/teacher/class/resources/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/connection.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Resources</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../pricing">-->
<a routerLink="/teacher/class/pricing/{{classObj.id}}">
  <div class="card cardTab cardTabSelected">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/tag.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Pricing</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../welcome">-->
<a routerLink="/teacher/class/welcome/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/welcome.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Welcome Post</h5>
      </div>
    </div>
  </div>
</a>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="headerCard">
          <div class="row">
            <div class="col-md-6 col-6">
              <h4>PRICING</h4>
            </div>
            <div class="col-md-6 text-right">
<!--                <img alt="" src="./assets/images/icon/guide.png" width="25">-->
            </div>
          </div>
        </div>
        <form ngNativeValidate (submit)="nextAndSave()">
        <div class="card-body head">
          <div class="col-md-12">
            <h6>List Price *</h6>
            <label>This is the price parents will see per learner for entire session, we suggest you $48 for a course that meets for an hour for 4 weeks. </label>
          </div>
              <div class="col-md-12 form-group">
                <label>Your current teaching status: <span class="text-secondary">"SILVER"</span></label>
                <label>As per your status - This is the price range that we recommend. <span data-toggle="modal" data-target="#info"><img alt="" src="./assets/images/icon/sharedIcons/info.png" width="15"></span></label>
              </div>
          <div class="row">
              <div class="col-md-8 form-group">
<!--                  <input type="number" class="form-control" placeholder="$28.00" name="price" [(ngModel)]="classObj.price_per_student">-->
<!--                  <ng5-slider [(value)]="value" [options]="options"></ng5-slider>-->
                <ng5-slider [(value)]="classObj.price_per_student" [(ngModel)]="classObj.price_per_student" (ngModelChange)="con()" name="val" [options]="options"></ng5-slider>
              </div>
          <div class="col-md-4">
            <h1 class="text-secondary pt-4" *ngIf="classObj.price_per_student">{{classObj.price_per_student}} USD per Learner</h1>
          </div>
          </div>
          <div class="col-md-12 mt-2">
            <h6>Estimate Earning</h6>
            <label>This is an estimate of your weekly earning for this class. It's based on the price per learner, class size, course duration, and 30% BriteBear Service fee</label>
          </div>
          <div class="col-md-12 mt-1">
            <h6 class="text-secondary">${{minRangeValue}} - ${{maxRangeValue}} USD <span *ngIf="locallySavedClassType != 'ONGOING'">per week</span></h6>
          </div>
          <div class="col-md-12 form-group mt-3">
            <h6>Refund Policy</h6>
            <label>All one-time classes have a standard refund policy: "Full refund until a week advance, or within 24hrs of purchase (until class starts)."</label>
            <a class="text-secondary" routerLink="../../../../about" target="_blank">Learn More</a>
          </div>
        </div>
        <div class="col-md-12 p-0">
          <div class="card-footer">
            <div class="row">
              <div class="col-md-6 text-left">
                <button type="button" class="noBtn" *ngIf="loaderDraft == false" (click)="SaveClassDetailsAsDraft()">{{'SaveasDraft' | translate}}</button>
                <button class="noBtn" disabled *ngIf="loaderDraft == true" type="button"><img alt="" src="./assets/images/loader.gif" width="25"></button>
              </div>
              <div class="col-md-6 text-right">
                <button class="btn btn-primary btnNext" type="submit" *ngIf="loader == false" >{{'Next' | translate}}</button>
                <button class="btn btn-primary btnNext" type="button" disabled *ngIf="loader == true"><img alt="" src="./assets/images/loader.gif" width="25"></button>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Info</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body Centered">
      <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
    </div>
  </div>
</div>
</div>
