<div class="container container-size mt-5">
  <div class="row">
    <div class="col-md-3">
<!--        <a routerLink="../details">-->
<a routerLink="/teacher/class/class-details/{{classObj.id}}"  >
  <div class="card cardTab">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/info.png" width="25">
      </div>
      <div class="col-md-9 text-left p-0">
        <h5>Details</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../course">-->
<a routerLink="/teacher/class/course/{{classObj.id}}">
  <div class="card cardTab">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/sort.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Format</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../image">-->
<a routerLink="/teacher/class/image/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/photo.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Images and videos</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../description">-->
<a routerLink="/teacher/class/description/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/description.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Description</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../extra">-->
<a routerLink="/teacher/class/extra/{{classObj.id}}">
  <div class="card cardTab cardTabSelected">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/notebook.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Additional Info</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../resources">-->
<a routerLink="/teacher/class/resources/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/connection.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Resources</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../pricing">-->
<a routerLink="/teacher/class/pricing/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/tag.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Pricing</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../welcome">-->
<a routerLink="/teacher/class/welcome/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/welcome.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Welcome Post</h5>
      </div>
    </div>
  </div>
</a>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="headerCard">
          <div class="row">
            <div class="col-md-6 col-6">
              <h4>ADDITIONAL NOTES</h4>
            </div>
            <div class="col-md-6 text-right">
<!--                <img alt="" src="./assets/images/icon/guide.png" width="25">-->
            </div>
          </div>
        </div>
        <form ngNativeValidate (submit)="nextAndSave()">
        <div class="card-body head">
          <div class="row">
            <div class="col-md-12">
              <h6>Outside Work *</h6>
              <label>Suggested time per week spent working on class outside of live meeting.</label>
            </div>
            <div class="col-md-3 form-group">
              <select class="form-control" name="hours" [(ngModel)]="classObj.hours_per_week" required>
                <option value="0">Select Hours</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
              </select>
              <label>Per Week</label>
            </div>
            <div class="col-md-12">
              <h6>Parental Guidance *</h6>
              <label>If there is content appropriate for mature students, or that may sensitive too, please identify</label>
            </div>
            <div class="col-md-12 form-group">
<!--                <textarea class="form-control" rows="3" placeholder="Type Here" name="guidance" [(ngModel)]="classObj.parent_guidance" required></textarea>-->
              <editor aria-placeholder="Type Here" name="guidance" [(ngModel)]="classObj.parent_guidance" [init]="{
   height: 120,
   menubar: false,
   plugins: ['lists link image paste help wordcount'],
   toolbar: 'bold italic | bullist numlist'}" id="guidance" required></editor>
            </div>
            <div class="col-md-12">
              <h6>Sources *</h6>
              <label>Books, articles, websites or other sources that are used in the class, or provide source material.</label>
            </div>
            <div class="col-md-12 form-group">
<!--                <textarea class="form-control" name="sources" [(ngModel)]="classObj.sources" rows="3"-->
<!--                          placeholder="For Ex: Students will improve their understanding of the six traits of writing: ideas, organisation, voice, sentence fluency, word choice and conventions." required></textarea>-->
              <editor aria-placeholder="For Ex: Students will improve their understanding of the six traits of writing: ideas, organisation, voice, sentence fluency, word choice and conventions." name="sources" [(ngModel)]="classObj.sources" [init]="{
   height: 120,
   menubar: false,
   plugins: ['lists link image paste help wordcount'],
   toolbar: 'bold italic | bullist numlist'}" id="source" required></editor>
            </div>
            <div class="col-md-12">
              <h6>Teacher Expertise *</h6>
              <label>Please share your relevant training and experience teaching topics to the young learners.</label>
            </div>
            <div class="col-md-12 form-group">
<!--                <textarea class="form-control" name="expertise" [(ngModel)]="classObj.teacher_expertise" rows="3"-->
<!--                          placeholder="Type Here" required></textarea>-->
              <editor aria-placeholder="Type Here" name="expertise" [(ngModel)]="classObj.teacher_expertise" [init]="{
   height: 120,
   menubar: false,
   plugins: ['lists link image paste help wordcount'],
   toolbar: 'bold italic | bullist numlist'}" id="expertise" required></editor>

            </div>
          </div>
        </div>
        <div class="col-md-12 p-0">
          <div class="card-footer">
            <div class="row">
              <div class="col-md-6 text-left">
                <button type="button" *ngIf="loaderDraft == false" class="noBtn" (click)="SaveClassDetailsAsDraft()">{{'SaveasDraft' | translate}}</button>
                <button class="noBtn" disabled *ngIf="loaderDraft == true" type="submit"><img alt="" src="./assets/images/loader.gif" width="25"></button>
              </div>
              <div class="col-md-6 text-right">
                <button class="btn btn-primary btnNext" type="submit" *ngIf="loader == false">{{'Next' | translate}}</button>
                <button class="btn btn-primary btnNext" type="button" disabled *ngIf="loader == true"><img alt="" src="./assets/images/loader.gif" width="25"></button>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
