<div class="container container-size mt-5">
  <div class="row">
    <div class="col-md-3">
<!--        <a routerLink="../details">-->
      <a routerLink="/teacher/class/class-details/{{classObj.id}}"  >
        <div class="card cardTab">
          <div class="row m-0">
            <div class="col-md-2 p-0">
              <img alt="info" src="./assets/images/icon/sharedIcons/info.png" width="25">
            </div>
            <div class="col-md-9 text-left p-0">
              <h5>Details</h5>
            </div>
          </div>
        </div>
      </a>
<!--        <a routerLink="../course">-->
      <a routerLink="/teacher/class/course/{{classObj.id}}">
        <div class="card cardTab cardTabSelected">
          <div class="row m-0">
            <div class="col-md-2 p-0">
              <img alt="info" src="./assets/images/icon/sharedIcons/sort.png" width="25">
            </div>
            <div class="col-md-10 text-left p-0">
              <h5>Format</h5>
            </div>
          </div>
        </div>
      </a>
<!--        <a routerLink="../image">-->
      <a routerLink="/teacher/class/image/{{classObj.id}}">
        <div class="card cardTab ">
          <div class="row m-0">
            <div class="col-md-2 p-0">
              <img alt="info" src="./assets/images/icon/sharedIcons/photo.png" width="25">
            </div>
            <div class="col-md-10 text-left p-0">
              <h5>Images and videos</h5>
            </div>
          </div>
        </div>
      </a>
<!--        <a routerLink="../description">-->
      <a routerLink="/teacher/class/description/{{classObj.id}}">
        <div class="card cardTab ">
          <div class="row m-0">
            <div class="col-md-2 p-0">
              <img alt="info" src="./assets/images/icon/sharedIcons/description.png" width="25">
            </div>
            <div class="col-md-10 text-left p-0">
              <h5>Description</h5>
            </div>
          </div>
        </div>
      </a>
<!--        <a routerLink="../extra">-->
      <a routerLink="/teacher/class/extra/{{classObj.id}}">
        <div class="card cardTab ">
          <div class="row m-0">
            <div class="col-md-2 p-0">
              <img alt="info" src="./assets/images/icon/sharedIcons/notebook.png" width="25">
            </div>
            <div class="col-md-10 text-left p-0">
              <h5>Additional Info</h5>
            </div>
          </div>
        </div>
      </a>
<!--        <a routerLink="../resources">-->
      <a routerLink="/teacher/class/resources/{{classObj.id}}">
        <div class="card cardTab ">
          <div class="row m-0">
            <div class="col-md-2 p-0">
              <img alt="info" src="./assets/images/icon/sharedIcons/connection.png" width="25">
            </div>
            <div class="col-md-10 text-left p-0">
              <h5>Resources</h5>
            </div>
          </div>
        </div>
      </a>
<!--        <a routerLink="../pricing">-->
      <a routerLink="/teacher/class/pricing/{{classObj.id}}">
        <div class="card cardTab ">
          <div class="row m-0">
            <div class="col-md-2 p-0">
              <img alt="info" src="./assets/images/icon/sharedIcons/tag.png" width="25">
            </div>
            <div class="col-md-10 text-left p-0">
              <h5>Pricing</h5>
            </div>
          </div>
        </div>
      </a>
<!--        <a routerLink="../welcome">-->
      <a routerLink="/teacher/class/welcome/{{classObj.id}}">
        <div class="card cardTab ">
          <div class="row m-0">
            <div class="col-md-2 p-0">
              <img alt="info" src="./assets/images/icon/sharedIcons/welcome.png" width="25">
            </div>
            <div class="col-md-10 text-left p-0">
              <h5>Welcome Post</h5>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="headerCard">
          <div class="row">
            <div class="col-md-6 col-6">
              <h4>COURSE FORMAT</h4>
            </div>
            <div class="col-md-6 text-right">
<!--                <img alt="" src="./assets/images/icon/guide.png" width="25">-->
            </div>
          </div>
        </div>
        <form ngNativeValidate (submit)="saveAndNext()">
        <div class="card-body head">
          <div class="col-md-12">
            <h6>Age Group *</h6>
            <label for="ageStart">What age group is the class designed for? Age range cannot exceed 5 years. We've found
              that students tend to thrive in a classes with other kids who match their own developmental stage, so
              we recommend narrow age ranges (between 3-4 years) for most classes.</label>
            <div class="row m-0">
            <div class="col-md-3 p-0 form-group">
            <select class="form-control ageGroupStart " id="ageStart" name="age" [(ngModel)]="classObj.from_age" required="required">
              <option value="0" selected>From Age</option>
              <option value="1">1 years</option>
              <option value="2">2 years</option>
              <option value="3">3 years</option>
              <option value="4">4 years</option>
              <option value="5">5 years</option>
              <option value="6">6 years</option>
              <option value="7">7 years</option>
              <option value="8">8 years</option>
              <option value="9">9 years</option>
              <option value="10">10 years</option>
              <option value="11">11 years</option>
              <option value="12">12 years</option>
            </select>
          </div>
            <div class="col-md-3 p-0 form-group">
              <select class="form-control ageGroupEnd " id="toAge" name="toAge" [minlength]="classObj.from_age" [(ngModel)]="classObj.to_age" required="required">
                <option value="0">To Age</option>
                <option value="1" [disabled]="classObj.from_age == 1 || classObj.from_age == 2 || classObj.from_age == 3 || classObj.from_age == 4 ||
classObj.from_age == 5 || classObj.from_age == 6 || classObj.from_age == 7 || classObj.from_age == 8 || classObj.from_age == 9 || classObj.from_age == 10 ||
classObj.from_age == 11 || classObj.from_age == 12">1 years</option>
                <option value="2" [disabled]="classObj.from_age == 2 || classObj.from_age == 3 || classObj.from_age == 4 || classObj.from_age == 5 || classObj.from_age == 6 || classObj.from_age == 7 || classObj.from_age == 8 || classObj.from_age == 9 || classObj.from_age == 10 ||
classObj.from_age == 11 || classObj.from_age == 12">2 years</option>
                <option value="3" [disabled]="classObj.from_age == 3 || classObj.from_age == 4 ||  classObj.from_age == 5 || classObj.from_age == 6 || classObj.from_age == 7 || classObj.from_age == 8 || classObj.from_age == 9 || classObj.from_age == 10 ||
classObj.from_age == 11 || classObj.from_age == 12">3 years</option>
                <option value="4" [disabled]="classObj.from_age == 4 ||  classObj.from_age == 5 || classObj.from_age == 6 || classObj.from_age == 7 || classObj.from_age == 8 || classObj.from_age == 9 || classObj.from_age == 10 ||
classObj.from_age == 11 || classObj.from_age == 12">4 years</option>
                <option value="5" [disabled]="classObj.from_age == 5 || classObj.from_age == 6 || classObj.from_age == 7 || classObj.from_age == 8 || classObj.from_age == 9 || classObj.from_age == 10 ||
classObj.from_age == 11 || classObj.from_age == 12">5 years</option>
                <option value="6" [disabled]="classObj.from_age == 6 || classObj.from_age == 7 || classObj.from_age == 8 || classObj.from_age == 9 || classObj.from_age == 10 ||
classObj.from_age == 11 || classObj.from_age == 12">6 years</option>
                <option value="7" [disabled]="classObj.from_age == 7 || classObj.from_age == 8 || classObj.from_age == 9 || classObj.from_age == 10 || classObj.from_age == 11 || classObj.from_age == 12">7 years</option>
                <option value="8" [disabled]="classObj.from_age == 8 || classObj.from_age == 9 || classObj.from_age == 10 || classObj.from_age == 11 || classObj.from_age == 12">8 years</option>
                <option value="9" [disabled]="classObj.from_age == 9 || classObj.from_age == 10 || classObj.from_age == 11 || classObj.from_age == 12">9 years</option>
                <option value="10" [disabled]="classObj.from_age == 10 || classObj.from_age == 11 || classObj.from_age == 12">10 years</option>
                <option value="11" [disabled]="classObj.from_age == 11 || classObj.from_age == 12">11 years</option>
                <option value="12">12 years</option>
              </select>
            </div>
          </div>
          </div>
          <div class="col-md-12 mt-2">
            <h6>Class Size *</h6>
            <label for="learners">We recommend small classes in general and especially for younger students. For ages 6 and below, up to 6 learners. For ages 6-12, up to 9 learners.
            For ages 12 and above, up to 12 learners.</label>
            <div class="row m-0">
              <div class="col-md-3 p-0 form-group">
                <select class="form-control ageGroupStart " id="learners" name="sizeFrom" [(ngModel)]="classObj.size_min" required>
                  <option value="0">From</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
              </div>
              <div class="col-md-3 p-0 form-group">
                <select class="form-control ageGroupEnd" name="sizeMax" [(ngModel)]="classObj.size_max" required>
                  <option value="0">Upto</option>
                  <option value="1" [disabled]="classObj.size_min == 1 || classObj.size_min == 2 || classObj.size_min == 3 ||
                  classObj.size_min == 4 || classObj.size_min == 5 || classObj.size_min == 6 || classObj.size_min == 7 ||
                  classObj.size_min == 8 || classObj.size_min == 9 || classObj.size_min == 10 || classObj.size_min == 11 || classObj.size_min == 12">1</option>
                  <option value="2" [disabled]="classObj.size_min == 2 || classObj.size_min == 3 ||
                  classObj.size_min == 4 || classObj.size_min == 5 || classObj.size_min == 6 || classObj.size_min == 7 ||
                  classObj.size_min == 8 || classObj.size_min == 9 || classObj.size_min == 10 || classObj.size_min == 11 || classObj.size_min == 12">2</option>
                  <option value="3" [disabled]="classObj.size_min == 3 ||
                  classObj.size_min == 4 || classObj.size_min == 5 || classObj.size_min == 6 || classObj.size_min == 7 ||
                  classObj.size_min == 8 || classObj.size_min == 9 || classObj.size_min == 10 || classObj.size_min == 11 || classObj.size_min == 12">3</option>
                  <option value="4" [disabled]="classObj.size_min == 4 || classObj.size_min == 5 || classObj.size_min == 6 || classObj.size_min == 7 ||
                  classObj.size_min == 8 || classObj.size_min == 9 || classObj.size_min == 10 || classObj.size_min == 11 || classObj.size_min == 12">4</option>
                  <option value="5" [disabled]="classObj.size_min == 5 || classObj.size_min == 6 || classObj.size_min == 7 ||
                  classObj.size_min == 8 || classObj.size_min == 9 || classObj.size_min == 10 || classObj.size_min == 11 || classObj.size_min == 12">5</option>
                  <option value="6" [disabled]="classObj.size_min == 6 || classObj.size_min == 7 ||
                  classObj.size_min == 8 || classObj.size_min == 9 || classObj.size_min == 10 || classObj.size_min == 11 || classObj.size_min == 12">6</option>
                  <option value="7" [disabled]="classObj.size_min == 7 ||
                  classObj.size_min == 8 || classObj.size_min == 9 || classObj.size_min == 10 || classObj.size_min == 11 || classObj.size_min == 12">7</option>
                  <option value="8" [disabled]="classObj.size_min == 8 || classObj.size_min == 9 || classObj.size_min == 10 || classObj.size_min == 11 || classObj.size_min == 12">8</option>
                  <option value="9" [disabled]="classObj.size_min == 9 || classObj.size_min == 10 || classObj.size_min == 11 || classObj.size_min == 12">9</option>
                  <option value="10" [disabled]="classObj.size_min == 10 || classObj.size_min == 11 || classObj.size_min == 12">10</option>
                  <option value="11" [disabled]="classObj.size_min == 11 || classObj.size_min == 12">11</option>
                  <option value="12">12</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-2" *ngIf="classTypeId != 4">
            <h6>Class Duration *</h6>
            <label for="type">Select how often you'll meet and for how long. [Course type:
              <span class="font-weight-bold" *ngIf="classTypeId == 1">ONE-TIME</span>
              <span class="font-weight-bold" *ngIf="classTypeId == 2">MULTI-DAY</span>
              <span class="font-weight-bold" *ngIf="classTypeId == 3">ON-GOING</span>
              <span class="font-weight-bold" *ngIf="classTypeId == 4">RECORDED</span>]</label>
            <div class="row m-0">
              <div class="col-md-4 p-0 form-group" *ngIf="classTypeId != 1">
                <select class="form-control ageGroupStart" (change)="getClassDurationType()" id="type" name="class_duration" [(ngModel)]="classObj.class_duration" required>
                  <option [value]="type.id" [selected]="classObj.class_duration" *ngFor="let type of allClassDuration">{{type.typeTitle}}</option>
                </select>
              </div>
              <div class="col-md-4 p-0 form-group" *ngIf="classTypeId == 1">
                <select class="form-control ageGroupStart" (change)="getClassDurationType()" disabled id="durations" name="durations" [(ngModel)]="classObj.class_duration" required>
                  <option [value]="type.id" [selected]="classObj.class_duration" *ngFor="let type of allClassDuration">{{type.typeTitle}}</option>
                </select>
              </div>
              <div class="col-md-4 p-0 form-group" *ngIf="classTypeId != 1 && classTypeId !=3">
                <select class="form-control ageGroupCenter" name="type" (change)="checkDurationType(classObj.class_duration_type)" [(ngModel)]="classObj.class_duration_type" required>
                  <option [value]="session.id" [selected]="classObj.class_duration_type" *ngFor="let session of durationType">{{session.type}}</option>
                </select>
              </div>
              <div class="col-md-4 p-0 form-group" *ngIf="classTypeId == 1 && classTypeId !=3">
                <select class="form-control ageGroupCenter" name="types" disabled [(ngModel)]="classObj.class_duration_type" required>
                  <option [value]="session.id"  [selected]="classObj.class_duration_type" *ngFor="let session of durationType">{{session.type}}</option>
                </select>
              </div>
              <div class="col-md-4 p-0 form-group">
                <select class="form-control ageGroupEnd" name="time" (click)="checkDurationTime(classObj.class_duration_time)" [(ngModel)]="classObj.class_duration_time" required>
                  <option [value]="time.id" [selected]="classObj.class_duration_time" *ngFor="let time of durationTime">{{time.time}}minutes</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 p-0">
          <div class="card-footer">
            <div class="row">
              <div class="col-md-6 text-left">
                <button class="noBtn" *ngIf="loaderDraft == false" type="button" (click)="saveCourseFormat()">{{'SaveasDraft' | translate}}</button>
                <button class="noBtn" disabled *ngIf="loaderDraft == true" type="button"><img alt="" src="./assets/images/loader.gif" width="25"></button>
              </div>
              <div class="col-md-6 text-right">
                <button class="btn btn-primary btnNext" id="nxt" type="submit" *ngIf="loader == false">{{'Next' | translate}}</button>
                <button class="btn btn-primary btnNext" type="button" disabled *ngIf="loader == true">
                  <img alt="" src="./assets/images/loader.gif" width="25">
                </button>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
