<div class="brite_signup">
  <section class="sign_form ">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="deliver">
            <h2>Deliver Your Talent</h2>
            <p>BriteBear is an institution that provides a platform for all. Britebear is an institution that provides a platform for all. Britebear is an institution that provides a platform for all.</p>

            <p>Britebear is an institution that provides a platform for all. Britebear is an institution that provides a platform for all. Britebear is an institution that provides a platform for all. Britebear is an institution that provides a platform for all. Britebear is an institution that provides a platform for all.</p>
          </div>
          <div class="queries">
            <h2>Any queries?</h2>
            <div class="d-flex mt-md-4">
              <div><img alt="" src="./assets/images/mail.png" class="mail"></div>
              <div> <h6 class="write mt-4 ml-3">write us<br><a href="">bb@bb.com</a></h6></div>
            </div>
            <div class="d-flex mt-md-4">
              <div><img alt="" src="./assets/images/mail.png" class="mail"></div>
              <div> <h6 class="write mt-4 ml-3">call us<br><a href="">09 876-543-4567</a></h6></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div>
            <div class="sign_form1">
              <h4 class="my-md-4 text-center">APPLY TO TEACH</h4>
              <form ngNativeValidate (submit)="signUp()">
              <div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text form_user2" id="basic-addon1"><img alt="" src="./assets/images/user.png" class="user"></span>
                  </div>
                  <input type="text" class="form-control form_user" name="username" [(ngModel)]="signUpObj.username"
                         placeholder="Enter username here" aria-label="Username" aria-describedby="basic-addon1" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text form_user2" id="basic-addon2"><img alt="" src="./assets/images/icon/sharedIcons/mail.png" width="27" class="user"></span>
                  </div>
                  <input type="email" class="form-control form_user" name="email" [(ngModel)]="signUpObj.email"
                         placeholder="Enter your email address here" aria-label="Username" aria-describedby="basic-addon2" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text form_user2" id="basic-addon3"><img alt="" src="./assets/images/password.png" class="user"></span>
                  </div>
                  <input type="password" class="form-control form_user" name="password" [(ngModel)]="signUpObj.password"
                         placeholder="Enter Password" aria-label="Username" aria-describedby="basic-addon3" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text form_user2" id="basic-addon4"><img alt="" src="./assets/images/password.png" class="user"></span>
                  </div>
                  <input type="password" class="form-control form_user" name="conf_password" [(ngModel)]="signUpObj.confirm_password"
                         placeholder="Confirm Password" aria-label="Username" aria-describedby="basic-addon4" required>
                </div>
                
              </div>
              <div class="form-group mt-3">
                <div class="form-check">
                  <input class="form-check-input input_1" type="checkbox" id="gridCheck" required>
                  <label class="form-check-label bb_terms" for="gridCheck">
                    By registering you agree with terms & conditions
                    of the usage of britebear.
                  </label>
                </div>
              </div>
              <div>
                <button type="submit" class="btn btn-primary w-100 btn_signup">Signup</button>
              </div>
              </form>
              <div class="or"><h6 class="text-center mt-4">OR</h6></div>
              <div class="mt-md-5">
                <button class="btn btn-outline-primary w-100 btn_login" (click)="signInWithGoogle()"><img alt="" src="./assets/images/google.png" class="mr-2">Sign in with Google</button>
              </div>
              <div class="mt-md-3">
                <button class="btn btn-outline-primary w-100 btn_login" (click)="signInWithFB()"><img alt="" src="./assets/images/facebook.png" class="mr-2">Sign in with Facebook</button>
              </div>
              <div class="mt-md-4 text-center account_1">
                <p>Already have an account? <a routerLink="../login"> Login</a> </p>
              </div>
            </div>
          </div>
          <div class="note">
            <p>Note: All applications are subject to approval and every profile follows our strict scrutiny process, serious applications only.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
