<div>
    <section class="login_form">
      <div class="container text-center mt-md-5">
        <div class="log_form1">
          <h4 class="my-md-4">BOOK YOUR FREE CLASS NOW</h4>
          <form ngNativeValidate (submit)="SendDetails()">
          <div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text form_user2" id="basic-addon1"><img alt="" src="./assets/images/user.png" class="user"></span>
                </div>
                <input type="text" class="form-control form_user" [(ngModel)]="detailsbj.name" name="name" placeholder="Enter Parent's Full Name here"
                     aria-label="name" aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text form_user2" id="basic-addon2"><img alt="" src="./assets/images/icon/sharedIcons/mail.png" width="27" class="user"></span>
                </div>
                <input type="email" class="form-control form_user" name="email" [(ngModel)]="detailsbj.email" placeholder="Enter Parent's email here"
                     aria-label="Username" aria-describedby="basic-addon2" required>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text form_user2" id="basic-addon3"><img alt="" src="./assets/images/phone.png" class="user"></span>
              </div>
              <div class="dropdown" style="width: 73px;">
                <select name="phone_id"  [(ngModel)]="detailsbj.phone_id" style=" border: 0ch;height: 54px;width: 73px;color: grey;background-color:rgba(233, 229, 229, 0.6);">
                  <option value="" class="greenText">+91</option>
                  <option [value]="country.phoneCode" *ngFor="let country of allCountries">{{country.phoneCode}}</option>
                </select>
              </div>
              <input type="text" class="form-control form_user" placeholder="Enter Parent's Phone Number (Optional)" name="phone"
                       [(ngModel)]="detailsbj.phone" maxlength="11" aria-label="Username" aria-describedby="basic-addon3">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text form_user2" id="basic-addon1"><img alt="" src="./assets/images/user.png" class="user"></span>
              </div>
              <input type="text" class="form-control form_user" [(ngModel)]="detailsbj.childname" name="name" placeholder="Enter Your Child's Full Name here"
                   aria-label="name" aria-describedby="basic-addon1" required>
          </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text form_user2" id="basic-addon3"><img alt="" src="./assets/images/icon2.png" class="user" width="25px"></span>
                </div>
                <input placeholder="Enter Your Child's Date of Birth" class="form-control form_user" type="text" name="DOB" onfocus="(this.type='date')" id="date" [(ngModel)]="detailsbj.DOB" aria-label="DOB" aria-describedby="basic-addon3" required>
                
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text form_user2" id="basic-addon3"><img alt="" src="./assets/images/icon1.png" class="user" width="25px"></span>
                </div>
                <input type="text" class="form-control form_user" placeholder="Enter Your Child's favourite Subjects comma separated" name="subject"
                       [(ngModel)]="detailsbj.subject" aria-label="DOB" aria-describedby="basic-addon3" required>
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text form_user2" id="basic-addon3"><img alt="" src="./assets/images/Screen Shot 2020-06-29 at 2.40 (2).png" class="user" width="25px"></span>
              </div>
              <!--<input type="text" class="form-control form_user" placeholder="Any Special Note" name="note"
                     [(ngModel)]="detailsbj.note" aria-label="DOB" aria-describedby="basic-addon3">-->
              <textarea rows="2" cols="50" name="note" form="usrform" placeholder="Any Special Note" class="form-control form_user" [(ngModel)]="detailsbj.note" aria-label="DOB" aria-describedby="basic-addon3">
                      </textarea>       
          </div>
            <div class="input-group mb-3">
              <div class="form-check">
                <input class="form-check-input input_1" type="checkbox" id="gridCheck" required>
                <label class="form-check-label bb_terms" for="gridCheck">
                  By registering you agree with terms & conditions
                  of the usage of britebear.
                </label>
              </div>
            </div>
          </div>
          <button class="btn btn-primary btn_login" type="submit">Submit</button>
          </form>
          
        </div>
        <br>
        Satisfied with trial class.Now Create full Learner account<br>
        <button class="btn btn-primary" routerLink="../learnerCompleteSignup">Click here</button>
      </div>
    </section>
</div>
    