@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';

body{
  font-family: Poppins;
  background: #FAFCFF;
}
.carousel-inner {

  position: relative;
  height: 100vh;

  min-height: 350px;

  background: no-repeat center center scroll;

  -webkit-background-size: 100% 100%;

  -moz-background-size: 100% 100%;

  -o-background-size: 100% 100%;

  background-size: 100% 100%;

  background-image: url("./assets/images/bg-main.png");
}

.carousel-item{
  height: 100%;
}
.login-link{
  border-radius: 41px;
  padding: 0px 22px !important;
  margin-top: 10px;
}
.navbar-brand{
  z-index: 1034;
  position: absolute;
  top: 1rem;
  color: #ff913b;
  /*left: 5rem;*/
}


.btn_trial{
  background: #7C48C4;
  box-shadow: 0px 4px 40px rgba(137, 137, 137, 0.25);
  border-radius: 50px;
  color:  #ff913b;
  padding-left: -11px;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  text-align: left;
}
.btn-secondary {
  color:#fff;
  background-color: transparent!important;
  border: unset!important;
  margin-top: 32px;
  margin-left: 31px;
}
.btn-secondary:hover {
  background-color: transparent!important;
  border: unset!important;
}
.btn-secondary:focus {
  background-color: transparent!important;
  border: unset!important;
}


.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  background-color: transparent!important;
  border: 0!important;
}
img.circle {
  position: absolute;
  bottom: -62%;
  right: -4%;
  width: 80px;
}
.kids {
  background: white;
  border-radius: 30px 30px 30px 0px;
  padding: 17px 0;
  box-shadow: 0 0 4px 1px #ebebeb;
  transition: all .2s ease-in-out;
  color: #8CA3B6;
}
.kids:hover {
  box-shadow: 0px 0px 15px 3px rgba(255, 145, 59, 0.2);
  padding: 25px 0px;
  transform: scale(1.1);
  border-radius: 30px 30px 0px 30px;
  color: #7C48C4;
  font-weight: bold;
}
/*slider section*/

.card {
  border: 0;
}
.select_classes h2{
  color: #7C48C4;
  font-weight: bold;
  font-family: Poppins;
}
.select_classes p{
  color: #414141;
  font-family: Poppins;
}
.class_1 {
  background: #7C48C4;
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 0px;
}
.class_1 h6 {
  color: #FFFFFF;
  margin-top: -10px;
  font-weight: 300;
}
.class_1 p {
  color: #FFFFFF;
  font-size: 12px;
  margin-top: -3px;
}
.class_1 h5 {
  color: #FFFFFF;
  font-size: 18px;
}
.class_1 .rating {
  margin-top: -20px;
  margin-left: 31px;
}
.border-bottom {
  border-bottom: 1px solid #dee2e6!important;
  /*margin: -9px -20px;*/
}
/*slider*/
.slider-blog {
  /*margin-left: 50px;*/
}
.slider_content {
  margin: 0px 15px;
}
.slider-blog .slick-prev:before {
  content: url("./assets/images/arrow2.png");
  position: absolute;
  top: 38%;
  right: -10px;
}
.slider-blog .slick-next:before {
  content: url("./assets/images/arrow1.png");
  position: absolute;
  top: 38%;
  left: -10px;
}
.slick-prev:before {
  /*content: '←';*/
  content: url("./assets/images/arrow1.png");
  position: absolute;
  top: 0;
  left: -20px;

}
.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-next:before {
  /*content: '→';*/
  content: url("./assets/images/arrow2.png");
  position: absolute;
  top: 0;
  left: 0;
}
button.slick-prev {
  background-color: #FAFCFF;
  border: 0;
  font-size: 0px;
}
button.slick-next {
  background-color: #FAFCFF;
  border: 0;
  font-size: 0px;
}
button:focus{
  outline: 0!important;
}

.upcoming a{
  color: #2D2D2D;
  margin-top: -22px;
}
.orange-bg{
  background-color: #ff913b;
  width: 100%;
}
.kg-section{
  height: 35vh;
}
.smart-scroll{
  position: absolute!important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down{
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
  transform:translateY(0); transition: all 0.3s ease-in-out;
}
button:focus{
  outline: 0!important;
}
.upcoming h4{
  color: #7C48C4;
  font-weight: bold;
  margin-left: 13px;
}
.upcoming a{
  color: #2D2D2D;
  margin-top: -22px;
  margin-right: 18px;
}
.serve .qualified_teacher img {
  background: white;
  border-radius: 20px;
  box-shadow: 0px 4px 40px #EAEAEA;
  padding: 15px;
  margin-top: 22px;
}
.serve h2{
  color: #7C48C4;
  font-weight: bold;
  font-family: Poppins;
}
.serve h5{
  color: #88959F;

  font-weight: 400;
  font-family: Poppins;
  margin-left: 3px;
}
.qualified_teacher p {
  margin-top: 37px;
  margin-left: 18px;
  color: #2D2D2D;
}
.qualified_teacher a {
  color: #88959F;
}
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
  color: #212529;
  background-color: #fff;
  border-color: #ced4da;
  border-radius: 25px;
  height: 40px;
}
.btn-light.focus, .btn-light:focus {
  background-color: #fff;
  border-color: #ced4da;
  box-shadow: unset;
}
.btn-light {
  color: #212529;
  background-color: #ffff;
  border-color: #ced4da;
  border-radius: 25px;
}
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
  outline: 1px solid #ced4da !important;
}
.btn-light:hover {
  color: #212529;
  background-color: #fff;
  border-color: #ced4da;
}

.more {
  /* margin-right: -4px; */
  margin-left: -184px;
  margin-top: 30px;
}
.more a {
  color: #88959F;
  font-family: poppins;
  font-size: 18px;
}
.counselling .success {
  border: 3px solid rgba(136, 149, 159, 0.5);
  margin: auto;
  padding: 25px 163px;
  border-radius: 10px;
}
.counselling h2 {
  color: #FF8A46;
  font-weight: bold;
  font-family: Poppins;
  margin: auto;

}
.counselling button.btn.btn-primary.btn_book {
  background: #7C48C4;
  border-color:#7C48C4;
  box-shadow: 0px 4px 40px #F3EAFF;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  font-family: Poppins;
  padding: 8px 28px;
  border-radius: 7px;
}

/*section_5*/

section.teachers {
  background-image: url(./assets/images/teachers.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 671.86px;
  overflow: hidden;
  margin-top: 100px;
  background-position: 0px 54px;
}
.teachers img {
  width: 100%;
}
.teach h2{
  color: #7C48C4;
  font-weight: bold;
  font-family: Poppins;
}
.teach p{
  color: #88959F;
  font-size: 18px;
  font-family: Poppins;
}
.watson h5{
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
}
.watson h6 {
  color: #FFFFFF;
  font-size: 12px;
}
.watson p{
  color: #FFFFFF;
  font-size: 10px;
}

.watson {
  margin-top: -116px;
  margin-left: 32px;
  background-color: black;
  position: absolute;
  padding: 14px 38px;
  border-radius: 0px 0px 30px 30px;
}
.multiselect-item-checkbox input[type=checkbox]:checked + div:before {
  -webkit-animation: .2s ease-in borderscale;
  animation: .2s ease-in borderscale;
  background: #7C48C4!important;
}
.multiselect-item-checkbox input[type=checkbox] + div:before {
  box-sizing: content-box;
  content: "";
  border-radius: 6px;
  color: #7C48C4 !important;
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -9px;
  border: 2px solid #7C48C4!important;
  text-align: center;
  transition: .4s;
}
.multiselect-dropdown .dropdown-btn .selected-item {
  border: 1px solid #7C48C4!important;
  margin-right: 4px;
  background: #7C48C4!important;
  padding: 2px 15px!important;
  color: #fff;
  border-radius: 8px!important;
  float: left;
}
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #7C48C4;
}
.mat-checkbox-background, .mat-checkbox-frame {
  border-radius: 6px!important;
}


/*video section*/
.parents-content img {
  width: 100%;
}
.parents-content h5 {
  color: #88959F;
  font-family: Poppins;
  font-style: italic;
}
.parents-content h6 {
  color: #FF8A46;
  font-weight: 400;
}
.parents-content h4 {
  color: #7C48C4;;
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
}
.parents h2 {
  color: #7C48C4;
  font-weight: bold;
  font-family: poppins;
}
.parents h5 {
  color: #88959F;
  font-family: Poppins;
  text-align: center;
  margin: auto;
  font-weight: 400;
}
.slider-parents .slick-prev:before {
  content: url("./assets/images/arrow2.png");
  position: absolute;
  top: 26%;
  right: -6%;
}
.slider-parents .slick-next:before {
  content: url("./assets/images/arrow1.png");
  position: absolute;
  top: 26%;
  left: -6%;
}
.copyright p {
  color: #535B62;
  font-size: 14px;
}

.photography h5{
  color: #7C48C4;
  font-weight: bold;
}
.photography p{
  color: #acb5bd;
  font-size: 15px;
}
.tox .tox-statusbar {
  display: none!important;
}
.tox .tox-notification--warn, .tox .tox-notification--warning {
  display: none!important;
}
.tox-tinymce {
  border-radius: 10px!important;
  border: none!important;
}

.tox .tox-edit-area__iframe {
  background-color: #F2F2F2!important;
}
.subject h2{
  font-weight: bold;
  color: #8CA3B6;
}
.tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary {
  justify-content: flex-end!important;
  background-color: #F2F2F2!important;
}
.ngx-file-drop__drop-zone {
  top: 0;
  height: 170px!important;
  border: unset!important;
  border-radius: 12px!important;
  left: 0;
  width: 677px;
  position: absolute;
}


/*footer*/
footer ul{
  list-style: none;
  padding: 0;
}
footer li a{
  color: #535B62;
  font-weight: bold;
}
.help {
  background-image: url(./assets/images/callbak.png);
  background-size: 100%;
  height: 250px;
  background-repeat: no-repeat;
}
.help h3{
  color: #FFC344;
  font-weight: bold;
  font-family: Poppins;
}
.help h6{
  color: rgba(255, 255, 255, 0.6);
}
footer .form-row label{
  color: #FFFFFF;
}
footer input.form-control {
  background:0;
  border-bottom: 1px solid white;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0;
  padding: 0px!important;
}
footer input.form-control::placeholder {
  color: white!important;
}
.facebook p {
  color: #535B62;
}
.facebook img {
  margin-top: -9px;
}
img.footer_logo1 {
  width: 50%;
}
.association p {
  color: #535B62;
}
.association img {
  margin-top: -23px;
}
a.site {
  font-size: 13px;
  margin-left: 15px;
  color: #124E78;
}
button.btn.btn-primary.btn_login1 {
  background-color: white;
  border-color: white;
  color: black;
  padding: 5px 27px;
}

.text-white {
  color: #ffff!important;
  padding: 38px 0px!important;
}



/*container width*/
.subject .container{
  max-width: 1020px!important
}
.parents .container{
  max-width: 1090px!important
}
section.counselling .container {
  max-width: 970px;
}
section.serve .container {
  max-width: 1090px;
}
.container.inner_footer {
  max-width: 1020px;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
  border: 2px solid #7C48C4!important;
  color: #7C48C4!important;
  background: white!important;
  padding: 8px 28px!important;
}
.btn-outline-primary {
border: 2px solid #7C48C4!important;
color: #7C48C4!important;
background: white!important;
padding: 8px 28px!important;
  border-radius: 30px;
}


.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: unset;
}
.btn-outline-primary:hover {
  color: #7C48C4!important;
  background-color: #ffffff!important;
  padding: 8px 28px!important;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff!important;
  background: #7C48C4!important;
  border-color: #7C48C4!important;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: unset!important;
  color: #fff!important;
  background: #7C48C4!important;
  border-color: #7C48C4!important;
}
.btn-primary.focus, .btn-primary:focus {
  box-shadow: unset!important;
  color: #fff!important;
  background: #7C48C4!important;
  border-color: #7C48C4!important;
}
.btn-primary {
  box-shadow: unset!important;
  color: #fff!important;
  background: #7C48C4!important;
  border-radius: 30px!important;
  border-color: #7C48C4!important;
}
/*login page*/
.brite_login {
  background-image: url(./assets/images/login_bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  /*overflow: hidden;*/
  /*height: 1300px;*/
  min-height: 1300px!important;
  margin-bottom: 5rem;
}
.brite_teacher {
  background-image: url(./assets/images/bgnew/hero-bg-3.png);
  background-size: 100%;
  background-repeat: no-repeat;
  /*overflow: hidden;*/
  min-height: 1300px!important;
  margin-bottom: 5rem;
}
.brite_class {
  background-image: url(./assets/images/bgnew/hero-bg-2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  /*overflow: hidden;*/
  height: 2000px;
}
section.login_form .container {
  max-width: 35%;
}
.ng5-slider .ng5-slider-pointer:after {
  content: '';
  width: 20px!important;
  height: 20px!important;
  position: absolute;
  top: 6px!important;
  left: 6px!important;
  border-radius: 15px!important;
  background: #7C48C4 !important;
}
.ng5-slider .ng5-slider-pointer {
  background-color: unset!important;
  outline: 0!important;
}
.ng5-slider .ng5-slider-bubble.ng5-slider-model-value {
  cursor: default;
  bottom: 16px;
  padding: 1px 3px;
  color: #fff;
  background: #7C48C4 !important;
  font-size: 16px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

 .ng5-slider .ng5-slider-tick {
   width: 2px !important;
   border-radius: 0!important;
   height: 7px!important;
   background: #4545!important;
   top: 3px!important;
 }
  .ng5-slider .ng5-slider-bar {
  height: 7px!important;
  border-radius: 30px!important;
}
.form_user {
  background: #F2F2F2;
  color: #394251;
  font-size: 12px;
  font-family: Poppins;
  border-radius: 41px;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  font-weight: 500;
  padding: 27px 17px;
}
.form_user2 {
  border-radius: 28px 0px 0px 28px;
  background: #F2F2F2;

  border: 0;
}
.user {
  margin-right: 10px;
  margin-left: 10px;
}
.btn_login {
  background: #FFFFFF;
  color: black;
  border: 2px solid #7C48C4!important;
  font-weight: 600;
  padding: 13px 33px;
  border-radius: 30px!important;
}
.account_1 p {
  font-size: 14px;
  font-weight: 500;
}
.account_1 a {
  color: #7C48C4;
  text-transform: uppercase;
  margin-left: 7px;
}
.btn_login:hover {
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(186, 186, 186, 0.25);
  color: black;
  border: 3px solid #7C48C4;

}
.log_form1 {
  background-color: white;
  padding: 16px 31px;
  box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.or h6 {
  margin-left: 163px;
  /* margin: auto; */
  padding-top: 7px;
}
.or::after {
  content: "";
  border: 1px solid #888888;
  display: block;
  width: 43%;
  margin-top: -18px;
}
.or::before {
  content: "";
  border: 1px solid #888888;
  display: block;
  width: 43%;
  margin-top: 16px;
  float: right;
}
.log_form1 h4{
  font-family: Poppins;
  font-weight: 600;
}
section.login_form {
  padding-top: 140px;
}
/*footer.footer-login {*/
/*  margin-top: -50px;*/
/*}*/
.text-primary {
color: #7C48C4!important;
}
.text-secondary {
  color: #fea800!important;
}

.carousel-caption{
  bottom: initial;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption h1{
  font-size: 3rem;
}



/*signup*/
.brite_signup {
  background-image: url(./assets/images/login_bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 1015px;
}

.sign_form1 {
  background-color: white;
  padding: 19px 27px;
  box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  margin-top: 129px;
}
.sign_form1 h4{
  font-family: Poppins;
  font-weight: 600;
}
.deliver h2{
  font-weight: bold;
  color: white;
}
.deliver p{
  color: #FFFFFF;
  font-size: 15px;
  text-align: justify;
}
.deliver {
  margin-top: 221px;
}
.btn_signup{
  background: #7C48C4;
  color: white;
  font-size: 14px;
  font-family: Poppins;
  border-radius: 41px;
  padding: 16px 22px;
  border: 0;
  font-weight: bold;

}
.btn_signup:hover{
  background: #7C48C4;
  border: 0;
}

.queries {
  margin-top: 209px;
}
.queries h2{
  color: #C4C4C4;
  font-family: Poppins;
  font-weight: 600;
}
.queries img{
  border-radius: 10px;
  box-shadow: 0px 4px 40px rgba(136, 136, 136, 0.25);
  background: #FFFFFF;
  padding: 14px;
}
.queries h6{
  color: #C4C4C4;
  font-size: 12px;
  font-family: Poppins;
}
.queries a{
  color: #394251;
  font-size: 12px;
  font-family: Poppins;
}
.note p {
  color: #394251;
  font-size: 10px;
  margin-left: 24px;
  margin-right: 11px;
  margin-top: 12px;
}
.form-check-label {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
}
.form-control:focus {
  color: #000000;
  background-color: transparent;
  border-color: #ced4da;
  outline: 0;
  box-shadow: unset;
}
.multiselect-dropdown .dropdown-btn {
  padding: 12px 12px!important;
  border-radius: 30px!important;
  /*padding: 8px 28px!important;*/
  background-color: #F2F2F2!important;
  border: 1px solid #ced4da!important;
}
.multiselect-dropdown .dropdown-btn:focus {
  outline: unset!important;
}

.multiselect-dropdown .dropdown-btn .dropdown-down {
  border-top: 5px solid #4d4d4d!important;
  border-left: 5px solid transparent!important;
  border-right: 5px solid transparent!important;
}
.multiselect-dropdown .dropdown-btn .dropdown-up {
  border-bottom: 5px solid #4d4d4d!important;
  border-left: 5px solid transparent!important;
  border-right: 5px solid transparent!important;
}
.form-control {
  background-color: #F2F2F2!important;
  border-radius: 30px!important;
  height: 50px!important;
  color: black!important;
}
textarea.form-control {
  height: unset!important;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
  color: #636c72!important;
  /*height: 50px!important;*/
  padding: 8px 28px!important;
  padding-top: 12px!important;
}
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
  color: #212529;
  background-color: #fff;
  border-color: #ced4da;
  border-radius: 25px;
  padding: 8px 28px!important;
  /*height: 50px!important;*/
}
.bootstrap-select>.dropdown-toggle {
  padding-top: 12px!important;
  /*height: 50px!important;*/
  padding: 8px 28px!important;
}
.btn-light {
  background-color: #f2f2f2!important;
}
input[type=date]:invalid::-webkit-datetime-edit {
  color: #636c72;
}

section.sign_form .container {
  max-width: 1090px;
}
/*signup_2*/
.query_2 {
  margin-top: 131px;
}

button.btn.btn-outline-secondary.dropdown-toggle.drop_1 {
  border: 0;
  background: #F2F2F2;
  border-radius: 0px 25px 25px 0px;
}

@media screen and (max-width: 767px){
  section.login_form .container {
    max-width: 100%;
  }

  .success h1 {
    font-size: 19px;
  }
}

/*//////////////////////////////////////////////////////////////*/
.home-btn-signup{
  color: #fff;
  background-color: transparent;
  border: 0;
}
.home-btn-signup:hover {
  background-color: transparent;
  border: 0;
}
.home-btn-signup {
  margin-top: 4px;
}
.home-top-nav a {
  margin-right: 1rem;
}
.btn-class {
  color: #7C48C4;
  font-weight: 600;
  text-decoration: none;
  background: white;
  border: white;
  box-shadow: none!important;
  padding: 0.8rem 1rem;
  text-align: left;
}
.btn-class:hover {
  background-color:#7C48C4;
  color: white;
  border: 1px solid white;
}
.home-international i {
  width: 35px;
  height: 35px;
  background-color: orange;
  border-radius: 50%;
  color: white;
  position: absolute;
  right: 5%;
  text-align: center;
  padding: 0.3rem 0;
  font-size: 22px;
  margin-top: 7px;
  cursor: pointer;
}
.kids {
  background: white;
  border-radius: 30px 30px 30px 0;
  padding: 7px 0;
  box-shadow: 0 0 4px 1px #ebebeb;
  transition: all .2s ease-in-out;
  color: #8CA3B6;
  width: 160px;
  margin: 1rem;
  height: 160px;
}
.kids:hover {
  box-shadow: 0 0 15px 3px rgba(255, 145, 59, 0.2);
  padding: 9px 0;
  transform: scale(1.1);
  border-radius: 30px 30px 0 30px;
  color: #7C48C4;
  font-weight: bold;
}
.orange-bg {
  background-color: #ff913b;
}
.kids.orange-bg h6 {
  padding: 38px 0!important;
}
/*slider section*/

.select-heading{
  color: #7C48C4;
  font-weight: 600;

}
.select_classes p{
  color: #414141;
}
section.select_classes {
  margin: 3rem 0;
}
section.parents {
  margin-top: 5rem;
}
.class_1 {
  background: #7C48C4;
  border-radius: 0 0 5px 5px;
  padding: 15px;
}
.class_1 h6 {
  color: #FFFFFF;
  font-weight: 300;
}
.class_1 p {
  color: #FFFFFF;
  font-size: 12px;
  margin-bottom: 7px;
}
.class_1 h5 {
  color: #FFFFFF;
  font-size: 18px;
  margin-bottom: 6px;
}

.slider_content {
  margin: 0 15px;
}

button.slick-prev {
  background-color: #FAFCFF;
  border: 0;
  font-size: 0;
}
button.slick-next {
  background-color: #FAFCFF;
  border: 0;
  font-size: 0;
}
button:focus{
  outline: 0!important;
}
.home-ratings-one span{
  color: #FFC344;
  margin-right: 5px;
}
.upcoming h4 {
  color: #7C48C4;
  margin-left: 0.8rem;
}
.upcoming a {
  color: #2D2D2D;
  margin-top: -22px;
  margin-right: 18px;
}

.serve .qualified_teacher img {
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 40px #EAEAEA;
  padding: 15px;
  margin-top: 22px;
}
.serve h2{
  color: #7C48C4;
  font-weight: bold;
}
.serve h5{
  color: #88959F;
  font-weight: 400;
  margin-left: 3px;
}
.qualified_teacher p {
  margin-top: 37px;
  margin-left: 18px;
  color: #2D2D2D;
}
.qualified_teacher a {
  color: #88959F;
}


.more a {
  color: #88959F;
  font-size: 18px;
}
.counselling .success {
  border: 3px solid rgba(136, 149, 159, 0.5);
  border-radius: 10px;
  padding: 1.5rem 0;
}
.counselling h2 {
  color: #FF8A46;
  font-weight: 600;

}
.counselling button.btn.btn-primary.btn_book {
  background: #7C48C4;
  border-color:#7C48C4;
  box-shadow: 0 4px 40px #F3EAFF;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  font-family: Poppins;
  padding: 8px 28px;
  border-radius: 7px;
}

/*section_5*/

section.teachers {
  background-image: url(./assets/images/teachers.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 751px;
  overflow: hidden;
  margin-top: 5rem;
  background-position: 0 54px;
}

.teach p{
  color: #88959F;
  font-size: 18px;
}
.watson h5{
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
}
.watson h6{
  color: #FFFFFF;
}
.watson h6 {
  color: white;
  font-size: 12px;
}
.watson p{
  color: #FFFFFF;
  font-size: 10px;
}

.watson {
  background-color: black;
  position: absolute;
  padding: 14px 38px;
  border-radius: 0 0 30px 30px;
}

/*video section*/
.home-admire {
  margin-left: 1.8rem;
}
.home-admire h5 {
  color: #88959F;
  font-style: italic;
}
.home-admire h6 {
  color: #FF8A46;
  font-weight: 400;
}
.home-admire h4 {
  color: #7C48C4;;
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
}

.home-parents h5 {
  color: #88959F;
  font-family: Poppins;
  text-align: center;
  margin: auto;
  font-weight: 400;
}
.copyright p {
  color: #535B62;
  font-size: 14px;
}

/* === Home page css ===*/


/* === classpage css ===*/
.progress {
  height: 0.4rem;
  background: #D8D8D8;
}
.progress-bar:after {
  content: "";
  width: 18px;
  height: 18px;
  background: #7C48C4;
  position: absolute;
  border-radius: 50px;
  left: 30%;
}
.progress-bar:before {
  content: "";
  width: 18px;
  height: 18px;
  background: #7C48C4;
  position: absolute;
  border-radius: 50px;
  right: 30%;
}

/*header*/
span.bar-icon {
  color: white!important;
}
/*.brite_login {
  background-image: url(./assets/images/hero-bg-2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  height: unset!important;
}*/
.class-art {
  margin-top: 8rem;
}
.class-art .class-duration i {
  font-size: 42px!important;
  color: #7c48c4;
}
.class-art .class-duration {
  background-color: white;
  border-radius: 22px;
  box-shadow: 0 0 44px rgba(0, 0, 0, 0.05);
  padding: 1.5rem 0!important;
  margin-bottom: 1rem!important;
}
.class-art .heading h6 {
  line-height: 1.5;
  margin-left: 1rem;
}
.class-duration h4 {
  margin-bottom: 5px;
}
.class-duration p {
  margin-bottom: 0;
}
.class-art .class-duration p {
  font-size: 12px;
}
.class-art .user-ratings span {
  margin-right: 2px;
  color: #7c48c4;
}
.class-art .class-craft p {
  margin-bottom: 0.2rem;
}
.class-art .upcoming-class {
  background-color: white;
  border-radius: 22px;
  box-shadow: 0 0 44px rgba(0, 0, 0, 0.05)
}
.class-art .class-main-heading{
  color: #394251;
  font-weight: 600;
  padding: 1.5rem 2rem;
}
.class-art .class-meet-once h5{
  color: #000000;
  font-weight: 500;
}
.class-art .class-meet-once p{
  font-weight: 500;
  margin-bottom: 0;
}
.class-art .class-meet-once h6{
  font-weight: 500;
  color: #7C48C4;
  margin: 10px 0;
}
.class-art .btn-enroll-now{
  background: #7C48C4;
  border-color: #7C48C4;
  font-weight: 500;
  color: white;
  margin: 10px 0 25px;
  padding: 0.5rem 2rem;
}
.class-art .btn-enroll-now:hover{
  background: white;
  border-color: #7C48C4;
  color: #7C48C4;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)!important;
  transition: .2s ease-out;
}
.class-profile-one {
  margin-top: 0.8rem;
  margin-left: 1rem;
}
.class-profile-one h5 {
  margin-bottom: 0;
}
.class-profile-one p {
  font-size: 14px;
}
.class-art .class-experience{
  padding: 0 2rem;
}
.class-art .class-certificate p{
  font-size: 14px;
  text-align: center;
  margin-top: 8px;
}
.class-ratings {
  display: flex;
}
.class-art .class-ratings i{
  background: #CBECF5;
  border-radius: 7px;
  color: #7C48C4;
  font-size: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 0.3rem;
}
.class-art .class-ratings p{
  color: #000000;
  font-weight: 500;
  font-size: 15px;
  margin-left: 1rem;
  margin-top: 0.3rem;
}
.class-art .class-rebeca h5{
  font-weight: 500;
}
.class-art .class-rebeca p{
  font-size: 14px
}
.class-profile {
  display: flex;
}
.class-art .class-art-fun i {
  color: #7C48C4;
  font-size: 30px;
  position: absolute;
}
.class-art .class-icon {
  color: #7C48C4;
}
.class-art .user-ratings-star span {
  margin-right: 5px;
  color: #7c48c4;
}
.class-art .class-review-helpful a {
  font-size: 14px;
  color: #6A6A6A;
  border: 1px solid #6A6A6A;
  padding: 0 15px;
  text-decoration: none;
}
.class-art .class-review-helpful span {
  margin-right: 14px;
  font-size: 15px;
}
.class-art .class-kids p {
  font-size: 14px;
  margin-bottom: 5px;
}

.class-art .user-ratings-star p {
  color: #ACACAC;
  font-size: 12px;
}
.class-art .user-ratings-star {
  margin-top: 8px;
}
.class-art .class-alignment {
  margin-bottom: 1.5rem;
}
.class-art .class-border{
  width: 91%;
  margin-bottom: 1.5rem;
}
.class-art .has-search .form-control {
  border-radius: 50px;
  background: #F2F2F2;
  padding: 1.5rem 1.75rem;
  border-color:#F2F2F2;
}
.class-art .has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.8rem;
  text-align: center;
  pointer-events: none;
  color: black;
  right: 4%;
}
.class-art .class-questions  {
  background: #F7F7F7;
  border-radius: 20px;
}
.class-art .class-questions .class-look {
  margin-bottom: 0;
  padding: 1rem 1rem 0.5rem;
}
.class-art .class-questions .class-look p {
  margin-top: 1.3rem;
}
/*accordion*/
hr.class-border-two {
  margin-top: 0!important;
  margin-bottom: 0!important;
}
.class-art .panel-title.record a {
  font-size: 17px!important;
}
.class-art .accordion-section .panel-default > .panel-heading {
  border: 0;
  border-radius: 12px;
}
.class-art .accordion-section .panel-default .panel-title a {
  display: block;
  font-weight: 600;
  font-size: 1.4rem;
  color: #394251;
  padding: 1.5rem 2rem 0;
}
.class-art .accordion-section .panel-default .panel-title a:after {
  font-family: 'FontAwesome'!important;
  font-size: 1.8rem;
  content: "\f106"!important;
  color: #4B4B4B;
  float: right;
  margin-top: -6px;
}
.class-art .accordion-section .panel-default .panel-title a.collapsed:after {
  content: "\f107"!important;
}
.class-art .accordion-section .panel-body.content  {
  padding: 0 2rem;
}
.class-art .accordion-section .panel-body.content  {
  font-weight:500;
}
.class-art .accordion-section .class-art-fun h6 {
  line-height: 2;
  margin-left: 20px;
}
.class-art .accordion-section .one-time {
  padding: 0 2rem;
}
div#accordion {
  padding-bottom: 2px;
}
.class-art .class-learning p{
  margin-bottom: 5px!important;
}
.class-art .class-date span{
  color: #7C48C4;
  font-size: 14px;
  margin-right: 15px;
}
.class-art .class-answer a{
  color: #8E8E8E;
  font-size: 14px;
}
.class-art .class-report span{
  color: #6A6A6A;
  font-size: 14px;
  margin-left: 20px;
}
.class-art .class-view a{
  color: #7C48C4;
  font-weight: 600;
}
/*slider card*/
.class-card .card-body {
  padding-top: 0.7rem!important;
}
.class-art-one .card {
  background: #7C48C4;
  border: 0;
}
.class-art-one .card .card-title {
  margin-bottom: 0!important;
  color: white;
  line-height: 1.5;
}
.class-art-one .card .class-mins span {
  color: white;
  font-size: 14px;
  margin-right: 1.5rem;
}
.class-art-one .card .class-ratings-one span {
  color:#ff9f1c;
}
.class-art-one .class-barnet h4{
  color: #7C48C4;
  font-weight: 600;
}
.class-art-one button.slick-prev {
  background-color: #FAFCFF;
  border: 0;
  font-size: 0;
}
.class-art-one button.slick-next {
  background-color: #FAFCFF;
  border: 0;
  font-size: 0;
}
.class-art-one button:focus {
  outline: 0!important;
}
/*right side*/
.class-art-right {
  margin-top: 11rem;
}
.class-art-right .class-video {
  background: #7C48C4;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
}
.video-img {
  width: 270px;
  height: 180px;
  border-radius: 25px;
  margin-top: 1.5rem;
  margin-bottom: 10px;
}
.btn-enroll {
  padding: 0.5rem 0.8rem !important;
  margin: 0!important;
  font-size: 14px;
}
.class-enroll span i {
  color:#7C48C4;
  margin-left: 1.5rem;
}
.course-length p {
  margin-bottom: 0.5rem;
}
.course-length p {
  font-size: 13px;
}
.course-length span {
  color: #7C48C4;
  float: right;
  font-weight: 500;
}
.class-enroll {
  margin-bottom: 1rem;
}

.class-art-fun p {
  margin-left: 1rem;
}
.class-art-right .card {
  border-style: none;
  border-radius: 22px;
  box-shadow: 0 0 44px rgba(0, 0, 0, 0.05)
}

/*footer*/
footer ul{
  list-style: none;
  padding: 0;
}
footer li a{
  color: #535B62;
  font-weight: 600;
}
.class-details-request{
  background-image: url(./assets/images/callbak.png);
  background-size: 100%;
  height: 250px;
  background-repeat: no-repeat;
}
.class-details-request h3{
  color: #FFC344;
  font-weight: bold;
}
.class-details-request h6{
  color: rgba(255, 255, 255, 0.6);
}
footer .form-row label{
  color: #FFFFFF;
}
footer input.form-control, footer input.form-control:focus {
  background:0;
  border-bottom: 1px solid white;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  padding: 0!important;
  box-shadow: none;
  color: #fff;
}
footer input.form-control::placeholder {
  color: white!important;
}
.facebook p {
  color: #535B62;
}
img.footer_logo1 {
  width: 50%;
}
.association p {
  color: #535B62;
}
.class-association p {
  color: #535B62;
}
.class-association img {
  margin-top: -23px;
}
a.site {
  font-size: 13px;
  margin-left: 15px;
  color: #124E78;
}
button.btn.btn-primary.btn_login1 {
  background-color: white;
  border-color: white;
  color: black;
  padding: 0.4rem 1.5rem;
}
.text-white {
  color: #ffff!important;
}
button.btn.btn-primary.btn-feature {
  background: #FF9F1C;
  border-color: #FF9F1C;
  padding: .375rem 1.5rem;
  outline: 0!important;
  box-shadow: none!important;
}
button.btn.btn-primary.btn-feature:hover {
  background:white;
  border-color: #FF9F1C;
  color: #FF9F1C;
}
/* === classpage css ===*/

/* === Listingpage css ===*/
.class-subject .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 95%!important;
}
.search{
  float: left;
}
section.class-art.class-subject {
  margin-top: 1rem!important;
}
.list-padding {
  padding: 1rem;
}
.class-list .class-kids h1{
  color: #7C48C4;
  font-weight: 600;
}
.class-list .search-content .form-control{
  border-radius: 20px;
  padding: 1.3rem 1.75rem;

}
.class-list .search-content .form-control:focus{
  border-color: #7C48C4!important;
  outline: 0;
  box-shadow: none!important;

}
.class-list .btn-search {
  border-radius: 20px;
  background: #7C48C4;
  border-color: #7C48C4;
  padding: 0.5rem 1rem;
}
.class-list .btn-search:hover {
  background: white;
  border-color: #7C48C4;
  color: #7C48C4;
}
.class-list .btn-search:focus {
  box-shadow: none!important;
}
.class-subject .list-checked  li {
  list-style: none!important;
}
.class-subject .custom-radio {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.6;
  color: #4E4E4E;
}
.class-subject .custom-radio span {
  color: #8B8B8B;
}
.class-subject .custom-radio .checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #ffffff;
  border: 1px solid #7C48C4;
  border-radius: 2px;
}
.class-subject .custom-radio input:checked~.checkmark:after {
  display: block;
}
.class-subject .custom-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.class-subject .custom-radio .checkmark:after {
  width: 14px;
  height: 14px;
  background: #7C48C4;
  top: -1px;
  left: -1px;
  border-radius: 2px;
}
.class-subject .custom-radio input:checked~.checkmark:after {
  display: block;
}
.class-subject .custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.class-subject .custom-checkbox, .custom-radio {
  outline: none !important;
  box-shadow: none !important;
}
.class-subject .custom-radio input:checked~.checkmark {
  border: 1px solid #313132;
}
.class-subject .list-animal {
  display: flex;
}
.class-subject .list-animal i {
  color: #7C48C4;
  font-size: 1.4rem;
  position: absolute;
  float: right;
  right: 2rem;
  top: 0;
}
.class-subject .class-craft{
  color: #000000;
  font-weight: 400;
  line-height: 1.3;
  font-size: 13px;
  margin-bottom: 5px!important;
  margin-top: 2px!important;
}
.class-subject .class-barnet p{
  color: #4E4E4E;
  font-size: 14px;
  margin-bottom: 0;
}
.class-subject .class-barnet span {
  font-size: 12px;
}
.class-barnet h6 {
  margin-bottom: 0;
}
.class-subject .class-week h6{
  font-size: 14px!important;
  color: #7C48C4;
  font-weight:500;
  margin-left: 1rem;
  margin-top: 5px;
}
.class-week{
  display: flex;
}
.class-subject .class-barnet {
  margin: 0.7rem;
}
.class-subject .list-times span {
  font-size: 14px;
  font-weight: 500;
}
.class-subject .list-times i {
  color: #7C48C4;
  font-size: 24px;
}
.class-subject .class-list-ratings span {
  margin-right: 2rem;
  color: #7C48C4;
  font-size: 15px;
  line-height: 0!important;
}

.list-sedona {
  display: flex;
}
.class-min {
  display: flex;
}
.list-times {
  display: flex;
  margin: 0.6rem 0 0;
}
.list-times div {
  margin-right: 3rem;
}
.list-times h6 {
  padding: 4px;
}
.list-next-class {
  display: flex;
}
.list-next-class p {
  font-size: 15px;
  margin-right: 1.5rem;
  margin-bottom: 0;
}
.list-animal h5 {
  margin-bottom: 0!important;
}
/*pagination*/
ul.pagination li a {
  margin-left: 1rem;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  text-align: center;
  color: #7C48C4;
}
ul.pagination li a:hover {
  background-color:#7C48C4;
  color: white;
}
li.page-item.page-item-navigation a {
  border: 0!important;
}
/* === Listingpage css ===*/

/* === mobile view filter css ===*/
.filter {
  padding: 1.3rem 1rem;
}
.modal-body.class-art.class-subject.class-filter-modal {
  margin-top: 0!important;
}

.class-art-heading {
  margin: 3rem 0;
}
.subject .container {
  max-width: 1020px!important;
}
.subject h4 {
  font-weight: 600;
  color: #8CA3B6;
}
.photography h5{
  color: #7C48C4;
  font-weight: 600;
}
.photography p{
  color: #acb5bd;
  font-size: 15px;
}
.arts {
  width: 20%;
}
.arts p {
  width: 90%;
}
/* === mobile view filter css ===*/

/* === learner-deshboard css ===*/
.learner-deshobard {
  background-image: url(./assets/images/hero-bg-3.png);
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}
.learner-tabs {
  padding: 1rem;
  margin: 3rem;
}
.learner-tabs a {
  color: black;
  font-weight: 600;
  font-size: 20px;
}
.learner-tabs .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #ff9f1c;
}
.learner-time {
  text-align: center;
  margin: 4rem 0;
}
.learner-time h6 {
  color: #ff9f1c;
}
.learner-time p {
  color: #7C48C4;
}

.class-barnet.learner-all a {
  float: right;
  font-size: 14px;
  color: black;
  margin-top: 0.8rem;
}
.list-padding.class-subject.learner-subject {
  padding: 0 1rem;
}
.list-padding.class-subject.learner-subject {
  border-right: 1px solid rgba(0,0,0,.1)!important;
}
.dashboard-class h4 {
  padding: 1.5rem 0 0.5rem 1.5rem!important;
}
.dashboard-class {
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.btn-myclass button.btn.btn-primary.rounded-pill.btn-enroll-now {
  margin-top: 0!important;
}
/* === learner-deshboard css ===*/

/* === learner-inbox css ===*/
.inbox {
  padding: 1.5rem 1rem;
}
.inbox-message h4 {
  padding: 0!important;
}
.inbox-message p{
  margin-bottom: 0;
  color: #646464;
  font-size: 18px;
}
.inbox-profile-inner-text h6 {
  font-weight: 600;
  margin-bottom: 0;
}
.inbox-profile-inner-text {
  margin: 0.6rem;
}
.inner-profile-date p {
  font-style: italic;
  color: #ababab;
  margin-top: 0.6rem;
  font-size: 14px;
}
hr.inbox-border {
  margin-top: 0;
}
.inbox-teacher-dropdown button#dropdownMenu2 {
  background: transparent!important;
  color: black;
  border: none;
  font-weight: 500;
  box-shadow: none!important;
  outline: 0!important;
}
.inbox-teacher-dropdown .dropdown span {
  color: #7c48c4;
  font-weight: 500;
}
.inbox-teacher-dropdown .dropdown {
  float: right;
}
/* === learner-inbox css ===*/


/* === my-class css ===*/
.my-class {
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}
.myclass-date p {
  margin: 0.5rem 0;
}
.myclass-transcript a{
  color: #7C48C4;
  font-weight: 600;
}
.myclass-transcript {
  text-align: center;
  margin-top: 2.5rem;
}
.upcoming-class.myclass {
  padding: 0.5rem 0;
}
/* === my-class css ===*/


/* === termas and conditions ===*/
.terms-background {
  background-image: url(./assets/images/static-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}
#terms-conditions{
  background-color: #fafcff;
}
.terms-space {
  margin: 1.3rem 0;
}
.class-terms {
  text-align: center;
  margin: 2rem;
}
.class-terms h2 {
  font-weight: 600;
}
.terms-text {
  background-color: white;
  border-radius: 22px;
  box-shadow: 0 0 44px rgba(0, 0, 0, 0.05);
  padding: 2rem;
}
.terms-text h3 {
  color: #FF9F1C;
  font-weight: 600;
}
.terms-text strong {
  color: #7C48C4;
}
.guide-book{
  text-align: center;
  margin-top: 1.5rem;
}
.guide-book h2{
  color: #7C48C4;
  font-weight: 600;
}
.guide-book p{
  color: #4E4E4E;
  font-weight: 500;
}
.terms-text ul{
  list-style: none;
  padding: 0;
}
.guide-book-requirements h3{
  color: #444444!important;
}
.guide-book-text {
  border-right: 1px solid #C9C9C9;
}
.guide-book-content p{
  font-size: 14px;
}
.terms-text p {
  font-size: 15px;
}
/* === termas and conditions ===*/

/* === payments ===*/
.container.class-art.payment-method {
  max-width: 1020px;
}
.upcoming-class.myclass.payment-page {
  padding: 1.6rem;
}
.trasaction{
  padding: 1rem 2rem;
}
.upcoming-class.myclass.payment-page h4 {
  padding: 0 0 0.7rem;
}
.trasaction-dark {
  background: #f0f0f0;
}
.trasaction-table .table td, .table th {
  padding: 0.75rem;
  vertical-align: baseline;
  border-bottom: 5px solid white;
  border-top: 0;
}
.trasaction-table .table .thead-blue{
  background-color: #7c48c4;
  color: white;
}
.trasaction-table .table thead th {
  border-bottom: 0;
}
.payment-details-one{
  float: left;
}
.payment-details-two{
  float: right;
}
.payment-card img {
  border: 3px solid #7c48c4;
  padding: 1.3rem;
  border-radius: 5px;
}
.payment-number {
  margin-left: 1rem;
}
.payment-number h5{
  margin-bottom: 0;
}
.payment-number p{
  margin-bottom: 0;
  color: gray;
}
.payment-details-icons i {
  color: #7c48c4;
  padding-left: 3rem;
}
/* === payments ===*/

/*///////////////////////////////////////////////////////////////*/

@media screen and (min-width: 768px) and (max-width: 991px){

}
@media screen and (min-device-width: 992px) and (max-device-width: 1200px) {

}
@media screen and (min-width: 1900px){

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
