  <div class="container container-size mt-5">
    <div class="row">
      <div class="col-md-3">
        <a>
          <div class="card cardTab cardTabSelected">
            <div class="row m-0">
              <div class="col-md-2 p-0">
              <img alt="info" src="./assets/images/icon/sharedIcons/info.png" width="25">
            </div>
              <div class="col-md-9 text-left p-0">
            <h5>Details</h5>
          </div>
            </div>
          </div>
        </a>
        <a>
          <div class="card cardTab">
            <div class="row m-0">
              <div class="col-md-2 p-0">
                <img alt="info" src="./assets/images/icon/sharedIcons/sort.png" width="25">
              </div>
              <div class="col-md-10 text-left p-0">
                <h5>Format</h5>
              </div>
            </div>
          </div>
        </a>
        <a>
          <div class="card cardTab ">
            <div class="row m-0">
              <div class="col-md-2 p-0">
                <img alt="info" src="./assets/images/icon/sharedIcons/photo.png" width="25">
              </div>
              <div class="col-md-10 text-left p-0">
                <h5>Images and videos</h5>
              </div>
            </div>
          </div>
        </a>
        <a>
          <div class="card cardTab ">
            <div class="row m-0">
              <div class="col-md-2 p-0">
                <img alt="info" src="./assets/images/icon/sharedIcons/description.png" width="25">
              </div>
              <div class="col-md-10 text-left p-0">
                <h5>Description</h5>
              </div>
            </div>
          </div>
        </a>
        <a>
          <div class="card cardTab ">
            <div class="row m-0">
              <div class="col-md-2 p-0">
                <img alt="info" src="./assets/images/icon/sharedIcons/notebook.png" width="25">
              </div>
              <div class="col-md-10 text-left p-0">
                <h5>Additional Info</h5>
              </div>
            </div>
          </div>
        </a>
        <a>
          <div class="card cardTab ">
            <div class="row m-0">
              <div class="col-md-2 p-0">
                <img alt="info" src="./assets/images/icon/sharedIcons/connection.png" width="25">
              </div>
              <div class="col-md-10 text-left p-0">
                <h5>Resources</h5>
              </div>
            </div>
          </div>
        </a>
        <a>
          <div class="card cardTab ">
            <div class="row m-0">
              <div class="col-md-2 p-0">
                <img alt="info" src="./assets/images/icon/sharedIcons/tag.png" width="25">
              </div>
              <div class="col-md-10 text-left p-0">
                <h5>Pricing</h5>
              </div>
            </div>
          </div>
        </a>
        <a>
          <div class="card cardTab ">
            <div class="row m-0">
              <div class="col-md-2 p-0">
                <img alt="info" src="./assets/images/icon/sharedIcons/welcome.png" width="25">
              </div>
              <div class="col-md-10 text-left p-0">
                <h5>Welcome Post</h5>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="headerCard">
            <div class="row">
              <div class="col-md-6 col-6">
                <h4>CLASS DETAILS</h4>
              </div>
              <div class="col-md-6 text-right">
<!--                <img alt="" src="./assets/images/icon/guide.png" width="25">-->
              </div>
            </div>
          </div>
          <form ngNativeValidate (submit)="nextAndSave()">
          <div class="card-body head">
            <div class="form-group col-md-12">
              <label for="title">Title*</label>
              <input type="text" class="form-control" id="title" name="title" [(ngModel)]="classObj.title" placeholder="Enter title for your class" required>
            </div>
            <div class="form-group col-md-12">
              <label for="summary">Summary*</label>
<!--              <textarea  id="summary" name="summary" [(ngModel)]="classObj.summary" rows="4" placeholder="Enter quick summary for your class..."></textarea>-->
              <editor [initialValue]="'Tell Students about yourself and describe'" [init]="{
     height: 200,
     menubar: false,
     plugins: ['lists link image paste help wordcount'],
     toolbar: 'bold italic | bullist numlist'}" id="summary" name="summary" [(ngModel)]="classObj.summary" required="required"></editor>
            </div>
            <div class="form-group col-md-12">
              <label for="Subject">Subject*</label>
              <select class="form-control" id="Subject" name="subject" (change)="checkSubject(classObj.subject_id)" [(ngModel)]="classObj.subject_id" required>
                <option value="" selected>Choose a subject</option>
                <option [value]="sub.id" *ngFor="let sub of allSubjects">{{sub.subject}}</option>
              </select>
            </div>
            <div class="row m-0">
              <div class="col-md-10">
                <label>Class Type *<span data-toggle="modal" data-target="#info" class="pl-2"><img alt="" src="./assets/images/icon/sharedIcons/information.png" width="20"></span></label>
              </div>
              <div class="col-md-6 mb-3" *ngFor="let type of allClassTypes">
                <input type="radio" name="types" [value]="type.id" (change)="CheckType(type.type)" class="hideRadio" [id]="type.id" [(ngModel)]="classObj.class_type_id" required>
              <label [htmlFor]="type.id" class="typeBoxStyle heading">{{type.type}}
                <label [htmlFor]="type.id" class="content">{{type.description}}</label>
              </label>
              </div>
            </div>
          </div>
          <div class="col-md-12 p-0">
            <div class="card-footer">
              <div class="row">
                <div class="col-md-6 text-left">
                  <button type="button" *ngIf="loaderDraft == false" class="noBtn" (click)="SaveClassDetailsAsDraft()" >{{'SaveasDraft' | translate}}</button>
                  <button type="button" disabled *ngIf="loaderDraft == true" class="noBtn" ><img alt="" src="./assets/images/loader.gif" width="25"></button>
                </div>
                <div class="col-md-6 text-right">
              <button class="btn btn-primary btnNext" type="submit" *ngIf="loader == false">{{'Next' | translate}}</button>
                  <button class="btn btn-primary btnNext" type="button" disabled *ngIf="loader == true"><img alt="" src="./assets/images/loader.gif" width="25"></button>
                </div>
              </div>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body Centered">
          <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
        </div>
      </div>
    </div>
  </div>
