.card {
  border: 1px solid rgba(0,0,0,.125);
}

.cardTab {
  padding: 15px;
  margin-bottom: 20px;
}

.cardTab:hover {
  transition: all 0.1s ease-out;
  box-shadow: 0 10px 5px rgba(38, 38, 38, 0.4);
  top: -4px;
  border: 1px solid #cccccc;
  background-color: white;
}

.cardTab.cardTabSelected {
  border: 4px solid #7C48C4;
}

h5 {
  font-size: 0.9rem;
  font-weight: 500;
  padding-top: 5px;
  color: #000000;
}

.teachingHeading {
  color: white;
  font-weight: bold;
  text-align: center;
}

.marginTop {
  margin-top: 10rem;
}
.noBtn {
  border: unset;
  border-radius: unset;
  margin: unset;
  background-color: unset;
  color: #7C48C4;
}

.cardNav {
  border-radius: 15px;
}

.nav-link {
  padding: 1.5rem 3rem!important;
  color: #000000;
  font-weight: 500;
}

.nav .nav-item a.nav-link:active {
  background-color: #fea800!important;
  color: white;
}

.container.container-size {
  max-width: 1000px;
}

.container.container-size .card {
  border-radius: 12px;
}

.container.container-size .card .headerCard {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
}

.container.container-size .card .card-body.head {
  border-top: 1px solid #7C48C4 ;
}

select.form-control {
  border-radius: 20px!important;
}

input.form-control {
  border-radius: 20px!important;
}
textarea.form-control {
  border-radius: 20px!important;
}
label {
  color: #999;
}
.text-light {
  color: #999!important;
}
.cardUpload {
  background-color: #f4f4f4;
  padding: 30px;
  border: unset;
}

.card-footer {
  background-color: white;
  border-top: 1px solid #7C48C4;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.btnNext {
  border-radius: 50px;
  padding: 10px 45px 10px 45px;
  background: #7C48C4;
  border: 1px solid;
}
.italicStyle {
  padding-left: 10px;
  font-size: 12px;
  color: white;
}
/*p.heading{
  font-size: 18px;
  margin: 0;
}
p.content {
  font-size: 12px;
  margin: 0;
}*/
label.heading{
  font-size: 18px;
  color: #000000;
  margin: 0;
}
label.content {
  font-size: 12px;
  color: #000000;
  margin: 0;
}

.text-secondary {
  color: #7C48C4!important;
  font-size: 18px!important;
}
.hideRadio {
  opacity: 0;
  position: absolute;
  /*2px solid #7C48C4!important*/
}
input[type="radio"]:checked + label{
  border: 3px solid #7C48C4!important;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.typeBoxStyle {
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  margin: 0;
  background-color: #f4f4f4;
}
