<div class="container container-size mt-5">
  <div class="row">
    <div class="col-md-3">
<!--        <a routerLink="../details">-->
<a routerLink="/teacher/class/class-details/{{classObj.id}}"  >
  <div class="card cardTab">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/info.png" width="25">
      </div>
      <div class="col-md-9 text-left p-0">
        <h5>Details</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../course">-->
<a routerLink="/teacher/class/course/{{classObj.id}}">
  <div class="card cardTab">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/sort.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Format</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../image">-->
<a routerLink="/teacher/class/image/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/photo.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Images and videos</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../description">-->
<a routerLink="/teacher/class/description/{{classObj.id}}">
  <div class="card cardTab cardTabSelected">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/description.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Description</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../extra">-->
<a routerLink="/teacher/class/extra/{{classObj.id}}">
  <div class="card cardTab">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/notebook.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Additional Info</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../resources">-->
<a routerLink="/teacher/class/resources/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/connection.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Resources</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../pricing">-->
<a routerLink="/teacher/class/pricing/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/tag.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Pricing</h5>
      </div>
    </div>
  </div>
</a>
<!--        <a routerLink="../welcome">-->
<a routerLink="/teacher/class/welcome/{{classObj.id}}">
  <div class="card cardTab ">
    <div class="row m-0">
      <div class="col-md-2 p-0">
        <img alt="info" src="./assets/images/icon/sharedIcons/welcome.png" width="25">
      </div>
      <div class="col-md-10 text-left p-0">
        <h5>Welcome Post</h5>
      </div>
    </div>
  </div>
</a>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="headerCard">
          <div class="row">
            <div class="col-md-6 col-6">
              <h4>COURSE DESCRIPTION</h4>
            </div>
            <div class="col-md-6 text-right">
<!--                <img alt="" src="./assets/images/icon/guide.png" width="25">-->
            </div>
          </div>
        </div>
        <form ngNativeValidate (submit)="nextAndSave()">
        <div class="card-body head">
          <div class="row">
            <div class="col-md-12">
              <h6>Class Experience</h6>
              <label>Describe your class in brief according to the duration and what you are going to teach in at-least 200 words.
                Long duration classes need brief description to have complete understanding about the classes.</label>
              <div>
                <h6>Topic to include *</h6>
                <label class="topic">What to taught?</label><br>
                <label class="topic">What topics will you cover?</label><br>
                <label class="topic">How is your class structured?</label><br>
                <label class="topic">How will you teach?</label><br>
                <label class="topic">Whats your teaching style?</label><br>
              </div>
            </div>
            <div class="col-md-12 form-group">
<!--                <textarea class="form-control" rows="5" placeholder="Describe your class..." name="classDesc" [(ngModel)]="classObj.description"></textarea>-->
              <editor aria-placeholder="Type Here" name="classDesc" [(ngModel)]="classObj.description" [init]="{
   height: 200,
   menubar: false,
   plugins: ['lists link image paste help wordcount'],
   toolbar: 'bold italic | bullist numlist'}" required></editor>
            </div>
            <div class="col-md-12">
              <h6>Assignment *</h6>
              <label>What kind of homework is assigned? Will learners be completing projects individually or as a group?
              How long will homework take each week? For a class requiring reading, approximately how many pages will learners be expected to read independently?</label>
            </div>
            <div class="col-md-12 form-group">
<!--                <textarea class="form-control" rows="3" placeholder="Type Here" name="assignment" [(ngModel)]="classObj.assignment"></textarea>-->
              <editor aria-placeholder="Type Here" name="assignment" [(ngModel)]="classObj.assignment" [init]="{
   height: 120,
   menubar: false,
   plugins: ['lists link image paste help wordcount'],
   toolbar: 'bold italic | bullist numlist'}" id="assignment" required></editor>
            </div>
            <div class="col-md-12">
              <h5>Class Goal *</h5>
              <label>What will student learn? Be as specific as possible.</label>
            </div>
            <div class="col-md-12 form-group">
<!--                <textarea class="form-control" name="goal" [(ngModel)]="classObj.goal" rows="4" placeholder="For Ex: Students will improve their understanding of the six traits of writing: ideas, organisation, voice, sentence fluency, word choice and conventions."></textarea>-->
              <editor aria-placeholder="For Ex: Students will improve their understanding of the six traits of writing:
              ideas, organisation, voice, sentence fluency, word choice and conventions." name="goal" [(ngModel)]="classObj.goal" [init]="{
   height: 150,
   menubar: false,
   plugins: ['lists link image paste help wordcount'],
   toolbar: 'bold italic | bullist numlist'}" id="goal" required></editor>
            </div>
            <div class="col-md-12">
              <h6>Assessment *</h6>
              <label>How is learner progress accessed (eg: A letter grade, written report, informal assessment etc)?</label>
            </div>
            <div class="col-md-12 form-group">
<!--                <textarea class="form-control" rows="2" name="assessment" [(ngModel)]="classObj.assessment" placeholder="Type Here"></textarea>-->
              <editor aria-placeholder="Type Here" name="assessment" [(ngModel)]="classObj.assessment" [init]="{
   height: 120,
   menubar: false,
   plugins: ['lists link image paste help wordcount'],
   toolbar: 'bold italic | bullist numlist'}" id="assessment" required></editor>
            </div>
          </div>
        </div>
        <div class="col-md-12 p-0">
          <div class="card-footer">
            <div class="row">
              <div class="col-md-6 text-left">
                <button type="button" class="noBtn" *ngIf="loaderDraft == false" (click)="SaveClassDetailsAsDraft()">{{'SaveasDraft' | translate}}</button>
                <button class="noBtn" disabled *ngIf="loaderDraft == true" type="submit"><img alt="" src="./assets/images/loader.gif" width="25"></button>
              </div>
              <div class="col-md-6 text-right">
                <button class="btn btn-primary btnNext" type="submit" *ngIf="loader == false" >{{'Next' | translate}}</button>
                <button class="btn btn-primary btnNext" type="button" disabled *ngIf="loader == true"><img alt="" src="./assets/images/loader.gif" width="25"></button>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
