.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
}
.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child), .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text {
  border-radius: 30px 0 0 30px!important;
}

.form-control.drop {
  background: #F2F2F2;
  color: #636c72!important;
  font-size: 12px;
  font-family: Poppins;
  border-radius: 0 41px 41px 0;
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  font-weight: 500;
  border-left: 1px solid lightgray;
}
option:not(:checked) {
  background-color: #FFF!important;
}
.btn-primary {
  border-radius: 30px!important;
}
.editImage {
  position: absolute;
  top: 0;
}
.hideChooseFile{
  opacity: 0;
  position: absolute;
  text-align: center;
  justify-content: center;
  text-align-last: center;
  left: 130px;
  height: 100px;
  width: 125px;
}
.rounded-circle {
  border-radius: 50% !important;
  border: 2px solid #7C48C4;
  padding: 0;
  width: 100px;
  height: 100px;
  object-fit: contain;
}
