<div>
  <section class="sign_form">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="deliver">
            <h2>Deliver Your Talent</h2>
            <p>Britebear is an institution that provides a platform for all. Britebear is an institution that provides a platform for all. Britebear is an institution that provides a platform for all.</p>

            <p>Britebear is an institution that provides a platform for all. Britebear is an institution that provides a platform for all. Britebear is an institution that provides a platform for all. Britebear is an institution that provides a platform for all. Britebear is an institution that provides a platform for all.</p>
          </div>
          <div class="query_2 queries">
            <h2>Any queries?</h2>
            <div class="d-flex mt-md-4">
              <div><img alt="" src="./assets/images/mail.png" class="mail"></div>
              <div> <h6 class="write mt-4 ml-3">write us<br><a href="">bb@bb.com</a></h6></div>
            </div>
            <div class="d-flex mt-md-4">
              <div><img alt="" src="./assets/images/mail.png" class="mail"></div>
              <div> <h6 class="write mt-4 ml-3">call us<br><a href="">09 876-543-4567</a></h6></div>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <form ngNativeValidate (submit)="completeSignUp()">
          <div>
            <div class="sign_form1">
              <h4 class="my-md-4 text-center">FEW MORE DETAILS</h4>
              <div>
                <div class="col-md-12 mb-3 text-center">
                  <img alt="" class="img-fluid rounded-circle" src="./assets/images/profileplaceholder.png" *ngIf="!profileImage">
                  <img alt="" class="img-fluid rounded-circle" [src]="assetsUrl + profileImage" *ngIf="profileImage">
                  <span class="fa fa-pencil-square-o editImage"> </span>
                  <input type="file" class="hideChooseFile" (change)="uploadProfileImage($event)">
                </div>
                <div class="modal fade" id="cropImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Crop and Upload</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div>
                          <image-cropper
                            [imageChangedEvent]="imageChangedEvent"
                            [aspectRatio]="2/2"
                            format="png, jpg"
                            (imageCropped)="imageCropped($event)"
                            (imageLoaded)="imageLoaded()"
                            (cropperReady)="cropperReady()"
                            (loadImageFailed)="loadImageFailed()"
                          ></image-cropper>
                        </div>
                        <!--                      <img [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'" />-->
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="uploadProfileImage($event)">Upload</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text form_user2" id="basic-addon1"><img alt="" src="./assets/images/user.png" class="user"></span>
                  </div>
                  <input type="text" class="form-control form_user" placeholder="Enter First Name"
                         name="first" [(ngModel)]="completeSignUpObj.first_name" aria-label="Username" aria-describedby="basic-addon1" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text form_user2" id="basic-addon2"><img alt="" src="./assets/images/user.png" class="user"></span>
                  </div>
                  <input type="text" class="form-control form_user" placeholder="Enter Last Name ..." name="last"
                         [(ngModel)]="completeSignUpObj.last_name" aria-label="Username" aria-describedby="basic-addon2" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text form_user2" id="basic-addon3"><img alt="" src="./assets/images/phone.png" class="user"></span>
                  </div>
                  <div class="dropdown" style="width: 73px;">
                    <select name="phone_id"  [(ngModel)]="completeSignUpObj.phone_id" style=" border: 0ch;height: 54px;width: 73px;color: grey;background-color:rgba(233, 229, 229, 0.6);">
                      <option value="" class="greenText">+91</option>
                      <option [value]="country.phoneCode" *ngFor="let country of allCountries">{{country.phoneCode}}</option>
                    </select>
                  </div>
                  <input type="text" class="form-control form_user" placeholder="Enter Phone Number" name="phone"
                           [(ngModel)]="completeSignUpObj.phone" maxlength="11" aria-label="Username" aria-describedby="basic-addon3">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text form_user2" id="basic-addon4"><img alt="" src="./assets/images/globe.png" class="user"></span>
                  <select class="form-control drop" name="country" (change)="getStates()" [(ngModel)]="completeSignUpObj.country_id" required>
                    <option value="" class="greenText">Select Country</option>
                    <option [value]="country.id" *ngFor="let country of allCountries">{{country.name}}</option>
                  </select>
                </div>

                <div class="input-group mb-3">
                  <span class="input-group-text form_user2" id="basic-addon5"><img alt="" src="./assets/images/globe.png" class="user"></span>
                  <select class="form-control drop" name="state" (change)="getCities()"  [(ngModel)]="completeSignUpObj.region_id" required>
                    <option value="" class="greenText">Select State / Region</option>
                    <option [value]="reg.id" *ngFor="let reg of allStates">{{reg.name}}</option>
                  </select>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text form_user2" id="basic-addon6"><img alt="" src="./assets/images/globe.png" class="user"></span>
                  <select class="form-control drop" name="city" [(ngModel)]="completeSignUpObj.city_id" required>
                    <option value="" class="greenText">Select City</option>
                    <option [value]="city.id" *ngFor="let city of allCities">{{city.name}}</option>
                  </select>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text form_user2" id="basic-addon7"><img alt="" src="./assets/images/password.png" class="user"></span>
                  </div>
                  <input type="text" class="form-control form_user" disabled name="referral" [(ngModel)]="completeSignUpObj.referral_code" placeholder="Enter Referral Code" aria-label="Username" aria-describedby="basic-addon7">
                </div>
              </div>
              <div class="text-center my-4">
                <button class="btn btn-primary btn_login" type="submit">Create My Profile</button>
              </div>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
