    <div class="container container-size mt-5">
      <div class="row">
        <div class="col-md-2 mt-4">
          <a routerLink="/teacher/apply/introduction"><div class="card text-center cardTab ">
            <div class="text-center">
              <img alt="info" src="./assets/images/icon/info.png" width="40">
            </div>
            <h5>{{'Introduction' | translate}}</h5>
          </div>
          </a>
          <a routerLink="/teacher/apply/experience"><div class="card text-center cardTab">
            <div class="text-center">
              <img alt="info" src="./assets/images/icon/suitcase.png" width="40">
            </div>
            <h5>{{'Experience' | translate}}</h5>
          </div>
          </a>
          <a routerLink="/teacher/apply/certifications"><div class="card text-center cardTab cardTabSelected">
            <div class="text-center">
              <img alt="info" src="./assets/images/icon/medal.png" width="40">
            </div>
            <h5>{{'Certification' | translate}}</h5>
          </div>
          </a>
          <a routerLink="/teacher/apply/academic"><div class="card text-center cardTab">
            <div class="text-center">
              <img alt="info" src="./assets/images/icon/graduate.png" width="40">
            </div>
            <h5>{{'Academics' | translate}}</h5>
          </div>
          </a>
        </div>
        <div class="col-md-10">
          <i class="italicStyle"></i>
          <div class="steps">
            <div class="progress-line">
              <ul class="list-inline">
                <a routerLink="/teacher/apply/introduction"><li class="first active">
                  <div class="circle"><div class="circle inner-circle"></div></div>
                </li></a>
                <a routerLink="/teacher/apply/experience"><li class="middle active">
                  <div class="circle"><div class="circle inner-circle"></div></div>
                </li></a>
                <a><li class="last active">
                  <div class="circle"><div class="circle inner-circle"></div></div>
                </li></a>
                <a routerLink="/teacher/apply/academic"><li class="final">
                  <div class="circle"><div class="circle inner-circle"></div></div>
                </li></a>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="headerCard">
              <div class="row">
                <div class="col-md-6 col-6">
                  <h4>{{'CERTIFICATIONS' | translate}}</h4>
                </div>
                <div class="col-md-6 text-right">
                  <a (click)="guide()"><img alt="" src="./assets/images/icon/guide.png" width="30"></a>
                </div>
              </div>
            </div>
            <div class="card-body head">
              <div *ngIf="certificateAllData[0]">
              <div class="row mb-3" *ngFor="let cert of certificateAllData">
                <div class="col-md-2">
                  <div class="card p-3 cardBorderExperience">
                    <div class="text-center">
                      <img alt="job" src="./assets/images/icon/medal.png" width="35">
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <h5 class="experienceHeading">{{cert.certificateTitle}}</h5>
                  <h6 class="text-light experienceHeading">{{cert.instituteName}}</h6>
                  <h6 class="text-light experienceHeading">{{cert.startYear | date: 'd MMM, yy'}} - {{cert.endYear | date: 'd MMM, yy'}}</h6>
                </div>
                <div class="col-md-2">
                  <div class="row m-0">
                    <div class="col">
                      <a href="javascript: void(0)" (click)="getSingleCertificate(cert.id)"><img src="./assets/images/icon/edit.png" alt="edit" width="20"></a>
                    </div>
                    <div class="col">
                      <a href="javascript: void(0)" (click)="deleteCertificate(cert.id)"><img src="./assets/images/icon/close.png" alt="delete" width="20"></a>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <form ngNativeValidate (submit)="addCertifications()">
              <div class="row">
                <div class="form-group col-md-12 mt-4">
                  <label for="instName">{{'InstitutionName*' | translate}}</label>
                  <input type="text" id="instName" name="instName" [(ngModel)]="certObj.institute_name" placeholder="{{'Ex:RonaldoPianoClasses' | translate}}" class="form-control" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="role">{{'CertificationTitle*' | translate}}</label>
                  <input type="text" class="form-control" name="title" [(ngModel)]="certObj.certificate_title" id="role" placeholder="{{'Ex:PianoLessons' | translate}}" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="location">{{'GuideName'| translate}}</label>
                  <input type="text" class="form-control" name="guide" [(ngModel)]="certObj.guide_name" id="location" placeholder="{{'Ex:RobertWadra' | translate}}">
                </div>
                <div class="form-group col-md-6">
                  <label for="start">{{'Starting Date' | translate}}</label>
                  <input type="date" class="form-control" id="start" name="start_year" [max]="maximumDateStart" [(ngModel)]="certObj.start_year">
                </div>
                <div class="form-group col-md-6">
                  <label for="end">{{'Ending Date' | translate}}</label>
                  <input type="date" class="form-control" id="end" name="end_year" [min]="certObj.start_year" [max]="maximumDateStart" [(ngModel)]="certObj.end_year">
                </div>
                <div class="col-md-6">
                  <label for="years">{{'ValidUntil*' | translate}}</label>
                  <div class="row m-0">
                  <div class="col-md-6 p-0 form-group">
                    <select class="form-control ageGroupStart"  [(ngModel)]="certObj.valid_year" id="years" name="years" required>
                      <option value="">{{'Year(s)' | translate}}</option>
                      <option [value]="0">0 {{'Year' | translate}}</option>
                      <option [value]="1">1 {{'Year' | translate}}</option>
                      <option [value]="2">2 {{'Years' | translate}}</option>
                      <option [value]="3">3 {{'Years' | translate}}</option>
                      <option [value]="4">4 {{'Years' | translate}}</option>
                      <option [value]="5">5 {{'Years' | translate}}</option>
                      <option [value]="6">6 {{'Years' | translate}}</option>
                      <option [value]="7">7 {{'Years' | translate}}</option>
                      <option [value]="8">8 {{'Years' | translate}}</option>
                      <option [value]="9">9 {{'Years' | translate}}</option>
                      <option [value]="10">10 {{'Years' | translate}}</option>
                      <option [value]="11">11 {{'Years' | translate}}</option>
                      <option [value]="12">12 {{'Years' | translate}}</option>
                      <option [value]="13">13 {{'Years' | translate}}</option>
                      <option [value]="14">14 {{'Years' | translate}}</option>
                      <option [value]="15">15 {{'Years' | translate}}</option>
                      <option [value]="16">16 {{'Years' | translate}}</option>
                      <option [value]="17">17 {{'Years' | translate}}</option>
                      <option [value]="18">18 {{'Years' | translate}}</option>
                      <option [value]="19">19 {{'Years' | translate}}</option>
                      <option [value]="20">20 {{'Years' | translate}}</option>
                      <option [value]="21">21 {{'Years' | translate}}</option>
                      <option [value]="22">22 {{'Years' | translate}}</option>
                      <option [value]="23">23 {{'Years' | translate}}</option>
                      <option [value]="24">24 {{'Years' | translate}}</option>
                      <option [value]="25">25 {{'Years' | translate}}</option>
                    </select>
                  </div>
                  <div class="col-md-6 p-0 form-group">
                    <select class="form-control ageGroupEnd " id="months"  [(ngModel)]="certObj.valid_month" name="months" required>
                      <option value="">{{'Month(s)' | translate}}</option>
                      <option [value]="0">0 {{'Month'  |translate}}</option>
                      <option [value]="1">1 {{'Month' | translate}}</option>
                      <option [value]="2">2 {{'Months' | translate}}</option>
                      <option [value]="3">3 {{'Months' | translate}}</option>
                      <option [value]="4">4 {{'Months' | translate}}</option>
                      <option [value]="5">5 {{'Months' | translate}}</option>
                      <option [value]="6">6 {{'Months' | translate}}</option>
                      <option [value]="7">7 {{'Months' | translate}}</option>
                      <option [value]="8">8 {{'Months' | translate}}</option>
                      <option [value]="9">9 {{'Months' | translate}}</option>
                      <option [value]="10">10 {{'Months' | translate}}</option>
                      <option [value]="11">11 {{'Months' | translate}}</option>
                    </select>
                  </div>
                </div>
                </div>
                <div class="col-md-6 mt-2">
                </div>
                <div class="col-md-6 mt-2">
                  <button class="btn btn-primary btnNext" type="submit">{{'Save' | translate}}</button>
                </div>
                <div class="col-md-6 mt-2 text-right">
                  <button class="noBtn" type="submit"><h5 class="text-purple"> {{'+AddMore' | translate}}</h5></button>
                </div>
                <div class="col-md-6 mt-2">
                  <a routerLink="/teacher/apply/academic"><h5 class="text-purple"> {{'SkipForNow>' | translate}}</h5></a>
                </div>
              </div>
              </form>
            </div>
            <div class="col-md-12 text-right p-0">
              <div class="card-footer">
                <button class="btn btn-primary btnNext" type="button" routerLink="/teacher/apply/academic" *ngIf="loader == false">{{'Next' | translate}}</button>
                <button class="btn btn-primary btnNext" type="button" disabled *ngIf="loader == true"><img alt="" src="./assets/images/loader.gif" width="25"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
