.card {
  border: 1px solid rgba(0,0,0,.125);
}
.cardTab {
  padding: 10px;
  margin-bottom: 20px;
}
.cardTab.cardTabSelected {
  border: 4px solid #fea800;
}
h5 {
  font-size: 1rem;
  font-weight: 500;
  padding-top: 10px;
}
.teachingHeading {
  color: white;
  font-weight: bold;
  text-align: center;
}
.marginTop {
  margin-top: 10rem;
}
.cardNav {
  border-radius: 15px;
}
.nav-link {
  padding: 1.5rem 3rem!important;
  color: #000000;
  font-weight: 500;
}
.nav .nav-item a.nav-link:active {
  background-color: #fea800!important;
  color: white;
}
.container.container-size {
  max-width: 1000px;
}
.container.container-size .card {
  border-radius: 12px;
}
.noBtn {
  border: unset;
  border-radius: unset;
  margin: unset;
  background-color: unset;
  color: #7C48C4;
}
.form-control.ageGroupStart {
  border-radius: 50px 0 0 50px!important;
  height: 50px;
}
.form-control.ageGroupEnd {
  border-radius: 0 50px 50px 0!important;
  height: 50px;
}
.container.container-size .card .headerCard {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
}
.container.container-size .card .card-body.head {
  border-top: 1px solid #7C48C4 ;
  max-height: 700px;
  overflow-x: auto;
}

select.form-control {
  border-radius: 30px!important;
  height: 50px;
}

input.form-control {
  border-radius: 30px!important;
  height: 50px
}
textarea.form-control {
  border-radius: 20px!important;
}
label {
  color: #999;
}
.text-light {
  color: #999!important;
}
.cardUpload {
  background-color: #f4f4f4;
  padding: 30px;
  border: unset;
}

.card-footer {
  background-color: white;
  border-top: 1px solid#7C48C4;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.btnNext {
  border-radius: 50px;
  padding: 10px 45px 10px 45px;
  background: #7C48C4;
  border: 1px solid;
}
.italicStyle {
  padding-left: 10px;
  font-size: 12px;
  color: white;
}
.cardBorderExperience {
  border: 3px solid #7C48C4;
}
.experienceHeading{
  padding-top: 2px;
  margin-bottom: 4px;
}
.text-purple {
  color: #7C48C4;
  text-decoration: underline;
  font-size: 20px;
}
/*/////////////////////// dots*/
.steps {
  width: 300px;
  height: 50px;
  position: absolute;
  right: 50px;
  top: -25px;
}

.steps .progress-line {
  top: 50%;
  left: 5%;
  position: absolute;
  background-color: #cdcfd3;
  width: 100%;
  height: 2px;
  z-index: 10;
}

.steps .circle {
  width:20px;
  height:20px;
  border-radius:250px;
  border: 0;
  background:#fff;
  text-align: center;
  position: absolute;
  top: -30%;
  z-index: 20;
}

.steps .inner-circle {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  position: absolute;
  top: 2% !important;
  left: 0% !important;
  border: 0;
}

.steps .step-id {
  color: #6a6c6f;
  font-size: 90%;
  text-align: center;
}

.steps .list-inline li {
  width: 50px;
  position: relative;
  padding: 30px 0 0 0;
  margin: 0;
  display: inline-block;
  float: left;
  cursor: pointer;
}

.steps .list-inline { margin: 0; padding: 0; }
.steps .list-inline li.first .circle { left: -10%; }
.steps .list-inline li.middle .circle { left: 40px; }
.steps .list-inline li.last .circle { left: 88px; }
.steps .list-inline li.final .circle { left: 135px; }
.steps .list-inline li.active { cursor: default; }
.steps .list-inline li.active .inner-circle { background-color: #fea800 !important; }
.steps .list-inline li.first .step-id { margin-left: -100%; }
.steps .list-inline li.last .step-id { margin-left: 85%; }
